<app-modal>
	<div class="dialog-header">
		<h2>Database maintenance</h2>
		<a
			href="#"
			role="button"
			aria-label="Close"
			class="close-dialog"
			(click)="close(); (false)"
			>&times;
		</a>
	</div>
	<div class="dialog-message">
		<form [formGroup]="maintenanceForm" (ngSubmit)="delete()">
			<div class="info-box">
				<i-feather name="info"></i-feather>
				<div>
					If you want to delete all history entries type "0" in the input below.
				</div>
			</div>
			<div style="position: relative">
				<div
					class="inputgroup"
					style="margin-top: 2rem; position: relative"
					formGroupName="historyDays"
				>
					<input
						type="checkbox"
						style="margin-left: 0"
						id="deleteHistory"
						formControlName="enabled"
					/>
					<label class="label" for="deleteHistory"></label>
					<label style="display: flex; flex-direction: column" class="complex-label" for="deleteHistory">
						<span
							>Delete history entries older than (days):</span>
						<span style="color: #63797d">Range: 0-999</span>
					</label>
					<input
						id="historyDays"
						data-testid="history-days"
						type="number"
						[attr.aria-invalid]="
							isControlInvalid(maintenanceForm.get('historyDays'))
						"
						aria-describedby="history-days-invalid"
						class="number"
						formControlName="value"
						(keydown)="onKeyDown($event)"
						(paste)="$event.preventDefault()"
						(input)="onNumberChange($event, 'historyDays', 3)"
					/>
				</div>
				@if (isControlInvalid(maintenanceForm.get('historyDays'))) {
					<div class="validation-error" id="history-days-invalid">
						Invalid value
					</div>
				}

				<div
					class="inputgroup"
					style="margin-top: 2rem"
					formGroupName="emptyRecycleBin"
				>
					<div style="display: flex; flex-direction: column">
						<input
							type="checkbox"
							style="margin-left: 0"
							id="emptyRecycleBin"
							formControlName="enabled"
						/>
						<label class="label" for="emptyRecycleBin">Empty recycle bin</label>
					</div>
				</div>
				<button
					type="submit"
					class="primary-btn"
					[disabled]="cleaningInProgress"
				>
					Delete
				</button>
				@if (cleaningInProgress) {
					<div class="overlay"></div>
				}
			</div>
		</form>
	</div>
	<div class="footer-container">
		<button #autofocus type="button" class="secondary-btn" (click)="close()">
			Close
		</button>
	</div>
</app-modal>
