$handle-width-px: 4;

// COLORS
$blue-400: #364f63;
$blue-300: #47779e;
$blue-250: #6191b8;
$blue-200: #17adba;
$blue-100: #CAE6E3;

$black-900: #191d1e;
$black-800: #2C2C2C;

$grey-600: #3f3f3f;
$grey-500: #65676b;
$grey-400: #63797d;
$grey-300: #ccc;
$grey-200: #dadada;
$grey-100: #f1f3f4;

$white: #fff;

$jungle-green: #21A67A;
$bright-red: #a80000;
$red-orange: #ff3333;

$barberry: #eccc14;
$tulip-tree: #f0a544;

// LAYOUT
$menu-bar-height: 2rem;
$toolbar-height: 5rem;
$workspace-header-height: 2.5rem;

$layout: (
  "app": calc(100vh - $menu-bar-height),
  "workspace": calc(100vh - $menu-bar-height - $toolbar-height),
  "entry-table": calc(100vh - $menu-bar-height - $toolbar-height - $workspace-header-height)
);

// OTHER
$handle-width: unquote($handle-width-px + 'px');