<div class="container">
	<div class="section-header">Password generator options</div>
	<form [formGroup]="encryptionForm">
		<app-number-input
			formControlName="passwordLength"
			label="Password length"
			errors="Value must be between 6 and 32"
			[maxLength]="2"
		>
		</app-number-input>
		<app-toggle-input
			formControlName="uppercase"
			label="Uppercase letters"
		></app-toggle-input>
		<app-toggle-input
			formControlName="lowercase"
			label="Lowercase letters"
		></app-toggle-input>
		<app-toggle-input
			formControlName="specialChars"
			label="Special characters"
		></app-toggle-input>
		<app-toggle-input
			formControlName="numbers"
			label="Numbers"
		></app-toggle-input>
	</form>
</div>
