<div class="table">
	<div class="table-header">
		<div class="row">
			<div>Group</div>
			<div>Title</div>
			<div>Username</div>
			<div>Occurrences</div>
		</div>
	</div>
	<div class="table-body">
		@for (entry of entries; track entry.id) {
			<div class="row">
				<div>{{ entry.groupName }}</div>
				<div>{{ entry.title }}</div>
				<div>{{ entry.username }}</div>
				<div>{{ entry.occurrences }}</div>
				<div>
					<a href="#" aria-label="Edit" (click)="editEntry(entry.id); (false)"
						><i-feather name="edit"></i-feather
					></a>
				</div>
			</div>
		}
	</div>
</div>
