@import 'themes/light/variables';
@import 'mixins';

.table {
	margin-bottom: 2rem;

	.table-header {
		@include font-medium;
		border-top: 0;
		border-bottom: 0;

		.row:last-child {
			border-bottom: 0;
		}
	}

	.row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 2rem;
		column-gap: 1rem;
		align-items: center;
		border-top: 1px solid var(--border-color);

		&:last-child {
			border-bottom: 1px solid var(--border-color);
		}

		> div {
			padding: 0.25rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			align-items: center;

			i-feather {
				width: 1.25rem !important;
				height: 1.25rem !important;
				margin-right: 0 !important;
			}
		}
	}
}
