@import 'themes/base-variables';
@import 'mixins';

:host {
	display: flex;
	position: relative;
	z-index: 0;
	font-size: 0.875rem;
	overflow: hidden;
}

.section.quick-actions {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	margin-top: 0.75rem;
}

.details-container {
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	transition: background-color 50ms;

	.content {
		height: 100%;
		border-color: rgba(0, 0, 0, 0);
		transition: border-color 150ms;
		padding: 0 1rem;
		overflow: auto;
		@include scrollbar-hover;

		&:hover {
			border-color: rgba(0, 0, 0, 0.2);
		}

		p {
			margin: 0.25rem 0;
		}

		i-feather {
			color: var(--link-text);
			cursor: pointer;
			margin-left: 0.25rem;
		}
	}
}

.new-update {
	font-size: 0.875rem;
}

.url-alert-icon {
	cursor: pointer;
	color: $red-orange !important;
}

.url-protocol {
	color: $grey-500;
}

.copy {
	display: inline-flex;
	align-items: center;

	&:focus-visible {
		outline: 2px solid $barberry !important;
	}

	i-feather {
		width: 1.25rem !important;
		height: 1.25rem !important;
		color: var(--icon-secondary);

		&:hover {
			color: $blue-300;
		}
	}
}

.section {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	word-break: break-all;
	color: var(--primary-text);

	.pre-wrap {
		white-space: pre-wrap;
	}

	&.column {
		flex-direction: column;
		align-items: flex-start;
	}

	.label {
		color: var(--label-text);
		display: flex;
	}

	a {
		color: var(--link-text);
	}

	.subtype {
		color: $grey-500;
	}
}

.subsection {
	flex: 1;
	margin: 0;
}

.small {
	margin: 2rem 0 1rem;
	text-align: center;

	.section {
		font-size: 0.75rem;
		color: $grey-500;
		margin: 0.25rem 0;

		p {
			margin: 0;
		}
	}
}

.group {
	.section {
		display: block;
		flex: 1;
	}

	p:last-child {
		margin-bottom: 0 !important;
	}
}

.header span {
	max-width: 50%;
}

.header i-feather {
	color: $grey-400;
	margin: 0 0.25rem;
}
