<nav class="main-nav">
	<div class="menu-panel">
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!isAddPossible"
			class="button-secondary add-entry"
			id="add-entry"
			(click)="openAddEntryWindow()">
			<span class="pi pi-plus-circle"></span>
			<div class="label">Add entry</div>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="isDatabaseInSync"
			class="button-secondary save-db"
			(click)="trySaveDatabase()">
			<span class="pi pi-save mr-2"></span>
			<span class="label">Save</span>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isOneEntrySelected)"
			class="button-secondary edit-entry"
			(click)="openEditEntryWindow()">
			<span class="pi pi-pencil mr-2"></span>
			<span class="label">Edit</span>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isAnyEntrySelected)"
			class="button-secondary remove-entry"
			(click)="openDeleteEntryWindow()">
			<span class="pi pi-trash mr-2"></span>
			<span class="label">Remove</span>
		</button>
		<div class="searchbox" #searchbox>
			<input
				role="searchbox"
				type="text"
				[(ngModel)]="searchPhrase"
				class="search"
				placeholder="Search entries" />
			<div class="search-mode">
				<div appDropdown class="dropdown">
					<button appDropdownToggle appMenuItem class="group-mode-btn">
						{{ isGlobalSearchMode ? 'All' : 'Group' }} <span class="pi pi-angle-down"></span>
					</button>
					<div *appDropdownMenu class="dropdown-content right">
						<a href="#" appMenuItem (click)="toggleSearchMode()">{{ isGlobalSearchMode ? 'Group' : 'All' }}</a>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="notifications$ | async as notifications">
			<div appDropdown class="settings dropdown" [ngClass]="{'new': notifications.length}">
				<button appDropdownToggle appMenuItem class="icon-btn">
					<span class="sr-only">Settings</span>
					<div *ngIf="notifications.length" class="badge">{{ notifications.length }} <span class="sr-only">notifications</span></div>
					<span class="pi pi-cog"></span>
				</button>
				<div *appDropdownMenu class="dropdown-content right">
					<a *ngIf="updateAvailable" href="#" appMenuItem (click)="updateAndRelaunch()" class="update-btn">
						Update and restart <span class="version">{{ updateAvailable }}</span>
					</a>
					<a href="#" appMenuItem (click)="openSettings(); false">Settings</a>
				</div>
			</div>
		</ng-container>
	</div>
</nav>