@import 'themes/light/variables';;
@import 'mixins';

:host {
  display: flex;
  position: relative;
  width: 16rem;
  z-index: 0;
}

.sidebar {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .label {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: inherit;
  }

  .separator {
    .quick-actions {
      margin-left: auto;
      margin-right: 1.25rem;
      display: none;

      button {
        background-color: var(--input-bg);
        border: 0;
        width: 1.5rem;
        color: var(--link-text);
        cursor: pointer;
        transition: 50ms color;

        &:hover, &:focus {
          color: var(--primary-text);
        }

        &:last-child {
          margin-right: 0;
        }

        i-feather {
          width: 1.25rem !important;
          height: 1.25rem !important;
        }
      }
    }
  }

  &:hover, &:focus {
    .separator {
      .quick-actions {
        display: flex;
      }
    }
  }

  .group-info {
    font-size: 0.75rem;
    padding: 0 1rem;
    background-color: var(--input-bg);
    border-top: 1px solid var(--border-color);
    position: sticky;
    box-sizing: border-box;
    bottom: 0;
    display: flex;
    align-items: center;
    user-select: none;
    min-height: 2rem;

    div {
      border-right: 1px solid var(--border-color);
      margin: 0 4px;
      padding: 0 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 20%;

      &:first-child {
        justify-content: flex-start;
        flex: 1;
      }

      &:last-child {
        border: 0;
      }
    }
  }

  .rename-group {
    @include font-regular;
    background: $blue-100;
    width: 8rem;
    border: none;
    padding: 6px;
    font-size: 0.875rem;
    color: var(--primary-text);
  }
}

.pi-download {
  margin-right: 0.5rem;
}

.pi-star-fill {
  color: $blue-200;
}

.separator {
  @include font-medium;
  height: 1.875rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--primary-text);
  margin: 0.5rem 0 0.5rem 0;
  padding-left: 0.5rem;
  box-sizing: border-box;
  user-select: none;

  &:focus-visible {
    outline: 2px solid $barberry;
  }

  &:focus-within {
    .quick-actions {
      display: flex !important;
    }
  }

  .add-group {
    padding: 0;
    border-radius: 0.25rem;

    &:focus {
      outline: 2px solid $barberry !important;
    }

    i-feather {
      margin: 0 !important;
    }
  }
}

.group-item {
  user-select: none;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.25rem;
  margin-top: 0;
  margin-right: 0.5rem;
  height: 1rem;

  &:hover {
    background-color: var(--list-item-bg--hover);
  }

  &:focus {
    background-color: var(--list-item-bg--active);
    outline: 1px solid $blue-200;
  }

  &.active {
    background-color: var(--list-item-bg--active);
  }

  .pi {
    margin-right: 0.5rem;
    margin-top: 1px;
  }
}

.scroll-viewport {
  margin: 0;
  padding: 0;
  height: 100%;
  border-color: rgba(0,0,0,0);
  transition: border-color 150ms;
  @include scrollbar-hover;

  &:hover {
    border-color: rgba(0,0,0,0.2);
  }
}

.group-viewport {
  margin: 0.5rem 0.25rem 0 1rem;
  font-size: 0.875rem;

  ::ng-deep .cdk-virtual-scroll-content-wrapper {
    padding-bottom: 0.5rem;
    max-width: 100%;
    overflow: hidden;    
  }

  .group-item {
    margin: 0.25rem;
    margin-right: 1.25rem;


    .group-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.default-groups {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 1rem 0;
  font-size: 0.875rem;
}

.is-dragging-over {
	background-color: var(--list-item-bg--hover) !important;

  // fix flickering - dragleave event being triggered when dragging over child element
  * {
    pointer-events: none;
  }
}