:host ::ng-deep {
    padding: 0 0 1rem;
    display: block;

    .ui-fluid {
        display: flex;
        justify-content: flex-end;
    }

    .ui-inputgroup-addon i {
        line-height: 1.25rem;
    }
}