<form
    #ngForm
    [formGroup]="newEntryForm"
    (ngSubmit)="addNewEntry()">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-bookmark"></i></span>
                <input
                    type="text"
                    formControlName="title"
                    placeholder="Title">         
            </div>
        </div>

        <div class="ui-g-12">
            <div
                class="ui-inputgroup"
                [ngClass]="{'ng-invalid': newEntryForm.get('username').invalid && newEntryForm.get('username').dirty}">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input
                    type="text"
                    formControlName="username"
                    placeholder="Username">         
            </div>
            <div
                *ngIf="newEntryForm.get('username').invalid && newEntryForm.get('username').dirty"
                @fadeSlide
                class="validation-error">
                Username is required
            </div>
        </div>
        
        <div class="ui-g-12">
            <div
                class="ui-inputgroup"
                [ngClass]="{'ng-invalid': newEntryForm.get('value').invalid && newEntryForm.get('value').dirty}">
                <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input
                    type="password"
                    formControlName="value"
                    placeholder="Password">   
            </div>
            <div
                *ngIf="newEntryForm.get('value').invalid && newEntryForm.get('value').dirty"
                @fadeSlide
                class="validation-error">
                Password is required
            </div>
        </div>
                
        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-globe"></i></span>
                <input
                    type="text"
                    formControlName="url"
                    placeholder="Website">      
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-info"></i></span>
                <textarea
                    formControlName="notes"
                    placeholder="Optional note"
                    rows="5">
                </textarea>     
            </div>
        </div>
        <button
            type="submit"
            class="primary-btn">
            Confirm
        </button>
    </div>
</form>