
<div class="brand">
  <div class="brand-logo"></div>
  <h1 class="title">
    fortibit
  </h1>
</div>
<div class="container">
  <form
    #ngForm
    [formGroup]="loginForm"
    (ngSubmit)="onLoginSubmit()">
    <div class="sign-in">
      <div>
        <p
          *ngIf="filePath"
          class="file-path">
          File path: {{ filePath }}
        </p>
        <div
          class="inputgroup"
          [ngClass]="{ 'ng-invalid': passwordControl.invalid && passwordControl.dirty }">
            <span class="inputgroup-addon"><i class="pi pi-key"></i></span>
            <input
              type="password"
              appAutofocus
              formControlName="password"
              placeholder="Password">   
        </div>
        <div
          *ngIf="passwordControl.invalid && passwordControl.dirty"
          class="validation-error">
          Password is required
        </div>
        <div
          *ngIf="isInvalidPassword"
          class="validation-error">
          Password is invalid
        </div>
      </div>
      <button
        type="submit"
        label="OK"
        class="primary-btn">
        Enter
      </button>
    </div>
  </form>
  <div *ngIf="config" class="version">
    v{{ config.version }}
  </div>
</div>