<div class="brand">
  <h1 class="title">
    <img
      [src]="logoURL"
      class="brand-logo"> haslock
  </h1>
</div>
<div class="container">
  <form
    #ngForm
    [formGroup]="loginForm"
    (ngSubmit)="onLoginSubmit()">
    <p-card class="sign-in">
        <div>
          <p
            *ngIf="filePath"
            class="file-path">
            File path: {{ filePath }}
          </p>
          <div
            class="p-inputgroup"
            [ngClass]="{'ng-invalid': passwordControl.invalid && passwordControl.dirty}">
              <span class="p-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
              <input
                type="password"
                appAutofocus
                formControlName="password"
                placeholder="Password">   
          </div>
          <div
            *ngIf="passwordControl.invalid && passwordControl.dirty"
            class="validation-error">
            Password is required
          </div>
          <div
            *ngIf="isInvalidPassword"
            class="validation-error">
            Password is invalid
          </div>
      </div>
      <p-footer>
        <button
          type="submit"
          label="OK"
          class="primary-btn">
          Enter
        </button>
      </p-footer>
    </p-card>
  </form>
  <div class="version">
    v{{ version }}
  </div>
</div>