
<div class="brand">
  <div class="brand-logo"></div>
  <h1 class="title">
    fortibit
  </h1>
</div>
<div class="container">
  <form
    #ngForm
    [formGroup]="loginForm"
    (ngSubmit)="onLoginSubmit()">
    <div class="sign-in">
      <div>
        <p
          *ngIf="filePath"
          class="file-path">
          <span>File path:</span> {{ filePath }}
        </p>
        <div
          class="password inputgroup"
          [ngClass]="{ 'ng-invalid': passwordControl.invalid && passwordControl.dirty }">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              aria-required="true"
              aria-describedby="invalid-password-error"
              [attr.aria-invalid]="passwordControl.invalid && passwordControl.dirty"
              appAutofocus
              formControlName="password"
              placeholder="Password">
              <button type="button"
                aria-label="Show password"
                [attr.aria-pressed]="passwordVisible"
                (click)="togglePasswordVisibility()"
                class="inputgroup-addon show-password"
                [ngClass]="{'active': passwordVisible}">
                <i class="pi" [ngClass]="passwordVisible ? 'pi-eye-slash' : 'pi-eye'"></i>
              </button>
        </div>
        <div
          *ngIf="passwordControl.invalid && passwordControl.dirty"
          id="invalid-password-error"
          class="validation-error">
          <ng-container *ngIf="passwordControl.hasError('required')">
            Password is required
          </ng-container>
          <ng-container *ngIf="passwordControl.hasError('invalidPassword')">
            Password is invalid
          </ng-container>
        </div>
      </div>
      <div class="action-container">
        <div>
          <a href="#" (click)="createNew(); false" class="create-new">
            <i class="pi pi-file-o"></i> Create new
          </a>
        </div>
        <div>
          <button
            type="submit"
            label="OK"
            class="primary-btn">
            Enter
          </button>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="config" class="version">
    v{{ config.version }}
  </div>
</div>