@import 'variables';
@import 'mixins';

.brand {
  height: 10rem;
  background-image: linear-gradient(270deg, $picton-blue, $curious-blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1.title {
    color: $white;
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  .brand-logo {
    height: 3rem;
    width: 3rem;
    margin-right: 0.6rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='fill: %23fff' xml:space='preserve'%3E%3Cpath d='M394.667,214.421v-75.755C394.667,62.208,332.459,0,256,0S117.333,62.208,117.333,138.667v75.755 c-24.32,4.949-42.667,26.496-42.667,52.245v192C74.667,488.064,98.581,512,128,512h256c29.419,0,53.333-23.936,53.333-53.333v-192 C437.333,240.917,418.987,219.371,394.667,214.421z M279.659,378.24l8.235,57.579c0.448,3.072-0.469,6.165-2.496,8.491 c-2.027,2.325-4.971,3.691-8.064,3.691h-42.667c-3.093,0-6.037-1.344-8.064-3.669s-2.944-5.44-2.496-8.491l8.235-57.579 c-17.835-8.917-29.675-27.328-29.675-47.595c0-29.397,23.915-53.333,53.333-53.333s53.333,23.936,53.333,53.333 C309.333,350.933,297.493,369.344,279.659,378.24z M330.667,213.333H181.333v-74.667C181.333,97.493,214.827,64,256,64 s74.667,33.493,74.667,74.667V213.333z'/%3E%3C/svg%3E%0A");
  
    &.animate-invalid {
      animation-duration: 600ms;
      animation-name: shake;
    }
  }
}

.sign-in {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto 0;

  .file-path {
    margin: 0.5rem 0 1rem;
    word-break: break-all;
    color: $pickled-bluewood;
    font-size: 0.875rem;

    span {
      @include font-medium;
    }
  }
}

.version {
  display: flex;
  justify-content: center;
  color: $grey-80;
  margin-top: 1rem;
}

.primary-btn {
  width: 5rem;
  margin-left: auto;
  margin-right: 0;
}

.password.inputgroup {
  align-items: center;
}

.show-password {
  right: 1rem;
  z-index: 1;
  cursor: pointer;
  color: $gumbo;

  &:focus-visible:not(:hover) {
    outline: 3px solid $barberry !important;
  }

  &:hover, &.active {
    color: $curious-blue;
  }

  i {
    padding-top: 0.25rem;
    font-size: 1.25rem;
  }
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;

  button {
    margin-top: 0;
  }

  .link {
    display: flex;
    align-items: center;
    @include font-medium;
    font-size: 0.875rem;
    color: $pickled-bluewood;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 0.75rem;

    &:hover, :focus {
      color: $curious-blue;
    }

    .pi {
      margin-right: 0.5rem;
    }
  }
}

@keyframes shake {
  0% {transform: translateY(0);}
  10% {transform: translateY(-3px) rotate(-15deg);}
  20% {transform: translateY(0);}
  30% {transform: translateY(3px) rotate(0deg);}
  40% {transform: translateY(0);}
  50% {transform: translateY(-3px) rotate(10deg);}
  60% {transform: translateY(0);}
  70% {transform: translateY(3px);}
  80% {transform: translateY(0);}
  90% {transform: translateY(-3px) rotate(5deg);}
  100% {transform: translateY(0px) rotate(0);}
}