@import 'themes/light/variables';;
@import 'mixins';

.add-entry {
	@include toolbar-btn;
	margin: 0 0.5rem 0 1rem;
	min-width: 10rem;
	color: var(--add-entry-cta-text);
	background-color: var(--add-entry-cta-bg);

	&:disabled {
		cursor: default;
		background-color: var(--add-entry-disabled-bg);
		color: var(--toolbar-disabled-font);
	}

	&:hover:not(:disabled) {
		color: white;
		background-color: var(--add-entry-cta-bg-hover);
	}

	i-feather {
		width: 16px !important;
		height: 16px !important;
	}
}

.save-db {
	i-feather {
		width: 15px !important;
		height: 15px !important;
	}
}

.edit-entry {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.remove-entry {
	margin-right: 0.5rem;
}

.main-nav {
	width: 100%;
	height: $toolbar-height;
  background-color: var(--secondary-bg);
	display: flex;
	position: relative;
	z-index: 3;

	.menu-panel {
		flex: 1;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.searchbox {
		display: flex;
		align-items: center;
		position: relative;
	
		.search {
			font-size: 0.875rem;
			border: none;
			border-radius: 0.25rem;
			padding: 0.913rem;
			height: 100%;
			width: 10rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			z-index: 100;
			position: relative;

			&::-webkit-input-placeholder {
				@include font-medium;
				font-size: 0.875rem;
				color: lighten($grey-400, 15);
			}
		}
	
		.search-mode {
			display: flex;
			align-items: center;
			background-color: var(--input-bg);
			height: 46px;
			color: var(--primary-font);
			position: relative;
			z-index: 100;
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;

			.clear-search {
				cursor: pointer;
				&::before {
					margin: 0;
				}

				&:focus:not(:hover) {
					outline: 3px solid $barberry;
				}
			}

			.dropbtn {
				@include font-medium;
				color: $grey-400;
				padding-top: 1rem;
				padding-bottom: 0.9rem;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				align-items: flex-end;
				background-color: var(--input-bg);
				text-transform: uppercase;
				margin-left: 0.25rem;

				&:hover {
					color: var(--primary-font);
					background-color: var(--toolbar-dropdown-bg);
				}

				&:focus, &.expanded {
					background-color: var(--toolbar-dropdown-bg) !important;
				}

				&.expanded {
					border-bottom-right-radius: 0;
				}
			}

			.dropdown-content {
				border-radius: 0.25rem;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				background-color: var(--toolbar-dropdown-bg);

				li {
					&:hover, &:focus {
						background-color: var(--toolbar-dropdown-item-hover);
					}
				}
			}
		}
	}
}

.group-mode-btn {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;

	&.expanded {
		border-bottom-right-radius: 0;
	}

	i-feather {
		width: 1rem !important;
		height: 1rem !important;
	}

	&:hover, &:focus {
		background-color: var(--list-item-active);
	}

	&:focus:not(:hover) {
		outline: 3px solid $barberry !important;
	}

	i-feather {
		margin-left: 0.5rem;
	}
}