<nav class="main-nav">
	<div class="menu-panel">
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!isAddPossible"
			class="secondary-btn add-entry"
			id="add-entry"
			(click)="openAddEntryWindow()">
			<i-feather name="plus-circle"></i-feather>
			<div class="label">Add entry</div>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="isDatabaseInSync"
			class="secondary-btn save-db"
			(click)="trySaveDatabase()">
			<i-feather name="save"></i-feather>
			<span class="label">Save</span>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isOneEntrySelected)"
			class="secondary-btn edit-entry"
			(click)="openEditEntryWindow()">
			<i-feather name="edit"></i-feather>
			<span class="label">Edit</span>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isAnyEntrySelected)"
			class="secondary-btn remove-entry"
			(click)="openDeleteEntryWindow()">
			<i-feather name="trash"></i-feather>
			<span class="label">Remove</span>
		</button>
		<div class="searchbox">
			<input
				#searchInput
				role="searchbox"
				type="text"
				[(ngModel)]="searchPhrase"
				(keydown)="handleSearchboxKeydown($event)"
				class="search"
				[attr.placeholder]="isGlobalSearchMode ? 'Search all' : 'Search in group' " />
			<div class="search-mode">
				<i-feather
					role="button"
					tabindex="0"
					(click)="resetSearch()"
					(keydown.enter)="resetSearch()"
					[style.visibility]="searchPhrase?.length ? 'visible' : 'hidden'"
					name="x-circle"
					class="clear-search">
				</i-feather>
				<i-feather
					role="button"
					tabindex="0"
					name="globe"
					[attr.aria-label]="searchMode"
					[appTooltip]="searchMode"
					container="body"
					class="global-search-icon"
					[ngClass]="{'active': isGlobalSearchMode}"
					(click)="toggleSearchMode()"
					(keydown.enter)="toggleSearchMode()">
				</i-feather>
			</div>
		</div>
		<app-settings-button></app-settings-button>
	</div>
</nav>