<nav class="main-nav">
	<div class="menu-panel">
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!isAddPossible"
			class="secondary-btn add-entry"
			id="add-entry"
			(click)="openAddEntryWindow()"
		>
			<i-feather name="plus-circle"></i-feather>
			<div class="label">Add entry</div>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="isDatabaseInSync"
			class="icon-btn save-db"
			(click)="trySaveDatabase()"
			appTooltip="Save"
			container="body"
		>
			<i-feather name="save" style="padding-top: 9px"></i-feather>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isOneEntrySelected)"
			class="icon-btn edit-entry"
			(click)="openEditEntryWindow()"
			appTooltip="Edit"
			container="body"
		>
			<i-feather name="edit"></i-feather>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isAnyEntrySelected)"
			class="icon-btn remove-entry"
			style="margin-right: 0.5rem"
			(click)="openDeleteEntryWindow()"
			appTooltip="Remove"
			container="body"
		>
			<i-feather name="trash"></i-feather>
		</button>
		<span
			style="
				width: 1px;
				background-color: var(--border-color);
				display: flex;
				height: 70%;
				align-self: center;
			"
		></span>
		<button
			data-prevent-entry-deselect
			type="button"
			class="icon-btn"
			style="margin-left: 0.5rem"
			appTooltip="Security hub"
			container="body"
		>
			<i-feather name="shield"></i-feather>
		</button>
		<app-settings-button></app-settings-button>
		<div class="searchbox">
			<input
				#searchInput
				role="searchbox"
				type="text"
				[(ngModel)]="searchPhrase"
				(keydown)="handleSearchboxKeydown($event)"
				class="search"
				[attr.placeholder]="
					isGlobalSearchMode ? 'Search all' : 'Search in group'
				"
			/>
			<div class="search-mode">
				<i-feather
					role="button"
					tabindex="0"
					(click)="resetSearch()"
					(keydown.enter)="resetSearch()"
					[style.visibility]="searchPhrase?.length ? 'visible' : 'hidden'"
					name="x-circle"
					class="clear-search"
				>
				</i-feather>
				<i-feather
					role="button"
					tabindex="0"
					name="globe"
					[attr.aria-label]="searchMode"
					[appTooltip]="searchMode"
					container="body"
					class="global-search-icon"
					[ngClass]="{ active: isGlobalSearchMode }"
					(click)="toggleSearchMode()"
					(keydown.enter)="toggleSearchMode()"
				>
				</i-feather>
			</div>
		</div>
	</div>
</nav>
