<nav class="main-nav">
	<div class="menu-panel">
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!isAddPossible"
			class="button-secondary add-entry"
			id="add-entry"
			(click)="openAddEntryWindow()">
			<i-feather name="plus-circle"></i-feather>
			<div class="label">Add entry</div>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="isDatabaseInSync"
			class="button-secondary save-db"
			(click)="trySaveDatabase()">
			<i-feather name="save"></i-feather>
			<span class="label">Save</span>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isOneEntrySelected)"
			class="button-secondary edit-entry"
			(click)="openEditEntryWindow()">
			<i-feather name="edit"></i-feather>
			<span class="label">Edit</span>
		</button>
		<button
			data-prevent-entry-deselect
			type="button"
			[disabled]="!(isAnyEntry && isAnyEntrySelected)"
			class="button-secondary remove-entry"
			(click)="openDeleteEntryWindow()">
			<i-feather name="trash"></i-feather>
			<span class="label">Remove</span>
		</button>
		<div class="searchbox">
			<input
				#searchInput
				role="searchbox"
				type="text"
				[(ngModel)]="searchPhrase"
				class="search"
				[attr.placeholder]="isGlobalSearchMode ? 'Search all' : 'Search in group' " />
			<div class="search-mode">
				<i-feather
					role="button"
					tabindex="0"
					(click)="resetSearch()"
					(keydown.enter)="resetSearch()"
					[style.visibility]="searchPhrase?.length ? 'visible' : 'hidden'"
					name="x-circle"
					class="clear-search">
				</i-feather>
				<ul appDropdown class="dropdown">
					<button appDropdownToggle appMenuItem class="group-mode-btn">
						<i-feather name="chevron-down"></i-feather>
					</button>
					<div *appDropdownMenu class="dropdown-content right">
						<li appMenuItem (click)="toggleSearchMode()">{{ isGlobalSearchMode ? 'Group' : 'All' }}</li>
					</div>
				</ul>
			</div>
		</div>
		<app-settings-button></app-settings-button>
	</div>
</nav>