@import 'themes/light/variables';
@import 'mixins';

.add-entry {
	@include toolbar-btn;
	margin: 0 1rem 0 1rem;
	min-width: 10rem;
	color: var(--add-entry-cta-text);
	background-color: var(--add-entry-cta-bg);

	&:disabled {
		cursor: default;
		background-color: var(--secondary-btn-bg--disabled);
		color: var(--secondary-btn-text--disabled);
	}

	&:hover:not(:disabled),
	&:focus {
		color: white;
		background-color: var(--add-entry-cta-bg--hover);
	}

	i-feather {
		width: 16px !important;
		height: 16px !important;
	}
}

.remove-entry {
	margin-right: 0.5rem;
}

.main-nav {
	width: 100%;
	height: $toolbar-height;
	background-color: var(--primary-bg);
	display: flex;
	position: relative;
	z-index: 3;

	box-sizing: border-box;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);

	.menu-panel {
		flex: 1;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		padding: 1rem 0;
	}

	.searchbox {
		display: flex;
		align-items: center;
		position: relative;
		border: 1px solid var(--border-color);
		border-radius: 0.25rem;
		margin-right: 1rem;
		flex: 1;

		.search {
			font-size: 0.875rem;
			border: none;
			border-radius: 0.25rem;
			padding: 0 1rem;
			height: 100%;
			flex: 1;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			z-index: 100;
			position: relative;

			&::-webkit-input-placeholder {
				@include font-medium;
				font-size: 0.875rem;
				color: lighten($grey-400, 15);
			}
		}

		.search-mode {
			display: flex;
			align-items: center;
			background-color: var(--input-bg);
			height: 44px;
			color: var(--primary-text);
			position: relative;
			z-index: 100;
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;

			.clear-search {
				width: 1.25rem !important;
				height: 1.25rem !important;
				border: 1px solid transparent;
				border-radius: 2px;
				outline: none;
				cursor: pointer;

				&::before {
					margin: 0;
				}

				&:focus:not(:hover) {
					border-color: $barberry;
				}
			}
		}
	}
}

.global-search-icon {
	border: 2px solid transparent;
	width: 1.25rem !important;
	height: 1.25rem !important;
	margin-right: 1rem !important;
	border-radius: 2px;
	cursor: pointer;
	outline: none;

	::ng-deep svg {
		stroke: var(--dropdown-text--disabled);
	}

	&:focus:not(:hover) {
		border-color: $barberry;
	}

	&.active {
		border: 2px solid var(--link-text);
		::ng-deep svg {
			stroke: var(--primary-text);
		}
	}
}

@media screen and (max-width: 859px) {
	.secondary-btn:not(.add-entry) {
		padding: 1rem;

		.label {
			display: none;
		}

		i-feather {
			margin-right: 0 !important;
		}
	}
}
