<nav class="main-nav">
    <h2 class="brand"><img src="../../../assets/images/lock.svg" class="brand-logo"> haslock</h2>
    <div class="menu-panel">
        <button
            pButton
            type="button"
            label="Add entry"
            class="ui-button-success"
            icon="pi pi-plus"
            iconPos="left"
            (click)="openNewEntryWindow()">
        </button>
        <button
            pButton
            type="button"
            class="ui-button-info"
            icon="pi pi-save"
            iconPos="left"
            [disabled]="!isAnyPassword || isDateSaved"
            (click)="saveDatabase()">
        </button>
        <button
            pButton
            type="button"
            class="ui-button-warning"
            icon="pi pi-pencil"
            iconPos="left"
            [disabled]="!isRowSelected"
            (click)="openEditEntryWindow()">
        </button>
        <button
            pButton
            type="button"
            class="ui-button-danger"
            icon="pi pi-trash"
            iconPos="left"
            [disabled]="!isRowSelected"
            (click)="openDeleteEntryWindow()">
        </button>
        <input type="text" (input)="searchEntries($event)" pInputText placeholder="Search" />
    </div>
</nav>

<router-outlet></router-outlet>

<p-toast position="bottom-right" [hideTransitionOptions]="'0ms'">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center; display: flex; align-items: center;">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <div>
                <div style="font-weight: bold;">{{message.summary}}</div>
                <div class="seconds-left" [appStopwatch]="message.life"></div>
            </div>
        </div>
    </ng-template>
</p-toast>
