<nav class="main-nav">
    <h2 class="brand"><img [src]="logoURL" class="brand-logo"> haslock</h2>
    <div class="menu-panel">
        <button
            pButton
            type="button"
            class="add-entry"
            icon="pi pi-plus"
            iconPos="left"
            (click)="openAddEntryWindow()">
        </button>
        <button
            pButton
            type="button"
            label="Save DB"
            icon="pi pi-save"
            class="ui-button-secondary save-db"
            iconPos="left"
            [disabled]="isDateSaved"
            (click)="trySaveDatabase()">
        </button>
        <button
            pButton
            type="button"
            label="Edit"
            icon="pi pi-pencil"
            class="ui-button-secondary edit-entry"
            iconPos="left"
            [disabled]="!isAnyPassword || !isOneRowSelected"
            (click)="openEditEntryWindow()">
        </button>
        <button
            pButton
            type="button"
            label="Remove"
            icon="pi pi-trash"
            class="ui-button-secondary remove-entry"
            iconPos="left"
            [disabled]="!isAnyPassword || !isAnyRowSelected"
            (click)="openDeleteEntryWindow()">
        </button>
        <input type="text" class="search" #search pInputText placeholder="Search database" />
    </div>
</nav>

<router-outlet></router-outlet>

<p-toast position="bottom-right"
    [showTransitionOptions]="'150ms'"
    [showTransformOptions]="'translateX(100%)'"
    [hideTransitionOptions]="'250ms'">
    <ng-template let-message pTemplate="message">
        <div class="toast-outer">
            <div class="toast-inner">
                <div class="toast-text">{{message.summary}}</div>
                <div *ngIf="message.detail === 'clipboard'" class="seconds-left" [appStopwatch]="message.life"></div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-dialog [(visible)]="isConfirmExitDialogShown" [modal]="true" [draggable]="false">
    <p-header>
        Quit haslock
    </p-header>
    <div style="padding: 1rem">
        Are you sure you want to quit? There are unsaved changes
    </div>
    <p-footer>
        <div style="padding: 0.5rem 0">
            <button type="button" class="text-btn" (click)="closeConfirmExitDialog()">
                Cancel
            </button>
            <button type="button" class="text-btn" (click)="exitApp()">
                Quit
            </button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="isConfirmGroupRemoveDialogShown" [modal]="true">
    <p-header>
        Remove group
    </p-header>
    <div style="padding: 1rem">
        Are you sure you want to remove this group?
    </div>
    <p-footer>
        <div style="padding: 0.5rem 0">
            <button type="button" class="text-btn" (click)="closeConfirmGroupRemoveDialog()">
                Cancel
            </button>
            <button type="button" class="text-btn" (click)="removeGroup()">
                Remove
            </button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="isRemoveEntryDialogShown" [modal]="true">
    <p-header>
        Remove entry
    </p-header>
    <div style="padding: 1rem">
        <ng-container *ngIf="isOneRowSelected; else multiRemove">
            Are you sure you want to remove this entry?
        </ng-container>
        <ng-template #multiRemove>
            Are you sure you want to remove <strong>{{ selectedRowsCount }}</strong> entries?
        </ng-template>
    </div>
    <p-footer>
        <div style="padding: 0.5rem 0">
            <button type="button" class="text-btn" (click)="closeRemoveEntryDialog()">
                Cancel
            </button>
            <button type="button" class="text-btn" (click)="deleteEntry()">
                Remove
            </button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="isNewPasswordDialogShown" [modal]="true" [draggable]="false">
    <p-header>
        Master password setup
    </p-header>
    <div style="display: flex; align-items: center; margin: 1rem 0">
        <i class="pi pi-info-circle" style="color: #1b81d7; font-size: 1.8rem; margin-right: 0.4rem;"></i>
        Password must be at least&nbsp;<strong>6</strong>&nbsp;characters long
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <input type="password" [(ngModel)]="newPassword" placeholder="New password" style="width: 100%; padding: 0.5rem">         
        </div>
    </div>
    
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <input type="password" [(ngModel)]="newPasswordRepeat" placeholder="Repeat password" style="width: 100%; padding: 0.5rem">   
        </div>
    </div>
    <p-footer>
        <div style="padding: 0.5rem 0">
            <button
                type="button"
                [disabled]="newPassword.length < 6 || newPassword !== newPasswordRepeat"
                class="primary-btn"
                (click)="saveNewDatabase()">
                Save
            </button>
        </div>
    </p-footer>
</p-dialog>


