<nav class="main-nav">
    <h2 class="brand"><img [src]="logoURL" class="brand-logo"> haslock</h2>
    <div class="file-location">{{ filePath }}</div>
    <div class="menu-panel">
        <button
            pButton
            type="button"
            label="Add entry"
            class="ui-button-success"
            icon="pi pi-plus"
            iconPos="left"
            (click)="openAddEntryWindow()">
        </button>
        <button
            pButton
            type="button"
            class="ui-button-info"
            icon="pi pi-save"
            iconPos="left"
            [disabled]="isDateSaved"
            (click)="trySaveDatabase()">
        </button>
        <button
            pButton
            type="button"
            class="ui-button-warning"
            icon="pi pi-pencil"
            iconPos="left"
            [disabled]="!isAnyPassword || !isOneRowSelected"
            (click)="openEditEntryWindow()">
        </button>
        <button
            pButton
            type="button"
            class="ui-button-danger"
            icon="pi pi-trash"
            iconPos="left"
            [disabled]="!isAnyPassword || !isAnyRowSelected"
            (click)="openDeleteEntryWindow()">
        </button>
        <input type="text" (input)="searchEntries($event)" pInputText placeholder="Search" />
    </div>
</nav>

<router-outlet></router-outlet>

<p-toast position="bottom-right" [hideTransitionOptions]="'0ms'">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center; display: flex; align-items: center;">
            <div class="toast-inner">
                <div class="toast-text">{{message.summary}}</div>
                <div *ngIf="message.detail === 'clipboard'" class="seconds-left" [appStopwatch]="message.life"></div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog [(visible)]="isNewPasswordDialogShown" [modal]="true">
    <p-header>
        Please provide master password
    </p-header>
    <div style="display: flex; align-items: center; margin: 1rem 0">
        <i class="pi pi-info-circle"></i>
        Password must be at least&nbsp;<strong>6</strong>&nbsp;characters long
    </div>
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input type="password" [(ngModel)]="newPassword" pPassword placeholder="New password" style="width: 100%">         
        </div>
    </div>
    
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input type="password" [(ngModel)]="newPasswordRepeat" pInputText placeholder="Repeat password" style="width: 100%">   
        </div>
    </div>
    <p-footer>
        <button
            pButton
            type="button"
            label="Confirm"
            [disabled]="newPassword.length < 6 || newPassword !== newPasswordRepeat"
            class="ui-button-success"
            (click)="saveNewDatabase()">
        </button>
    </p-footer>
</p-dialog>


