<div
	data-prevent-entry-deselect
	class="topbar">
	<ul class="menu">
		<div class="brand-logo"></div>
		<li class="dropdown">
			<button appDropdown class="dropbtn">
				File
			</button>
			<div #dropdown class="dropdown-content">
				<a href="#" (click)="openFile()">Open file...</a>
				<a href="#" (click)="exit()">Exit</a>
			</div>
		</li>
		<li class="dropdown">
			<button appDropdown class="dropbtn">
				Help
			</button>
			<div #dropdown class="dropdown-content">
				<a href="#" (click)="openKeyboardShortcuts()">Keyboard shortcuts</a>
				<div class="divider"></div>
				<a href="#" (click)="openReleaseNotes()">Release notes</a>
				<a href="#" (click)="openReportIssue()">Report issue</a>
			</div>
		</li>
	</ul>
	<div class="window-icons">
		<ul>
			<li class="icon" (click)="minimizeWindow()">
				<img src="assets/icons/min.svg" width="16" height="16" />
			</li>
			<li class="icon" (click)="maximizeWindow()">
				<img src="assets/icons/max.svg" width="16" height="16" />
			</li>
			<li class="icon quit" (click)="quit()">
				<svg viewBox="0 0 32 32" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
					<g id="cross">
						<line class="cls-1" x1="7" x2="25" y1="7" y2="25"/>
						<line class="cls-1" x1="7" x2="25" y1="25" y2="7"/>
					</g>
				</svg>
			</li>
		</ul>
	</div>
</div>