<div
	data-prevent-entry-deselect
	class="topbar">
	<ul appMenu class="menu">
		<div class="brand-logo"></div>
		<li appDropdown [index]="0" class="dropdown">
			<button tabindex="-1" appDropdownToggle appMenuItem>
				File
			</button>
			<div *appDropdownMenu class="dropdown-content left">
				<a href="#" appMenuItem (click)="openFile()">Open file...</a>
				<div class="divider"><hr /></div>
				<a href="#" appMenuItem (click)="save()" [disabled]="isDatabasePristine">Save</a>
				<a href="#" appMenuItem (click)="saveAs()">Save as...</a>
				<div appDropdown class="dropdown" style="width: 100%;">
					<a href="#" appDropdownToggle trigger="hover" class="submenu-open" appMenuItem>
						Import <span class="pi pi-angle-right"></span>
					</a>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<a href="#" appMenuItem (click)="import()">KeePass (XML)</a>
						<a href="#" appMenuItem>example</a>
					</div>
				</div>
				<div class="divider"><hr /></div>
				<a href="#" appMenuItem (click)="exit()">Exit</a>
			</div>
		</li>
		<li appDropdown [index]="1" class="dropdown">
			<button tabindex="-1" appDropdownToggle appMenuItem>
				Help
			</button>
			<div *appDropdownMenu class="dropdown-content left">
				<a href="#" appMenuItem (click)="openKeyboardShortcuts()">Keyboard shortcuts</a>
				<div class="divider"><hr /></div>
				<a href="#" appMenuItem (click)="openReleaseNotes()">Release notes</a>
				<a href="#" appMenuItem (click)="openReportIssue()">Report issue</a>
				<a href="#" appMenuItem (click)="openAboutModal()">About</a>
			</div>
		</li>
	</ul>
	<div class="window-icons">
		<ul>
			<li (click)="minimizeWindow()" class="minimize-icon">
				<img class="icon" srcset="assets/icons/min-k-10.png 1x, assets/icons/min-k-12.png 1.25x, assets/icons/min-k-15.png 1.5x, assets/icons/min-k-15.png 1.75x, assets/icons/min-k-20.png 2x, assets/icons/min-k-20.png 2.25x, assets/icons/min-k-24.png 2.5x, assets/icons/min-k-30.png 3x, assets/icons/min-k-30.png 3.5x" draggable="false" />
			</li>
			<li (click)="maximizeWindow()" class="restore-icon">
				<img class="icon" [srcset]="maximizeRestoreIcons" draggable="false" />
			</li>
			<li class="quit-icon" (click)="quit()">
				<img class="icon" [srcset]="closeIcons" draggable="false" />
			</li>
		</ul>
	</div>
</div>