<div
	data-prevent-entry-deselect
	class="topbar">
	<div appMenu class="menu">
		<div class="brand-logo"></div>
		<div appDropdown class="dropdown">
			<a href="#" role="button" appDropdownToggle appMenuItem aria-hidden="true">
				File
			</a>
			<div *appDropdownMenu class="dropdown-content left">
				<a href="#" appMenuItem (activate)="openFile()">Open file...</a>
				<div class="divider"><hr /></div>
				<a href="#" appMenuItem (activate)="save()" [disabled]="isDatabasePristine">Save</a>
				<a href="#" appMenuItem [disabled]="isLocked" (activate)="saveAs()">Save as...</a>
				<div appDropdown class="dropdown" style="width: 100%;">
					<a href="#" appDropdownToggle trigger="hover" appMenuItem [disabled]="isLocked" class="submenu-open">
						Import <span class="pi pi-angle-right"></span>
					</a>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<a href="#" aria-hidden="true" appMenuItem (activate)="import()">KeePass (XML)</a>
					</div>
				</div>
				<a href="#" appMenuItem (activate)="lock()" [disabled]="!isLockingEnabled">Lock</a>
				<div class="divider"><hr /></div>
				<a href="#" appMenuItem (activate)="exit()">Exit</a>
			</div>
		</div>
		<div appDropdown class="dropdown">
			<a href="#" role="button" appDropdownToggle appMenuItem aria-hidden="true">
				Tools
			</a>
			<div *appDropdownMenu class="dropdown-content left">
				<div appDropdown class="dropdown" style="width: 100%;">
					<a href="#" appDropdownToggle trigger="hover" appMenuItem class="submenu-open" [disabled]="isLocked">
						Report <span class="pi pi-angle-right"></span>
					</a>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<a href="#" aria-hidden="true" appMenuItem (activate)="openExposedPasswordsWindow()">
							Check exposed passwords
						</a>
					</div>
				</div>
			</div>
		</div>
		<div appDropdown class="dropdown">
			<a href="#" role="button" appDropdownToggle appMenuItem aria-hidden="true">
				Help
			</a>
			<div *appDropdownMenu class="dropdown-content left">
				<a href="#" appMenuItem (activate)="openKeyboardShortcuts()">Keyboard shortcuts</a>
				<div class="divider"><hr /></div>
				<a href="#" appMenuItem (activate)="openReleaseNotes()">Release notes</a>
				<a href="#" appMenuItem (activate)="openReportIssue()">Report issue</a>
				<a href="#" appMenuItem (activate)="openAboutModal()">About</a>
			</div>
		</div>
	</div>
	<div class="window-icons">
		<ul>
			<li (click)="minimizeWindow()" class="minimize-icon">
				<img class="icon" srcset="assets/icons/min-k-10.png 1x, assets/icons/min-k-12.png 1.25x, assets/icons/min-k-15.png 1.5x, assets/icons/min-k-15.png 1.75x, assets/icons/min-k-20.png 2x, assets/icons/min-k-20.png 2.25x, assets/icons/min-k-24.png 2.5x, assets/icons/min-k-30.png 3x, assets/icons/min-k-30.png 3.5x" draggable="false" />
			</li>
			<li (click)="maximizeWindow()" class="restore-icon">
				<img class="icon" [srcset]="maximizeRestoreIcons" draggable="false" />
			</li>
			<li (click)="quit()" class="quit-icon">
				<img class="icon" [srcset]="closeIcons" draggable="false" />
			</li>
		</ul>
	</div>
</div>