<app-modal>
	<div class="dialog-header">
		<h2>Change password</h2>
		<a
			href="#"
			role="button"
			aria-label="Close"
			class="close-dialog"
			(click)="close(); (false)"
			>&times;
		</a>
	</div>
	<div [formGroup]="passwordForm" class="dialog-message">
		<div class="inputgroup">
			<input
				#currentPassword
				#autofocus
				type="password"
				[attr.aria-invalid]="
					isControlInvalid(passwordForm.get('currentPassword'))
				"
				aria-describedby="current-password-invalid"
				formControlName="currentPassword"
				placeholder="Current password"
			/>
			<app-show-password-icon
				(change)="$event(currentPassword)"
			></app-show-password-icon>
		</div>
		<div
			*ngIf="isControlInvalid(passwordForm.get('currentPassword'))"
			class="validation-error"
			id="current-password-invalid"
		>
			Password is incorrect
		</div>
		<ng-container formGroupName="newPassword">
			<div class="inputgroup">
				<input
					#newPassword
					type="password"
					[attr.aria-invalid]="isControlInvalid(passwordForm.get('password'))"
					aria-describedby="password-invalid"
					formControlName="password"
					placeholder="New password"
				/>
				<app-show-password-icon
					(change)="$event(newPassword)"
				></app-show-password-icon>
			</div>
			<div
				*ngIf="isControlInvalid(passwordsGroup.get('password'))"
				class="validation-error"
				id="password-invalid"
			>
				Password must be at least 6 characters long
			</div>
			<div class="inputgroup">
				<input
					#newPasswordRepeat
					type="password"
					[attr.aria-invalid]="isControlInvalid(passwordsGroup)"
					aria-describedby="password-repeat-invalid"
					formControlName="repeatPassword"
					placeholder="New password"
				/>
				<app-show-password-icon
					(change)="$event(newPasswordRepeat)"
				></app-show-password-icon>
			</div>
			<div
				*ngIf="isControlInvalid(passwordsGroup)"
				class="validation-error"
				id="password-repeat-invalid"
			>
				Passwords must match
			</div>
		</ng-container>
	</div>
	<div class="footer-container">
		<button
			type="button"
			class="text-btn"
			(click)="close()"
			(keyup.enter)="close()"
		>
			Cancel
		</button>
		<button type="button" class="primary-btn" (click)="save()">Save</button>
	</div>
</app-modal>
