<app-modal>
  <div
    class="dialog-header">
    <h2>Change password</h2>
    <a
      href="#"
      role="button"
      aria-label="Close"
      class="close-dialog"
      (click)="close(); false">&times;
    </a>
  </div>
  <div
    [formGroup]="passwordForm"
    class="dialog-message">
    <div class="inputgroup">
      <input
        type="password"
        formControlName="currentPassword"
        placeholder="Current password">      
    </div>
    <div
      *ngIf="isControlInvalid(passwordForm.get('currentPassword'))"
      class="validation-error">
      Password is incorrect
    </div>
    <ng-container formGroupName="newPassword">
      <div class="inputgroup">
        <input
          type="password"
          formControlName="password"
          placeholder="New password">      
      </div>
      <div
        *ngIf="isControlInvalid(passwordsGroup.get('password'))"
        class="validation-error">
        Password must be at least 6 characters long
      </div>
      <div class="inputgroup">
        <input
          type="password"
          formControlName="repeatPassword"
          placeholder="New password">      
      </div>
      <div
        *ngIf="isControlInvalid(passwordsGroup)"
        class="validation-error">
        Passwords must match
      </div>
    </ng-container>
  </div>
  <div
    class="footer-container">
    <button
      type="button"
      #autofocus
      class="text-btn"
      (click)="close()"
      (keyup.enter)="close()">
      Cancel
    </button>
    <button
      type="button"
      class="primary-btn"
      (click)="save()">
      Save
    </button>
  </div>
</app-modal>