@import 'variables';
@import 'mixins';

:host {
  display: flex;
  width: 100%;
  height: 100%;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  margin-right: 2rem;
}

.template-container {
  @include scrollbar;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.text-btn {
  margin: 0.25rem 0;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 0.25rem;

  .pi {
    margin-right: 0.25rem;
  }

  &.active {
    background-color: $curious-blue-light;
    color: $pickled-bluewood;
  }
}

ul li {
  display: block;

  button {
    width: 100%;
    text-align: left;
  }
}