<app-modal *ngIf="lastReportLoaded">
  <div class="dialog-header">
    <h2>Weak passwords report</h2>
    <a
      href="#"
      role="button"
      aria-label="Close"
      class="close-dialog"
      (click)="close(); false">&times;
    </a>
  </div>
  <div class="dialog-message">
    <div class="info-box"><i-feather name="info"></i-feather>Find vulnerable passwords and consider updating them to mitigate the risk of unauthorized access.</div>
    <div style="display: flex; margin: 2rem 0;">
      <div style="margin-right: auto;">
        <button
          type="button"
          #autofocus
          class="scan-btn primary-btn"
          (click)="scan()"
          [disabled]="scanInProgress">Scan 
        </button>
      </div>
      <div *ngIf="lastReport" class="report-container">
        <div class="last-report">
          <p class="bold">Last scan:</p>
          <p>{{ lastReport.creationDate | date: "dd/MM/yy HH:mm" }}</p>
          <p>Weak passwords: {{ weakPasswordsFound.length }}</p>
          <a *ngIf="weakPasswordsFound.length" href="#" (click)="showDetails = true; false">
            Show details
          </a>
        </div>
        <div style="display: flex; flex: 1; justify-content: flex-end; align-items: flex-start; margin-left: 2rem;">
          <button type="button" (click)="saveReport()" class="text-btn" [disabled]="!lastReportLoaded || scanInProgress">Export to file</button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="scanInProgress === false">
      <div *ngIf="weakPasswordsFound.length; else notFound" class="result warning">
        <div class="status">
          {{ weakPasswordsFound.length }} weak <span [ngPlural]="weakPasswordsFound.length">
            <ng-template ngPluralCase="=1">&nbsp;password</ng-template>
            <ng-template ngPluralCase="other">&nbsp;passwords</ng-template>
          </span>&nbsp; found
        </div>
      </div>
      <ng-template #notFound>
        <ng-container *ngIf="showError; else notFoundSuccess">
          <div class="result warning">
            There was an error scanning for weak passwords.
          </div>
        </ng-container>
        <ng-template #notFoundSuccess>
          <div class="result success">
            <div class="status"><i-feather name="check-circle"></i-feather> You're all good.</div>
            <p>No weak passwords have been found.</p>
          </div>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="scanInProgress">
      <div class="result row">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>Scanning... Please wait.
      </div>
    </ng-container>
    <div *ngIf="showDetails && !scanInProgress">
      <div class="table">
        <div class="table-header">
          <div class="row">
            <div class="col">Title</div>
            <div class="col">Username</div>
            <div>Severity</div>
          </div>
        </div>
        <div class="table-body">
          <div *ngFor="let row of weakPasswordsFound; trackBy: trackByFn" class="row">
            <div class="col">{{ row.title }}</div>
            <div class="col">{{ row.username }}</div>
            <div>
              <div class="score level-{{ row.score }}" [ngSwitch]="row.score">
                <ng-container *ngSwitchCase="0">High</ng-container>
                <ng-container *ngSwitchCase="1">High</ng-container>
                <ng-container *ngSwitchCase="2">Medium</ng-container>
              </div>
            </div>
            <div><a href="#" (click)="editEntry(row.id); false"><i-feather name="edit"></i-feather></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <button
      type="button"
      class="text-btn"
      (click)="close()">
      Close
    </button>
  </div>
</app-modal>