<ng-template #saveFileTemplate>
  <div *ngIf="!isLocked; else lockedTemplate" class="password-setup">
    <app-master-password-setup></app-master-password-setup>
  </div>

  <ng-template #lockedTemplate>
    <div class="section-header">
      Change password
    </div>
    Unlock a database or create a new one to change the password.
  </ng-template>
</ng-template>

<form
  *ngIf="passwordFormEnabled; else saveFileTemplate"
  [formGroup]="passwordForm"
  (submit)="savePassword()">
  <div class="change-password">
    <div style="margin-bottom: 1rem;">
      <div class="section-header">
        Auto-type settings
      </div>
      <div class="inputgroup checkbox">
        <label class="label" for="auto-type">Enable auto-type:</label>
        <label class="switch">
          <input
            id="auto-type"
            type="checkbox"
            formControlName="autoType">
            <span class="slider"></span>
        </label>    
      </div>
    </div>
    <div class="section-header">
      Restore default settings
    </div>
    <div class="restore">
      <button (click)="restoreDefaults()" class="restore-btn primary-btn"><i-feather name="refresh-ccw"></i-feather>Restore defaults</button>
    </div>
    <div class="section-header">
      <ng-container *ngIf="!isSaved; else changePassword">
        Set up password
      </ng-container>
      <ng-template #changePassword>
        Change password
      </ng-template>
    </div>
    <div class="inputgroup">
      <input
        type="password"
        formControlName="currentPassword"
        placeholder="Current password">      
    </div>
    <div
      *ngIf="isControlInvalid(passwordForm.get('currentPassword'))"
      class="validation-error">
      Password is incorrect
    </div>
    <ng-container formGroupName="newPassword">
      <div class="inputgroup">
        <input
          type="password"
          formControlName="password"
          placeholder="New password">      
      </div>
      <div
        *ngIf="isControlInvalid(passwordsGroup.get('password'))"
        class="validation-error">
        Password must be at least 6 characters long
      </div>
      <div class="inputgroup">
        <input
          type="password"
          formControlName="repeatPassword"
          placeholder="New password">      
      </div>
      <div
        *ngIf="isControlInvalid(passwordsGroup)"
        class="validation-error">
        Passwords must match
      </div>
    </ng-container>
    <button type="submit" class="primary-btn save">Save</button>
  </div>
</form>