<app-modal>
	<div class="dialog-header">
		<h2>Entry history</h2>
		<a
			href="#"
			role="button"
			aria-label="Close"
			class="close-dialog"
			(click)="close(); (false)"
			>&times;
		</a>
	</div>
	@if (history?.length > 0) {
		<div class="table">
			<div class="table-header">
				<div class="cell index">#</div>
				<div class="cell">Title</div>
				<div class="cell">Username</div>
				<div class="cell">Modification date</div>
				<div class="cell text-right">Action</div>
			</div>
			@for (item of history; track item; let i = $index) {
				<div class="history-entry row">
					<div class="cell index">#{{ i + 1 }}</div>
					<div class="cell">{{ item.entry.title }}</div>
					@if (item.entry.type === 'password') {
						<div class="cell">
							{{ item.entry.username }}
						</div>
					}
					<div class="cell">
						{{ item.entry.lastModificationDate | date: 'dd/MM/yy HH:mm' }}
					</div>
					<div class="cell text-right">
						<a href="#" (click)="openEntry(item); (false)">View</a>
					</div>
				</div>
			}
		</div>
	} @else {
		History is empty.
	}

	<div class="footer-container">
		<button type="button" class="secondary-btn" (click)="close()">Close</button>
	</div>
</app-modal>
