<form #ngForm (ngSubmit)="addNewEntry()" [formGroup]="newEntryForm">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-bookmark" style="line-height: 1.25;"></i></span>
                <input type="text" formControlName="title" pInputText placeholder="Title">         
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                <input type="text" formControlName="username" pInputText placeholder="Username">         
            </div>
            <p-message
                *ngIf="newEntryForm.get('username').invalid && newEntryForm.get('username').dirty"
                severity="error"
                text="Username is required">
            </p-message>
        </div>
        
        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                <input type="password" formControlName="value" pInputText placeholder="Password">   
            </div>
            <p-message
                *ngIf="newEntryForm.get('value').invalid && newEntryForm.get('value').dirty"
                severity="error"
                text="Password is required">
            </p-message>
        </div>
                
        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-globe" style="line-height: 1.25;"></i></span>
                <input type="text" formControlName="url" pInputText placeholder="Website">      
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-info" style="line-height: 1.25;"></i></span>
                <textarea formControlName="notes" pInputTextarea placeholder="Optional note"></textarea>     
            </div>
        </div>
        <button pButton type="submit" label="Confirm" class="confirm-btn ui-button-success"></button>
    </div>
</form>