:host ::ng-deep {
    padding: 2rem;
    display: block;

    h3 {
        margin: auto 0.5rem;
    }

    .ui-message-error {
        margin: 1rem 0 0;
    }

    .ui-fluid {
        display: flex;
        justify-content: flex-end;
    
        .confirm-btn {
            width: auto;
            margin-right: 0.5rem;
        }
    }
}