<h3 class="first">Add new entry</h3>
<form #ngForm (ngSubmit)="addNewEntry()" [formGroup]="newEntryForm">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                <input type="text" formControlName="username" pInputText placeholder="Username">         
            </div>
        </div>
        
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                <input type="password" formControlName="value" pInputText placeholder="Password">   
            </div>
        </div>
                
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">URL</span>
                <input type="text" formControlName="url" pInputText placeholder="Website">      
            </div>
        </div>

        <button pButton type="submit" label="Confirm" class="confirm-btn ui-button-success"></button>
    </div>
</form>