@import 'variables';

.change-password {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  border-radius: 0.25rem;

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  > form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .emp {
    color: $curious-blue;
  }

  .info-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: $curious-blue;
  }

  .save {
    margin-top: 0.5rem;
    margin-left: auto;
  }
}