<ng-template #saveFileTemplate>
  <div>
    <p>To change your password you need to set it up first.</p>
    <app-master-password-setup></app-master-password-setup>
  </div>
</ng-template>

<div class="change-password">
  <form
    *ngIf="passwordFormEnabled; else saveFileTemplate"
    [formGroup]="passwordForm"
    (submit)="savePassword()">
    <div class="inputgroup">
      <input
        type="password"
        formControlName="currentPassword"
        placeholder="Current password">      
    </div>
    <div
      *ngIf="isControlInvalid(passwordForm.get('currentPassword'))"
      class="validation-error">
      Password is incorrect
    </div>
    <ng-container formGroupName="newPasswords">
      <div class="inputgroup">
        <input
          type="password"
          formControlName="password"
          placeholder="New password">      
      </div>
      <div
        *ngIf="isControlInvalid(passwordsGroup.get('password'))"
        class="validation-error">
        Password must be at least 6 characters long
      </div>
      <div class="inputgroup">
        <input
          type="password"
          formControlName="repeatPassword"
          placeholder="New password">      
      </div>
      <div
        *ngIf="isControlInvalid(passwordsGroup)"
        class="validation-error">
        Passwords must match
      </div>
    </ng-container>
    <button type="submit" class="primary-btn save">Save</button>
  </form>
</div>