
<app-modal>
  <div class="dialog-header">
    <h2>About fortibit</h2>
    <a
      href="#"
      role="button"
      aria-label="Close"
      class="close-dialog"
      (click)="close()">&times;
    </a> 
  </div>
  <div>
    <ul>
      <li>Version: {{ config.version }} ({{ config.commit }})</li>
      <li>Electron version: {{ config.electronVersion }}</li>
      <li>Node version: {{ config.nodeVersion }}</li>
      <li>OS: {{ config.os }}</li>
    </ul>
  </div>
  <div class="footer-container">
    <button
      appAutofocus
      type="button"
      class="primary-btn"
      (click)="close()">
      Close
    </button>
  </div>
</app-modal>