@import 'variables';
@import 'mixins';

:host {
	position: relative;
	display: flex;
	height: calc(100vh - 2rem - 5rem);
	background-color: $white;
	font-size: 0.875rem;
	z-index: 0;
	width: calc(100vw - 15rem - 20rem - 1rem);
}

.action-btn {
	@include font-regular;
	font-size: 1.25rem;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	outline: 0;
	color: $curious-blue;
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $curious-blue-light;
	border-radius: 0.25rem;
	transition: all 150ms ease-in-out;
	position: relative;

	&.active {
		background: $picton-blue;
	}

	&:first-child {
		padding-top: 0;
	}

	&:hover {
		color: $pickled-bluewood;
	}

	&:focus-visible:not(:hover) {
		color: $barberry;
		border: 1px solid $barberry;
	}
}

.section.quick-actions {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.details-container {
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	transition: background-color 50ms;

	i {
		color: $curious-blue;
		cursor: pointer;
		margin-left: 0.25rem;
	}

	.content {
		height: 100%;
		border-color: rgba(0,0,0,0);
		transition: border-color 150ms;
		padding: 0 1rem;
		overflow: auto;
		@include scrollbar-hover;
	
		&:hover {
			border-color: rgba(0,0,0,0.2);
		}

		.section {
			margin: 1rem 0;
			word-break: break-all;
		}

		p {
			margin: 0.25rem 0;
		}
	}
}

.section {
	margin: 0.5rem 0;
	color: $pickled-bluewood;

	.label {
		@include font-medium;
	}

	&:first-child {
		margin-top: 1rem;
	}
}

.new-update {
	font-size: 0.875rem;
}

.active .pi {
	color: $white;
}

.starred .pi {
	color: white;
	animation-duration: 250ms;
	animation-name: star;
	animation-delay: 100ms;
  animation-timing-function: ease-in-out;
}

@keyframes star {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(1.5);
	}

	50% {
		transform: scale(0.9);
	}

	75% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}