<div
	data-prevent-entry-deselect
	class="details-container"
	[ngClass]="{ 'database-summary': !isEntrySelected }">
	<ng-container *ngIf="isEntrySelected; else databaseDetails">
		<div class="header">Entry details</div>
		<div class="content">
			<div *ngIf="shouldDisplayToolbar" class="section quick-actions">
				<button
					#toggleStarBtn
					[attr.aria-label]="entry?.isStarred ? 'Remove from favourites' : 'Add to favourites'" 
					class="action-btn"
					[ngClass]="{ active: entry?.isStarred }"
					(click)="toggleStarred(entry)">
					<span class="pi pi-star"></span>
				</button>
				<button aria-label="Entry history" (click)="openEntryHistory()" class="action-btn">
					<span class="pi pi-book"></span>
				</button>
				<button aria-label="Open URL" *ngIf="entry.url" (click)="openUrl(entry.url)" class="action-btn">
					<span class="pi pi-link"></span>
				</button>
				<button aria-label="Find in group" (click)="revealInGroup()" class="action-btn">
					<span class="pi pi-compass"></span>
				</button>
			</div>
	
			<div class="section">
				<p class="label">Group</p>
				<p>{{ group?.name }}</p>
			</div>

			<div *ngIf="entry?.title" class="section">
				<p class="label">Title</p>
				<p>{{ entry?.title }}</p>
			</div>

			<div *ngIf="entry?.username" class="section">
				<p class="label">Username</p>
				<p>{{ entry?.username }}</p>
			</div>

			<div *ngIf="entry?.url" class="section word-wrap">
				<p class="label">URL</p>
				<p><a (click)="openUrl(entry?.url)" href="#">{{ entry?.url }}</a></p>
			</div>

			<div *ngIf="entry?.creationDate" class="section">
				<p class="label">Creation date</p>
				<p>{{ entry?.creationDate | date: "dd/MM/yy HH:mm" }}</p>
			</div>

			<div *ngIf="entry?.lastAccessDate" class="section">
				<p class="label">Last access date</p>
				<p>{{ entry?.lastAccessDate | date: "dd/MM/yy HH:mm" }}</p>
			</div>

			<div *ngIf="entry?.notes" class="section">
				<p class="label">Notes</p>
				<p>{{ entry?.notes }}</p>
			</div>
		</div>
	</ng-container>
</div>

<ng-template #databaseDetails>
	<div class="header">Database details</div>
	<div class="content" *ngIf="config">
		<div class="section">
			<p class="label">File name</p>
			<p>{{ databaseInformation.name }}</p>
		</div>
		<div class="section">
			<p class="label">Encryption algorithm</p>
			<p>AES-256 (Rijndael)</p>
		</div>
		<div class="section">
			<p class="label">Key derivation function</p>
			<p>scrypt</p>
		</div>
		<div class="section">
			<p class="label">Global autotype shortcut</p>
 			<p>
				{{ config.autocompleteShortcut }}
				<span *ngIf="!config.autocompleteRegistered" class="validation-error">(registration failed)</span>
				<i class="pi pi-info-circle" (click)="openAutotypeInformation()"></i>
			</p>
		</div>
	</div>
</ng-template>

<div
	appSidebarHandle
	position="left">
</div>
