@import 'variables';

@mixin form-dialog {
  .p-inputgroup {
    margin: 0.5rem 0;
    input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
    }
    
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      outline: none;
    }
  }
  
  ::ng-deep {
    .p-fluid {
      display: flex;
      justify-content: flex-end;
    }
  
    .p-inputgroup-addon i {
      line-height: 1.25rem;
    }
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  &::-webkit-scrollbar{
    height: 8px;
    width: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #999;
  }

  &::-webkit-scrollbar-track {
    background-color: #dedede;
  }
}

@mixin default-table-row {
  box-shadow: none;
  outline: none;
  > td {
      box-shadow: none !important;
      outline: none !important;
  }
}

@mixin primary-font {
  font-family: $font;
  src: url('/assets/fonts/open_sans-webfont.woff2') format('woff2'),
  url('/assets/fonts/open_sans-webfont.woff') format('woff');
}