// COLORS
$curious-blue: #1b81d7;
$picton-blue: #2bc0ec;
$keppel: #409b95;
$keppel-light: #47A69F;
$bermuda-light: #7fd4ce4f;
$bright-red: #a80000;
$silver: #ccc;
$white: #fff;

// FONTS
$font: "open_sansregular", Verdana, Geneva, Tahoma, sans-serif;

