// COLORS
$curious-blue: #1770bb;
$curious-blue-light: #ecf3fa;
$picton-blue: #2bc0ec;
$keppel: #409b95;
$keppel-light: #47A69F;
$bermuda-light: #7fd4ce4f;
$bright-red: #a80000;
$grey-text: #65676B;
$grey: #444;
$grey-80: #ccc;
$silver: #dadada;
$white: #fff;

// OTHER
$sidebar-width: 4px;
