// COLORS
$pickled-bluewood: hsl(207, 29%, 30%);
$curious-blue: hsl(207, 78%, 41%);
$picton-blue: hsl(185, 78%, 41%);
$curious-blue-light: #e9f3fb;

$gumbo: #87a5ab;

$grey-text: #65676b;
$grey-80: #ccc;
$silver: #dadada;
$porcelain: #f1f3f4;
$white: #fff;

$jungle-green: #21A67A;
$bright-red: #a80000;
$red-orange: #ff3333;

$barberry: #eccc14;
$tulip-tree: #f0a544;

// OTHER
$sidebar-width: 0.25rem;
