.dropdown-content {
	right: 0;
	z-index: 999;
	width: 200px;
	padding-top: 4px;
	padding-bottom: 4px;
	position: absolute;
	padding: 0;
	list-style-type: none;
	background-color: var(--dropdown-bg);
	// Box shadow changes anchor color inside for some reason
	filter: var(--dropdown-shadow);

	&.select {
		padding-top: 0;
		padding-bottom: 0;
		width: 100%;
		filter: none;
		margin-top: 0 !important;
		border: 1px solid var(--border-color);
		border-top: 0;
		box-sizing: border-box;
	}

	.disabled {
		color: $grey-300;
		cursor: default;
		background-color: var(--dropdown-bg);

		&:hover {
			background-color: var(--dropdown-bg) !important;
		}
	}

	&.submenu-container {
		border-radius: 0.25rem !important;

		&.left {
			left: -0.25rem;
		}

		li:first-child {
			border-top-left-radius: 0.25rem;
			border-top-right-radius: 0.25rem;
		}

		li:last-child {
			border-bottom-left-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}
	}

	li {
		cursor: pointer;
		color: var(--primary-text);
		padding: 0.5rem;
		text-decoration: none;
		display: block;
		font-size: 0.875rem;
		line-height: 1;
		background-color: var(--dropdown-bg);
		user-select: none;

		&.disabled {
			color: var(--dropdown-text--disabled);
			background-color: var(--dropdown-bg);
		}

		&:hover,
		&:focus,
		&.focused {
			background-color: var(--dropdown-list-item-bg--hover) !important;
		}
	}
}

.dropdown {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	border-radius: 0.25rem;

	li:focus {
		outline: none;
	}

	label:not(.switch) {
		margin-left: 0.5rem;
		width: 5rem;
	}
}

.expanded {
	background-color: var(--list-item-bg--hover) !important;

	.pi {
		color: var(--primary-text);
	}
}

.divider {
	padding: 4px;
	background-color: var(--dropdown-bg);

	hr {
		margin: 0;
		border: 0;
		border-top: 1px solid var(--border-color);
	}
}
