.expandable-section {
	border: 0;
	background: none;
	width: 100%;
	padding: 0.5rem;
	text-align: left;
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 1rem;
	@include font-medium;
	color: var(--primary-text);
	background-color: var(--expandable-bg);
	transition: background-color 150ms;

	.pi {
		margin-right: 0.5rem;
	}

	&:hover, &:focus-visible {
		background-color: var(--expandable-bg--hover);
	}
}

i-feather {
	width: 0.875rem !important;
	height: 0.875rem !important;
	margin-right: 0.5rem !important;
	stroke-width: 2px !important;
}