<app-modal>
  <div
    class="dialog-header">
    <h2>{{ header }}</h2>
    <a
      href="#"
      role="button"
      aria-label="Close"
      class="close-dialog"
      (click)="close(); false">&times;
    </a>
  </div>
  <div
    #entryForm
    id="entry-form"
    style="position: relative; max-height: 100%; overflow: auto; padding-right: 1rem;"
    [formGroup]="newEntryForm">
    <div>
      <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
        <span class="inputgroup-addon"><i class="pi pi-bookmark"></i></span>
        <input
          type="text"
          [readonly]="isReadOnly"
          id="entry-title"
          appAutofocus
          formControlName="title"
          placeholder="Title">   
      </div>
      <div
        *ngIf="isControlInvalid(title)"
        class="validation-error">
        Title is required
      </div>
      <div
        class="inputgroup required"
        [ngClass]="{'ng-invalid': isControlInvalid(newEntryForm.get('username')), 'readonly': isReadOnly}">
        <span class="inputgroup-addon"><i class="pi pi-user"></i></span>
        <input
          type="text"
          [readonly]="isReadOnly"
          id="entry-username"
          formControlName="username"
          placeholder="Username">         
      </div>
      <ng-container formGroupName="passwords">
        <div
          class="inputgroup required"
          [ngClass]="{'ng-invalid': isControlInvalid(passwordsGroup.get('password')), 'readonly': isReadOnly}">
          <span class="inputgroup-addon"><i class="pi pi-key"></i></span>
          <input
            #passwordInput
            type="password"
            [readonly]="isReadOnly"
            id="entry-password"
            class="password"
            formControlName="password"
            placeholder="Password (required)"
            (input)="onPasswordChange($event)">
            <div *ngIf="!isReadOnly; else readonly" class="password-strength">
              <div
                [ngClass]="{'active': passwordLength > 0}"
                [class]="passwordScore >= 0 ? 'text s-' + passwordScore : 'text'">
                {{ textDescription }}
              </div>
            </div>
            <ng-template #readonly>
              <a href="#" (click)="copyPassword(); false" class="copy-password">Copy</a>
            </ng-template>
        </div>
        <div
          *ngIf="isControlInvalid(passwordsGroup.get('password'))"
          class="validation-error">
          Password is required
        </div>
        <div
          class="inputgroup required" [ngClass]="{'readonly': isReadOnly}">
          <span class="inputgroup-addon"><i class="pi pi-key"></i></span>
          <input
            #passwordInput
            [readonly]="isReadOnly"
            type="password"
            id="entry-password-r"
            formControlName="repeatPassword"
            placeholder="Repeat password (required)">
        </div>
        <div
          *ngIf="isControlInvalid(passwordsGroup)"
          class="validation-error">
          Passwords must match
        </div>
      </ng-container>
      <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
        <div class="inputgroup-addon"><i class="pi pi-globe"></i></div>
        <input
          type="text"
          [readonly]="isReadOnly"
          id="entry-website"
          formControlName="url"
          placeholder="Website">      
      </div>
      <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
        <div class="inputgroup-addon"><i class="pi pi-info-circle"></i></div>
        <textarea
          formControlName="notes"
          [readonly]="isReadOnly"
          id="entry-note"
          placeholder="Note"
          rows="5">
        </textarea>     
      </div>
      <div>
        <button type="button" class="expandable-section" (click)="isVisible = !isVisible">
          <i class="pi" [ngClass]="isVisible ? 'pi-angle-up' : 'pi-angle-right'"></i>
          Advanced options
        </button>
        <ng-container *ngIf="isVisible">
          <div class="section">
            <label class="label" for="entry-expiration-date">Expiration date:</label>
            <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
              <div class="inputgroup-addon"><i class="pi pi-calendar"></i></div>
              <input
                appDateMask
                formControlName="expirationDate"
                [readonly]="isReadOnly"
                type="text"
                id="entry-expiration-date"
                placeholder="Expiration date" />  
            </div>
            <div
              *ngIf="isControlInvalid(expirationDate)"
              class="validation-error">
              <ng-container *ngIf="expirationDate.hasError('invalidDate')">
                Date is invalid.
              </ng-container>
              <ng-container *ngIf="expirationDate.hasError('pastDate')">
                Date cannot be in the past.
              </ng-container>
            </div>
          </div>
          <div class="section">
            <label class="label" for="entry-autotype-exp">Autotype expression:</label>
            <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
            <div class="inputgroup-addon"><i class="pi pi-code"></i></div>
              <input
                formControlName="autotypeExp"
                [readonly]="isReadOnly"
                type="text"
                id="entry-autotype-exp"
                placeholder="Regular expression" />  
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <button
      *ngIf="isReadOnly"
      type="button"
      (click)="delete(); false"
      class="text-btn delete">
      <i class="pi pi-trash"></i>
      Delete
    </button>
    <button
      *ngIf="isReadOnly"
      type="button"
      (click)="restore(); false"
      class="text-btn restore">
      <i class="pi pi-replay"></i>
      Restore
    </button>
    <button
      *ngIf="!isReadOnly; else closeBtn"
      [disabled]="saveLocked"
      (click)="addNewEntry()"
      id="entry-submit"
      class="primary-btn">
      Confirm
    </button>
    <ng-template #closeBtn>
      <button
        type="button"
        (click)="closeReadOnly()"
        id="close"
        class="primary-btn">
      Close
    </button>
    </ng-template>
  </div>
</app-modal>