@import 'themes/light/variables';

.overlay {
	width: 100%;
	height: $menu-bar-height;
	-webkit-app-region: no-drag;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 2rem;
	display: none;
}

.topbar {
	height: $menu-bar-height;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.875rem;
	color: var(--primary-text);
	user-select: none;
	-webkit-app-region: drag;

	&:host-context(.modal-open) {
		pointer-events: none;

		.overlay {
			display: block;
		}

		.menu li {
			color: var(--dropdown-text--disabled) !important;
		}
	}

	.brand-logo {
		width: 1rem;
		height: 1rem;
		margin: 0 0.5rem;
		background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="fill:%231b81d7" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><path style="fill:%231b81d7" d="M 256,-4.6251399e-7 C 179.54108,-4.6251399e-7 117.33203,62.209044 117.33203,138.66797 v 75.7539 c -24.319974,4.949 -42.666014,26.49712 -42.666014,52.2461 v 192 C 74.667016,488.06494 98.581029,512 128,512 h 256 c 29.41897,0 53.33203,-23.93506 53.33203,-53.33203 v -192 c 0,-25.74998 -18.34409,-47.2961 -42.66406,-52.2461 V 138.66601 C 394.66797,62.208091 332.45892,-4.6251403e-7 256,-4.6251399e-7 Z M 256,63.999999 c 41.17296,0 74.66797,33.49401 74.66797,74.667971 v 74.66406 H 181.33203 v -74.66602 c 0,-41.172954 33.49501,-74.666011 74.66797,-74.666011 z M 221.46289,285 h 77.45117 c 8.90874,-3.9e-4 16.13086,9.84946 16.13086,22 v 1 c 0,12.15054 -7.22212,22.00039 -16.13086,22 H 247 v 23 h 31.41797 c 8.90874,-3.9e-4 16.13086,9.84946 16.13086,22 v 1 c 0,12.15054 -7.22212,22.00039 -16.13086,22 H 247 v 30 c 0,12.15054 -9.22212,22.00038 -18.13086,22 H 220 c -8.90874,3.9e-4 -14.66797,-9.84946 -14.66797,-22 V 307 c 0,-12.15054 7.22212,-22.00039 16.13086,-22 z"/></g></svg>');
	}
	
	.menu {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		align-items: center;
		height: 100%;

		> .dropdown {
			height: 100%;
			transition: 50ms background-color;
			list-style-type: none;
			padding: 0;

			&:hover,
			&.active {
				background-color: var(--dropdown-list-item-bg--hover);
			}

			li {
				display: flex;
				color: var(--primary-text);
				background-color: var(--dropdown-bg);
				align-items: center;
				height: 100%;
				-webkit-app-region: no-drag;

				&:focus {
					background: var(--dropdown-list-item-bg--hover);
				}

				&.disabled {
					color: var(--dropdown-text--disabled);
					background-color: var(--dropdown-bg);
				}
			}

			.dropdown-content {
				border-radius: 0.25rem;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	ul.menu > .dropdown div:not(.submenu-container) {
		border-bottom-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;

		&.left {
			left: 0rem;
		}

		&.right {
			right: 0rem;
		}

		> li:last-of-type {
			border-bottom-left-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}

		&:has(+ *) {
			> li {
				border-bottom-left-radius: 0rem !important;
				border-bottom-right-radius: 0rem !important;
			}
		}
	}
}

.pi-angle-right {
	color: $grey-300;
}

.submenu-open {
	display: flex;
	justify-content: space-between;
}

.submenu-container {
	transform: translateX(100%);
	top: 0;
}

.topbar .menu > .dropdown li.menu-bar-item {
	background-color: var(--primary-bg);

	&:hover:not(:disabled),
	&:focus,
	&.expanded {
		background-color: var(--dropdown-list-item-bg--hover) !important;
	}
}

.zoom-level {
	li {
		border-radius: 0.25rem;
	}

	i-feather {
		margin-right: 0 !important;
	}
}

.secondary {
	margin-left: auto;
	color: var(--dropdown-text--disabled);
}

.submenu-label {
	color: var(--dropdown-text--disabled);
	margin: 0.5rem;
}
