<div
	data-prevent-entry-deselect
	class="topbar">
	<div appMenu class="menu">
		<div class="brand-logo"></div>
		<ul appDropdown class="dropdown">
			<li role="button" appDropdownToggle trigger="click" appMenuItem aria-hidden="true" class="menu-bar-item">
				File
			</li>
			<div *appDropdownMenu class="dropdown-content left">
				<li appMenuItem (activate)="newFile()">New file...</li>
				<li appMenuItem (activate)="openFile()">Open file...</li>
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem class="submenu-open">
						Open recent <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li *ngFor="let file of recentFiles; let i = index" aria-hidden="true" appMenuItem (activate)="openFile(file)">
							{{ i + 1 }}: {{ file | fileName }}
						</li>
					</div>
				</div>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="save()" [disabled]="isDatabasePristine">Save</li>
				<li appMenuItem [disabled]="isLocked" (activate)="saveAs()">Save as...</li>
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem [disabled]="isLocked" class="submenu-open">
						Import <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li aria-hidden="true" appMenuItem (activate)="import(importHandler.KeePass)">KeePass (.xml)</li>
						<li aria-hidden="true" appMenuItem (activate)="import(importHandler.OnePassword)">1Password (.csv)</li>
					</div>
				</div>
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem [disabled]="isLocked" class="submenu-open">
						Export <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li aria-hidden="true" appMenuItem (activate)="export()">CSV</li>
					</div>
				</div>
				<li appMenuItem (activate)="lock()" [disabled]="!isLockingEnabled">Lock</li>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="exit()">Exit</li>
			</div>
		</ul>
		<ul appDropdown class="dropdown">
			<li role="button" appDropdownToggle trigger="click" appMenuItem aria-hidden="true" class="menu-bar-item">
				Tools
			</li>
			<div *appDropdownMenu class="dropdown-content left">
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem class="submenu-open" [disabled]="isLocked">
						Report <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li aria-hidden="true" appMenuItem (activate)="openExposedPasswordsWindow()">
							Leaked passwords
						</li>
						<li aria-hidden="true" appMenuItem (activate)="openWeakPasswordsWindow()">
							Weak passwords
						</li>
					</div>
				</div>
			</div>
		</ul>
		<ul appDropdown class="dropdown">
			<li role="button" appDropdownToggle trigger="click" appMenuItem aria-hidden="true" class="menu-bar-item">
				Help
			</li>
			<div *appDropdownMenu class="dropdown-content left">
				<li appMenuItem (activate)="openKeyboardShortcuts()">Keyboard shortcuts</li>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="openReleaseNotes()">Release notes</li>
				<li appMenuItem (activate)="openReportIssue()">Report issue</li>
				<li appMenuItem (activate)="openAboutModal()">About</li>
			</div>
		</ul>
	</div>
	<div class="window-icons">
		<ul>
			<li (click)="minimizeWindow()" class="minimize-icon">
				<img class="icon" [srcset]="minimizeIcons" draggable="false" />
			</li>
			<li (click)="maximizeWindow()" class="restore-icon">
				<img class="icon" [srcset]="maximizeRestoreIcons" draggable="false" />
			</li>
			<li (click)="quit()" class="quit-icon">
				<img class="icon" [srcset]="closeIcons" draggable="false" />
			</li>
		</ul>
	</div>
</div>