<div
	data-prevent-entry-deselect
	#topbar
	class="topbar">
	<ul appMenu class="menu">
		<div class="brand-logo"></div>
		<ul appDropdown class="dropdown">
			<li appDropdownToggle trigger="click" appMenuItem aria-hidden="true" class="menu-bar-item">
				File
			</li>
			<div *appDropdownMenu class="dropdown-content left">
				<li appMenuItem (activate)="newFile()">New file...</li>
				<li appMenuItem (activate)="openFile()">Open file...</li>
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem class="submenu-open">
						Open recent <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li *ngFor="let file of recentFiles; let i = index" aria-hidden="true" appMenuItem (activate)="openFile(file)">
							{{ i + 1 }}: {{ file | fileName }}
						</li>
					</div>
				</div>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="save()" [disabled]="isDatabasePristine">Save</li>
				<li appMenuItem [disabled]="isLocked" (activate)="saveAs()">Save as...</li>
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem [disabled]="isLocked" class="submenu-open">
						Import <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li aria-hidden="true" appMenuItem (activate)="import(importHandler.KeePass)">KeePass &bull; XML</li>
						<li aria-hidden="true" appMenuItem (activate)="import(importHandler.OnePassword)">1Password &bull; CSV</li>
						<li aria-hidden="true" appMenuItem (activate)="import(importHandler.Bitwarden)">Bitwarden &bull; CSV</li>
						<li aria-hidden="true" appMenuItem (activate)="import(importHandler.Lastpass)">Lastpass &bull; CSV</li>
					</div>
				</div>
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem [disabled]="isLocked" class="submenu-open">
						Export <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li aria-hidden="true" appMenuItem (activate)="export()">CSV</li>
					</div>
				</div>
				<li appMenuItem (activate)="lock()" [disabled]="!isLockingEnabled">Lock</li>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="openChangePasswordWindow()" [disabled]="isLocked">Change password</li>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="exit()">Exit</li>
			</div>
		</ul>
		<ul appDropdown class="dropdown">
			<li appDropdownToggle trigger="click" appMenuItem aria-hidden="true" class="menu-bar-item">
				View
			</li>
			<div *appDropdownMenu class="dropdown-content left">
				<li appMenuItem (activate)="zoomIn()">Zoom in</li>
				<li appMenuItem (activate)="zoomOut()">Zoom out</li>
				<li appMenuItem (activate)="resetZoom()">Reset zoom</li>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="fullscreen()">Fullscreen mode</li>
			</div>
		</ul>
		<ul appDropdown class="dropdown">
			<li appDropdownToggle trigger="click" appMenuItem aria-hidden="true" class="menu-bar-item">
				Tools
			</li>
			<div *appDropdownMenu class="dropdown-content left">
				<li appMenuItem (activate)="openGeneratorWindow()">Generator</li>
				<div class="divider"><hr /></div>
				<div appDropdown class="dropdown" style="width: 100%;">
					<li appDropdownToggle trigger="hover" appMenuItem class="submenu-open" [disabled]="isLocked">
						Report <i-feather name="chevron-right"></i-feather>
					</li>
					<div *appDropdownMenu class="dropdown-content left submenu-container">
						<li aria-hidden="true" appMenuItem (activate)="openExposedPasswordsWindow()">
							Leaked passwords
						</li>
						<li aria-hidden="true" appMenuItem (activate)="openWeakPasswordsWindow()">
							Weak passwords
						</li>
					</div>
				</div>
				<li appMenuItem (activate)="openMaintenanceWindow()" [disabled]="isLocked">Maintenance</li>
			</div>
		</ul>
		<ul appDropdown class="dropdown">
			<li appDropdownToggle trigger="click" appMenuItem aria-hidden="true" class="menu-bar-item">
				Help
			</li>
			<div *appDropdownMenu class="dropdown-content left">
				<li appMenuItem (activate)="openKeyboardShortcuts()">Keyboard shortcuts</li>
				<div class="divider"><hr /></div>
				<li appMenuItem (activate)="openReleaseNotes()">Release notes</li>
				<li appMenuItem (activate)="openReportIssue()">Report issue</li>
				<li appMenuItem (activate)="openAboutWindow()">About</li>
			</div>
		</ul>
	</ul>
</div>

<div #overlay class="overlay"></div>