@import "variables";

.topbar {
	height: $menu-bar-height;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.875rem;
	color: $pickled-bluewood;
	-webkit-app-region: drag;

	.brand-logo {
		width: 1rem;
		height: 1rem;
		margin: 0 0.5rem;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='fill: %231b81d7' xml:space='preserve'%3E%3Cpath d='M394.667,214.421v-75.755C394.667,62.208,332.459,0,256,0S117.333,62.208,117.333,138.667v75.755 c-24.32,4.949-42.667,26.496-42.667,52.245v192C74.667,488.064,98.581,512,128,512h256c29.419,0,53.333-23.936,53.333-53.333v-192 C437.333,240.917,418.987,219.371,394.667,214.421z M279.659,378.24l8.235,57.579c0.448,3.072-0.469,6.165-2.496,8.491 c-2.027,2.325-4.971,3.691-8.064,3.691h-42.667c-3.093,0-6.037-1.344-8.064-3.669s-2.944-5.44-2.496-8.491l8.235-57.579 c-17.835-8.917-29.675-27.328-29.675-47.595c0-29.397,23.915-53.333,53.333-53.333s53.333,23.936,53.333,53.333 C309.333,350.933,297.493,369.344,279.659,378.24z M330.667,213.333H181.333v-74.667C181.333,97.493,214.827,64,256,64 s74.667,33.493,74.667,74.667V213.333z'/%3E%3C/svg%3E%0A");
	}

	.menu {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		align-items: center;
		height: 100%;

		> .dropdown {
			height: 100%;
			transition: 50ms background-color;

			&:hover,
			&.active {
				background-color: $porcelain;
			}

			a {
				color: $pickled-bluewood;
				align-items: center;
				height: 100%;
				-webkit-app-region: no-drag;

				&:focus {
					background: $porcelain;
				}

				&.disabled {
					color: $grey-80;
					background: transparent;
				}
			}

			.dropdown-content {
				border-radius: 0.25rem;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	.window-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		-webkit-app-region: no-drag;

		ul {
			height: 100%;
			list-style-type: none;
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;

			li {
				display: flex;
				width: 46px;
				height: 32px;
				align-items: center;
				justify-content: center;
				transition: all 150ms;

				&:hover {
					background-color: $porcelain;
				}

				&.quit-icon {
					&:hover {
						background-color: $red-orange;
	
						img {
							filter: invert(1);
						}
					}
				}
			}

			img.icon {
				width: 10px;
				height: 10px;
			}
		}
	}
}

.pi-angle-right {
	color: $grey-80;
}

.submenu-open {
	display: flex;
	justify-content: space-between;
}

.submenu-container {
	transform: translateX(100%); top: -4px;
}
