@import 'variables';
@import 'mixins';

.dialog-header {
  margin-bottom: 0.5rem;
}

.description {
  margin-top: 1rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  @include font-medium;

  &.row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .status {
    display: inline-flex;
  }

  &.warning {
    color: $red-orange;
  }

  &.success {
    color: $jungle-green;
  }
}

.last-report {
  padding-right: 1rem;
}

.details {
  margin-left: 1rem;
  border-left: 1px solid $silver;
}

p {
  margin: 0.25rem 0;
}

.bold {
  @include font-medium;
  margin-top: 0;
}

.report-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

i {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.table {
  margin-bottom: 2rem;

  .table-header {
    @include font-medium;
    margin-bottom: 1rem;
    border-bottom: 1px solid $silver;
    padding-bottom: 0.5rem;
  }

  .row {
    display: flex;

    > div {
      flex: 1;
    }
  }
}

.scan-btn {
  margin-left: 0.25rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid $curious-blue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $curious-blue transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}