:host ::ng-deep{
  .ui-inputgroup {
    input {
      width: 100%;
    }
  }
  .ui-button-success {
    margin-left: auto;
  }

  .ui-card-footer {
    display: flex;
    justify-content: flex-end;
  }

  .ui-message-error {
    margin: 1rem 0;
  }

  .ui-card {
    position: relative;
    .ui-card-body {
      padding: 1.8rem;
    }
  }
}

.brand {
  height: 10rem;
  background-image: linear-gradient(270deg,#2bc0ec,#1b81d7);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1.title {
    color: #fff;
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
    display: flex;
    align-items: center;

    .brand-logo {
      height: 3rem;
      fill: #fff;
      margin-right: 0.6rem;
    }
  }
}

.sign-in {
  display: block;
  width: 50%;
  margin: -2rem auto 0;

  .file-path {
    margin: 0.5rem 0 1rem;
    word-break: break-all;
  }
}

.navigate-dashboard {
  margin-right: 1rem;
}

.version {
  display: flex;
  justify-content: center;
  color: #ccc;
  margin-top: 1rem;
}