@import 'variables';

:host {
    display: block;
    height: calc(100% - 5rem);
    width: 16rem;
    background-color: $white;
    position: fixed;
    z-index: 2;
    right: 0;
    font-size: 0.8rem;
}

.details-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: background-color 150ms ease-in-out;

    &.db {
        background-color: #F1F3F4;
    }

    > div:not(.header) {
        padding: 0 1rem;

        .section {
            margin: 1rem 0;
            word-break: break-all;
        }

        p {
            margin: 0.25rem 0;
        }

        .label {
            color: rgb(107, 107, 107);
        }
    }
}