<div
    data-prevent-entry-deselect
    class="details-container"
    [ngClass]="{'db': !isEntrySelected}">
    <ng-container *ngIf="isEntrySelected; else databaseDetails">
        <div class="header">Entry details</div>
        <div class="content">
            <div class="section">
                <p><span class="label">Title</span></p>
                {{ entry.title }}
            </div>

            <div class="section">
                <p><span class="label">User</span></p>
                {{ entry.username }}
            </div>

            <div *ngIf="entry.url" class="section word-wrap">
                <p><span class="label">URL</span></p>
                <a (click)="openUrl(entry.url)" href="#">{{ entry.url }}</a>
            </div>

            <div *ngIf="entry.creationDate" class="section">
                <p><span class="label">Creation date</span></p>
                {{ entry.creationDate | date:'dd/MM/yy HH:mm' }}
            </div>

            <div *ngIf="entry.lastAccessDate" class="section">
                <p><span class="label">Last access date</span></p>
                {{ entry.lastAccessDate | date:'dd/MM/yy HH:mm' }}
            </div>

            <div *ngIf="entry.notes" class="section">
                <p><span class="label">Notes</span></p>
                {{ entry.notes }}
            </div>
        </div>
    </ng-container>
</div>

<ng-template #databaseDetails>
    <div class="header">Database details</div>
    <div class="content">
        <div class="section">
            <p><span class="label">File name</span></p>
            {{ databaseInformation.name }}
        </div>
        <div class="section">
            <p><span class="label">Encryption algorithm</span></p>
            AES-256 (Rijndael)  
        </div>
        <div class="section">
            <p><span class="label">Key derivation function</span></p>
            scrypt - 16384 iterations
        </div>
        <div class="section">
            <p><span class="label">Global autotype shortcut</span></p>
            Alt + H <i class="pi pi-info-circle" (click)="openAutotypeInformation()"></i>
        </div>
        <div class="version">haslock v{{ version }}</div>
    </div>
</ng-template>
