<div class="brand">
	<div style="display: flex; align-items: center; width: 60%; margin: auto">
		<div style="display: flex; flex: 1">
			<div class="brand-logo"></div>
			<h1 class="title">fortibit</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="main">
		<form #ngForm [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" style="flex: 1; margin-left: 0.25rem;">
			<div class="sign-in">
				<p *ngIf="filePath" class="file-path">
					<span>File path:</span> {{ filePath }}
				</p>
				<div
					class="password inputgroup"
					[ngClass]="{
						'ng-invalid': passwordControl.invalid && passwordControl.dirty
					}"
				>
					<input
						[type]="passwordVisible ? 'text' : 'password'"
						aria-required="true"
						aria-describedby="invalid-password-error"
						[attr.aria-invalid]="
							passwordControl.invalid && passwordControl.dirty
						"
						appAutofocus
						formControlName="password"
						placeholder="Password"
					/>
					<button
						type="button"
						aria-label="Show password"
						[attr.aria-pressed]="passwordVisible"
						(click)="togglePasswordVisibility()"
						class="inputgroup-addon show-password"
						[ngClass]="{ active: passwordVisible }"
					>
						<i
							class="pi"
							[ngClass]="passwordVisible ? 'pi-eye-slash' : 'pi-eye'"
						></i>
					</button>
				</div>
				<div
					*ngIf="passwordControl.invalid && passwordControl.dirty"
					id="invalid-password-error"
					class="validation-error"
				>
					<ng-container *ngIf="passwordControl.hasError('required')">
						Password is required
					</ng-container>
					<ng-container *ngIf="passwordControl.hasError('invalidPassword')">
						Password is invalid
					</ng-container>
				</div>
			</div>
			<div style="text-align: right;">
				<button type="submit" label="OK" class="primary-btn" style="margin-top: 1rem;">Enter</button>
			</div>
		</form>
		<div style="margin: 2.5rem 3rem 0">
			<div class="or-spacer">
				<div class="mask"></div>
				<span><i>OR</i></span>
			</div>
		</div>
		<div class="action-container">
			<h2>Get started</h2>
      <button type="button" (click)="createNew()" class="action-btn">
        <i class="pi pi-file-o"></i> Create new
      </button>
      <button type="button" (click)="openSettingsWindow()" class="action-btn">
        <i class="pi pi-cog"></i> Settings
      </button>
		</div>
	</div>
	<div *ngIf="config" class="version">v{{ config.version }}</div>
</div>
