@import 'themes/light/variables';;
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  user-select: none;
}

.brand {
  height: 40%;
  background-image: linear-gradient(270deg, $blue-200, $blue-300);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1.title {
    color: $white;
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  .brand-logo {
    height: 3rem;
    width: 3rem;
    margin-right: 0.6rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='fill: %23fff' xml:space='preserve'%3E%3Cpath d='M394.667,214.421v-75.755C394.667,62.208,332.459,0,256,0S117.333,62.208,117.333,138.667v75.755 c-24.32,4.949-42.667,26.496-42.667,52.245v192C74.667,488.064,98.581,512,128,512h256c29.419,0,53.333-23.936,53.333-53.333v-192 C437.333,240.917,418.987,219.371,394.667,214.421z M279.659,378.24l8.235,57.579c0.448,3.072-0.469,6.165-2.496,8.491 c-2.027,2.325-4.971,3.691-8.064,3.691h-42.667c-3.093,0-6.037-1.344-8.064-3.669s-2.944-5.44-2.496-8.491l8.235-57.579 c-17.835-8.917-29.675-27.328-29.675-47.595c0-29.397,23.915-53.333,53.333-53.333s53.333,23.936,53.333,53.333 C309.333,350.933,297.493,369.344,279.659,378.24z M330.667,213.333H181.333v-74.667C181.333,97.493,214.827,64,256,64 s74.667,33.493,74.667,74.667V213.333z'/%3E%3C/svg%3E%0A");
  }
}

.sign-in {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0;

  .file-path {
    margin: 0.5rem 0;
    word-break: break-all;
    color: var(--primary-text);
    font-size: 0.875rem;

    span {
      @include font-medium;
    }
  }
}

.version {
  display: flex;
  justify-content: center;
  color: $grey-300;
  margin-top: 2rem;
}

.primary-btn {
  width: 5rem;
  margin-right: 0;
}

.password.inputgroup {
  align-items: center;
  padding: 0;

  input {
    background: var(--input-bg-secondary);
    box-shadow: inherit !important;
    padding: 0.875rem;
  }

  i-feather {
    margin-top: 4px;
  }
}

.show-password {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: $grey-400;

  &:focus-visible:not(:hover) {
    outline: 2px solid $barberry !important;
  }

  &:hover, &.active {
    color: $blue-300;
  }

  i {
    padding-top: 0.25rem;
    font-size: 1.25rem;
  }
}

.unlock {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid var(--border-color);
  padding-left: 0.5rem;

  &:focus-visible:not(:hover) {
    outline: 2px solid $barberry !important;
  }

  ::ng-deep i-feather {
    width: 1.25rem !important;
    svg {
      stroke: $blue-300;
    }
  }
}

.show-password, .unlock {
  margin: 0.25rem 0.5rem 0 0 !important;

  i-feather {
    margin: 0 !important;
  }
}

.or-spacer {
  $size: 2rem;

  display: block;
  height: 100%;
  position: relative;

  .mask {
    overflow: hidden;
    height: 100%;
    width: 2px;
    background-color: var(--list-item-bg--hover);
  }

  span {
    width: $size;
    height: $size;
    position: absolute;
    bottom: 100%;
    margin-bottom: calc($size * -1 / 2);
    left: 50%;
    margin-left: calc($size * -1 / 2);
    top: calc(50% - ($size / 2));
    border-radius: 100%;
    background: var(--list-item-bg--hover);

    i {
      font-size: 0.875rem;
      display: inline-block;
      border-radius: 100%;
      text-align: center;
      width: 100%;
      line-height: $size;
      font-style: normal;
      color: $grey-300;
    }
  }
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2.5rem;

  .action-btn {
    @include font-regular;
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    padding: 0.875rem 1.625rem;
    justify-content: flex-start;

    .pi {
      margin-right: 0.5rem;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

h2 {
  @include font-regular;
  font-size: 1rem;
  margin: 0;
}

i-feather {
  width: 16px !important;
  height: 16px !important;
  margin-right: 0.5rem !important;
}

.secondary-btn {
  padding: 0.875rem 1.625rem;
  line-height: 1.25rem;
}

.biometrics-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--primary-bg);

  h1 {
    font-size: 1.625rem;
  }

  svg {
    fill: var(--primary-text);
  }
}