<div style="display: flex; width: 100%; min-height: calc(580px - 2rem)">
	<div
		style="
			display: flex;
			flex-direction: column;
			width: 60%;
			align-items: center;
			justify-content: center;
		"
	>
		<div class="container">
			<div class="main">
				<div style="width: 100%">
					@if (filePath) {
						<form #ngForm [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
							<div class="sign-in">
								<p class="file-path"><span>File:</span> {{ filePath }}</p>
								<div class="password inputgroup">
									<input
										#masterPassword
										type="password"
										aria-required="true"
										[attr.aria-invalid]="
											passwordControl.invalid && passwordControl.dirty
										"
										appAutofocus
										formControlName="password"
										placeholder="Password"
									/>
									<div style="display: flex">
										<app-show-password-icon
											(change)="$event(masterPassword)"
										></app-show-password-icon>
										<button
											type="submit"
											class="unlock"
											appTooltip="Unlock"
											aria-label="Unlock"
										>
											<i-feather name="arrow-right"></i-feather>
										</button>
									</div>
								</div>
							</div>
							<div
								style="
									display: flex;
									flex-direction: column;
									align-items: stretch;
								"
							>
								@if (biometricsAuthenticationEnabled) {
									<button
										type="button"
										class="secondary-btn"
										style="margin-top: 0.5rem"
										(click)="biometricsUnlock()"
									>
										Unlock with Windows Hello
									</button>
								}
							</div>
						</form>
					}
					<div class="action-container">
						<h2>Get started</h2>
						<button type="button" (click)="createNew()" class="btn">
							<i-feather name="file-plus"></i-feather> Create new
						</button>
						<button type="button" (click)="openFile()" class="btn">
							<i-feather name="file"></i-feather> Open file
						</button>
						<button type="button" (click)="openSettingsWindow()" class="btn">
							<i-feather name="settings"></i-feather> Settings
						</button>
					</div>
					<!-- <button class="lang-btn">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 32 28"
							x="0px"
							y="0px"
							fill="#a6a6a6"
							width="26"
							style="margin-right: 0.5rem"
						>
							<g>
								<path
									d="M31,12.79a1,1,0,0,1-1,1H28.65a12.46,12.46,0,0,1-3.89,7A8.62,8.62,0,0,0,27.42,22a1,1,0,0,1-.2,2L27,24a10.71,10.71,0,0,1-3.9-1.9,14.2,14.2,0,0,1-4,1.89A1,1,0,0,1,18.61,22a11.89,11.89,0,0,0,2.95-1.31A14.58,14.58,0,0,1,18.89,17a1,1,0,0,1,.45-1.34,1,1,0,0,1,1.34.44,12.59,12.59,0,0,0,2.51,3.47,10.5,10.5,0,0,0,3.41-5.73H17a1,1,0,0,1,0-2h5.5V10a1,1,0,0,1,2,0v1.79H30A1,1,0,0,1,31,12.79ZM14.91,22.58a1,1,0,0,1-.49,1.33A1.06,1.06,0,0,1,14,24a1,1,0,0,1-.91-.58l-2-4.42H5l-2,4.42a1,1,0,0,1-1.82-.84l6-13a1,1,0,0,1,1.82,0ZM10.13,17,8,12.39,5.87,17Z"
								/>
							</g>
						</svg>
						English
					</button> -->
				</div>
			</div>
		</div>
	</div>
	<div class="right-column">
		<div
			class="sec"
			style="padding: 1.5rem; border-radius: 4px; margin: 5.75rem 1.5rem 0"
		>
			<app-svg
				src="assets/icons/welcome.svg"
				style="position: absolute; top: -85px; right: 50px; width: 100px"
			/>

			@for (color of skeletonEntryColorProfiles; track color) {
				<div class="entry">
					<div>
						<svg width="28" height="28" xmlns="http://www.w3.org/2000/svg">
							<rect
								width="28"
								height="28"
								x="0"
								y="0"
								rx="8"
								ry="8"
								[attr.fill]="color.primary"
							/>
							<rect
								width="18"
								height="18"
								x="5"
								y="5"
								rx="5"
								ry="5"
								[attr.fill]="color.secondary"
								opacity="0.25"
							/>
						</svg>
					</div>
					<div
						class="text"
						style="flex-direction: column; margin-left: 1rem; row-gap: 0.5rem"
					>
						<svg width="100%" height="8" xmlns="http://www.w3.org/2000/svg">
							<rect width="70%" height="8" rx="5" rx="5" />
						</svg>
						<svg width="100%" height="8" xmlns="http://www.w3.org/2000/svg">
							<rect width="90%" height="8" rx="5" ry="5" />
						</svg>
					</div>
					<div style="justify-content: flex-end; flex: 1" class="check">
						<svg
							width="2rem"
							height="2rem"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M4.89163 13.2687L9.16582 17.5427L18.7085 8"
								opacity="0.5"
								stroke-width="2.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
				</div>
			}
		</div>

		<div style="margin-top: 1.5rem; text-align: center; color: #f8f8f8">
			<h1 style="margin-bottom: 0">Your digital vault</h1>
			<h3 style="margin-top: 0.5rem">Always secure</h3>
		</div>
	</div>
</div>

@if (isBiometricsAuthenticationInProgress) {
	<div class="biometrics-overlay">
		<app-svg
			src="assets/icons/windows-hello.svg"
			style="width: 2rem; margin-bottom: 2rem"
		/>
		<div><h1>Waiting for Windows Hello</h1></div>
		<span>Vault: {{ filePath }}</span>
	</div>
}
