<ng-container *ngIf="notifications$ | async as notifications">
  <div
    appDropdown
    class="settings dropdown"
    [ngClass]="{'new': notifications.length}">
    <button
      appDropdownToggle
      trigger="click"
      appMenuItem
      class="icon-btn"
      type="button">
        <span class="sr-only">Settings</span>
        <div *ngIf="notifications.length" class="badge">{{ notifications.length }} <span class="sr-only">notifications</span></div>
        <i-feather name="settings"></i-feather>
    </button>
    <ul
      *appDropdownMenu
      class="dropdown-content right"
      @slideDown>
      <li *ngIf="updateAvailable" appMenuItem (activate)="openAboutWindow()" class="update-btn">
        Update is available <span class="version">{{ updateAvailable }}</span>
      </li>
      <li appMenuItem (activate)="openSettings()">{{ settingsLabel }}</li>
    </ul>
  </div>
</ng-container>