@import 'themes/light/variables';;

:host {
	flex: 1;
	justify-content: flex-end;
}

.settings {
	position: relative;
	margin-right: 1rem;

	&.new {
		.dropdown-btn {
			padding-left: 0.5rem;
		}

		.dropdown-btn .badge {
			margin-left: -1rem;
			background-color: $red-orange;
			height: 1.5rem;
			width: 1.5rem;
			z-index: 990;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			font-size: 0.75rem;
			border-radius: 0.25rem;
			font-weight: bold;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				right: -0.25rem;
				top: 0.5rem;
				width: 0;
				height: 0;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid $red-orange;
			}
		}
	}

	.dropdown-content {
		margin-top: 0.5rem;
		border-radius: 0.25rem;

		.update-btn {
			color: $blue-300;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.version {
				color: var(--secondary-text);
				font-size: 1rem;
			}
		}
	}

	.dropdown-btn {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		padding: 0;
		transition: padding 100ms;
		background-color: transparent;
		transition: color 200ms;
		margin-left: auto;
		transform: translateY(50%);
		margin-bottom: 0.5rem;

		&:hover {
			i-feather {
				color: var(--settings-btn-bg--hover);
			}
		}

		&.expanded {
			background-color: transparent !important;
		}

		i-feather {
			width: 1.5rem !important;
			height: 1.5rem !important;
			color: var(--settings-btn-bg);

			&:before {
				margin-right: 0;
			}
		}
	}
}