@import 'themes/light/variables';

:host {
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings {
	position: relative;
	margin-right: 1rem;

	&.new {
		.dropdown-btn {
			padding-left: 0.5rem;
		}

		.dropdown-btn .badge {
			background-color: $red-orange;
			outline: 2px solid var(--primary-bg);
			height: 0.5625rem;
			width: 0.5625rem;
			border-radius: 100%;
			font-weight: bold;
			position: absolute;
			z-index: 990;
			bottom: 0px;
			right: 0px;

			&.update {
				background-color: $blue-200;
			}

			&.mixed {
				background-color: $tulip-tree;
			}
		}
	}

	.dropdown-content {
		margin-top: 0.5rem;
		border-radius: 0.25rem;
		border-radius: 0.25rem;

		li:first-child {
			border-top-left-radius: 0.25rem;
			border-top-right-radius: 0.25rem;
		}

		li:last-child {
			border-bottom-left-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}

		.update-btn {
			color: $blue-200;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.version {
				color: var(--secondary-text);
				font-size: 1rem;
			}
		}
	}

	.dropdown-btn {
		border-radius: 0.25rem;
		padding: 0;
		transition: padding 100ms;
		background-color: transparent;
		transition: color 200ms;
		margin-left: auto;

		&.expanded {
			background-color: transparent !important;
		}
	}
}
