<div *ngIf="iconsEnabled" class="column-icon">
	<img
		src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
		[appEntryIcon]="item"
		width="28"
		height="28"
	/>
</div>
<div class="column long-text">
	<div *ngIf="item.title" class="row title" [appTextEmphasize]="searchPhrase">
		{{ item.title }}
	</div>
	<div
		*ngIf="item.username"
		class="row username"
		[appTextEmphasize]="searchPhrase"
		(dblclick)="copyToClipboard(item, 'username')"
	>
		{{ item.username }}
	</div>
</div>
<div (dblclick)="copyToClipboard(item, 'password')" class="column password">
	••••••
</div>
