@if (iconsEnabled) {
	<div class="column-icon">
		<img
			src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			alt="icon"
			[appEntryIcon]="item"
			width="28"
			height="28"
		/>
	</div>
}
<div class="column long-text">
	@if (item.title) {
		<div class="row title" [appTextEmphasize]="searchPhrase">
			{{ item.title }}
		</div>
	}
	@if (item.username) {
		<div
			class="row username"
			[appTextEmphasize]="searchPhrase"
			(dblclick)="copyToClipboard(item, 'username')"
		>
			{{ item.username }}
		</div>
	}
</div>
<div (dblclick)="copyToClipboard(item, 'password')" class="column password">
	••••••
	@if (item.isExposed) {
		<i-feather name="alert-circle" data-testid="exposed-icon"></i-feather>
	}
</div>
