@import 'mixins';

:host {
	display: flex;
	align-items: center;
	width: 100%;
}

.column.password {
	display: flex;
	align-items: center;

	.pi {
		margin-left: 2rem;
	}
}

.column {
	min-width: calc((100% / 2) - 0.25rem);
	white-space: nowrap;
	padding-left: 1rem;

	.row {
		text-overflow: ellipsis;
		overflow: hidden;

		&.title {
			@include font-medium;
		}

		&.username {
			color: var(--secondary-text);
		}

		&:first-child {
			margin-bottom: 0.25rem;
		}
	}

	&-icon {
		min-width: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		margin-left: 0.875rem;

		img {
			border-radius: 3px;
		}
	}
}
