@import 'themes/light/variables';

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	user-select: none;

	> * {
		width: 100%;
	}
}

.text {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	font-size: 0.875rem;

	i-feather {
		color: $blue-300;
		width: 1rem !important;
		height: 1rem !important;
		margin-right: 0.4rem !important;
	}
}

input[type='password'] {
	padding-left: 0;
}

.validation-error {
	margin-left: 0;
}

.inputgroup {
	align-items: center;
	padding: 0;

	input {
		background: var(--input-secondary-bg);
		padding: 0.875rem;
	}
}

.header-main {
	margin: 1rem 0;
}

.container {
	width: 70%;
	margin: auto;
}

form {
	margin-top: 2rem;
}

.back-link {
	display: flex;
	align-items: center;
	width: min-content;

	i-feather {
		margin-right: 0.25rem !important
	};
}
