<div class="container">
  <h2 class="header-main">Create new vault</h2>
  <div class="text">
    Data will be stored in a Fortibit database file (with .fbit extension) in your file system. You will be prompted to specify the location of this file.
    We advise you to remember where it's stored as well as to back up this file on regular basis.
  </div>
  <div
    class="text">
    <i-feather name="info"></i-feather>
    Password must be at least&nbsp;<strong>{{ minPasswordLength }}</strong>&nbsp;characters long
  </div>
  <form
    #f="ngForm"
    [formGroup]="masterPasswordForm"
    (ngSubmit)="saveNewDatabase()">
    <div class="inputgroup">
      <input
        type="password"
        [attr.aria-invalid]="isControlInvalid(masterPasswordForm.get('newPassword'))"
        aria-describedby="password-invalid"
        #autofocus
        formControlName="newPassword"
        placeholder="New password">         
    </div>
    <div
      *ngIf="isControlInvalid(masterPasswordForm.get('newPassword'))"
      class="validation-error"
      id="password-invalid">
      Password must be at least {{ minPasswordLength }} characters long
    </div>
    <div class="inputgroup">
      <input
        type="password"
        [attr.aria-invalid]="isControlInvalid(masterPasswordForm) && f.submitted"
        aria-describedby="password-repeat-invalid"
        formControlName="newPasswordDuplicate"
        placeholder="Repeat password">   
    </div>
    <div
      *ngIf="isControlInvalid(masterPasswordForm) && f.submitted"
      class="validation-error"
      id="password-repeat-invalid">
      Passwords do not match
    </div>
    <div>
      <button
        type="submit"
        class="primary-btn">
        Save
      </button>
    </div>
  </form>
</div>