
<div
  class="password-hint">
  <i class="pi pi-info-circle"></i>
  Password must be at least&nbsp;<strong>{{ minPasswordLength }}</strong>&nbsp;characters long
</div>
<form
  #f="ngForm"
  [formGroup]="masterPasswordForm"
  (ngSubmit)="saveNewDatabase()">
  <div class="inputgroup">
    <input
      type="password"
      appAutofocus
      formControlName="newPassword"
      placeholder="New password">         
  </div>
  <div *ngIf="isControlInvalid(masterPasswordForm.get('newPassword'))" class="validation-error">
    Password must be at least {{ minPasswordLength }} characters long
  </div>
  <div class="inputgroup">
    <input
      type="password"
      formControlName="newPasswordDuplicate"
      placeholder="Repeat password">   
  </div>
  <div
    *ngIf="isControlInvalid(masterPasswordForm) && f.submitted"
    class="validation-error">
    Passwords do not match
  </div>
  <div class="footer-container">
    <button
      type="submit"
      class="primary-btn">
      Save
    </button>
  </div>
</form>