@import 'variables';

.password-hint {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 0.8rem;

  i {
    color: $curious-blue;
    font-size: 1.8rem;
    margin-right: 0.4rem;
  }
}