@import 'variables';
@import 'mixins';

@include form-dialog;

.password-hint {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  i {
    color: $curious-blue;
    font-size: 1.8rem;
    margin-right: 0.4rem;
  }
}