<app-modal>
  <div
    data-prevent-entry-deselect
    class="dialog-header">
    <h2>Set master password</h2>
    <span class="close-dialog" (click)="close()">&times;</span>
  </div>
  <div
    data-prevent-entry-deselect
    class="password-hint">
    <i class="pi pi-info-circle"></i>
    Password must be at least&nbsp;<strong>{{ minPasswordLength }}</strong>&nbsp;characters long
  </div>
  <form
    #f="ngForm"
    data-prevent-entry-deselect
    [formGroup]="masterPasswordForm"
    (ngSubmit)="saveNewDatabase()">
    <div class="p-inputgroup">
      <input
        type="password"
        appAutofocus
        formControlName="newPassword"
        placeholder="New password">         
    </div>
    <div class="p-inputgroup">
      <input
        type="password"
        formControlName="newPasswordDuplicate"
        placeholder="Repeat password">   
    </div>
    <div
      *ngIf="(passwordsNotMatch || masterPasswordForm.invalid) && f.submitted"
      class="validation-error">
      Passwords do not match
    </div>
    <div class="footer-container">
      <button
        type="submit"
        class="primary-btn">
        Save
      </button>
    </div>
  </form>
</app-modal>