:host {
    display: block;
    height: calc(100% - 5rem);
    width: 19rem;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-left: 1px solid #ccc;
    font-size: 0.8rem;
}

.details-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        padding: 0.5rem;
        background-color: #47A69F;
        font-weight: 700;
        color: #fff;
        font-size: 0.9rem;
    }
    > div {
        p {
            margin: 0.25rem 0;
            padding: 0 0.5rem;
            &.truncate {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .label {
            font-weight: bold;
        }
    }
}