.container {
  width: 100%;
  height: 6px;
  background-color: var(--password-meter-bg);

  .meter {
    height: 100%;
    border-top: 1px solid var(--password-meter-border-color);
    border-bottom: 1px solid var(--password-meter-border-color);
    box-sizing: border-box;
    transition: all 750ms;
    transition-timing-function: cubic-bezier(.16,1,.3,1);

    &.s-0 {
      width: 20%;
      background-color: #ee6e47;
    }
  
    &.s-1 {
      width: 40%;
      background-color: #FBA949;
    }
  
    &.s-2 {
      width: 60%;
      background-color: #fbdd49;
    }
  
    &.s-3 {
      width: 80%;
      background-color: #8BD448;
    }
  
    &.s-4 {
      width: 100%;
      background-color: #33812b;
    }
  }
}