@import "variables";
@import "mixins";
@import "input";
@import "buttons";
@import "components";
@import "spinners";
@import "exports";

html,
body {
	@include font-regular;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-color: $white;
	color: $pickled-bluewood;
}

body.sidebar-drag {
	* {
		cursor: ew-resize !important;
	}
}

.app-view {
	flex: 1;
	height: map-get($map: $layout, $key: "app");
}

a {
	text-decoration: none;
}

.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: $white;

	svg {
		display: block;
		position: relative;
		top: 40%;
		left: calc(50% - 3em);
	}
}

.header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	padding: 0 1rem;
	color: $pickled-bluewood;
	font-size: 0.875rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	min-height: $workspace-header-height;
	box-sizing: border-box;
	user-select: none;
	border-bottom: 1px solid $silver;
}

.validation-error {
	color: $bright-red;
	font-size: 0.875rem;
}

.d-none {
	display: none;
}

.label {
	user-select: none;
}

.show {
	display: block;
}

.is-unknown-element-dragging {
	background: $white !important;
}

.is-dragging {
	opacity: 0.5;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.pi-star-fill {
	color: $picton-blue;
}

app-root, app-workspace {
	display: flex;
	flex-direction: column;
	height: 100%;
}

form [class*="-btn"] {
	margin-top: 1.625rem;
}

.section-header {
  @include font-medium;
  padding-bottom: 0.5rem;
}

code {
	@include font-regular;
	background-color: $porcelain;
	border-radius: 3px;
	padding: 0.2rem;
	margin: 1rem 0;
	word-wrap: break-word;
}

.cdk-virtual-scrollable {
	contain: layout !important;
}