@import "themes/light/variables";
@import "mixins";
@import "input";
@import "buttons";
@import "components";
@import "spinners";
@import "themes";

@font-face {
	font-family: 'roboto-regular';
	src: url('~assets/fonts/roboto-regular.woff2') format('woff2'),
	url('~assets/fonts/roboto-regular.woff') format('woff');
}

@font-face {
	font-family: 'roboto-medium';
	src: url('~assets/fonts/roboto-medium.woff2') format('woff2'),
	url('~assets/fonts/roboto-medium.woff') format('woff');
}

@font-face {
	font-family: 'roboto-bold';
	src: url('~assets/fonts/roboto-bold.woff2') format('woff2'),
	url('~assets/fonts/roboto-bold.woff') format('woff');
}

@font-face {
	font-family: 'roboto-black';
	src: url('~assets/fonts/roboto-black.woff2') format('woff2'),
	url('~assets/fonts/roboto-black.woff') format('woff');
}

html,
body {
	@include font-regular;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-color: var(--primary-bg); // keep in sync with window bg color!
	color: var(--primary-text);
}

body {
	&.sidebar-drag {
		* {
			cursor: ew-resize !important;
		}
	}

	&.lock {
		* {
			pointer-events: none !important;
		}
	}
}

.app-view {
	flex: 1;
	height: map-get($map: $layout, $key: "app");
}

a {
	color: var(--link-text);
	text-decoration: none;
}

.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 999;

	svg {
		display: block;
		position: relative;
		top: 40%;
		left: calc(50% - 3em);
	}
}

.header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	padding: 0 1rem;
	color: var(--primary-text);
	font-size: 0.875rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	min-height: $workspace-header-height;
	box-sizing: border-box;
	user-select: none;
	border-bottom: 1px solid var(--border-color);
}

.validation-error {
	color: var(--error-text);
	font-size: 0.875rem;
}

.d-none {
	display: none;
}

.label {
	user-select: none;
}

.show {
	display: block;
}

.is-unknown-element-dragging {
	background: $white !important;
}

.is-dragging {
	opacity: 0.5;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.pi-star-fill {
	color: $blue-200;
}

app-root, app-workspace {
	display: flex;
	flex-direction: column;
	height: 100%;
}

form [class*="-btn"] {
	margin-top: 1.625rem;
}

.section-header {
  @include font-medium;
	font-size: 1.25rem;
  padding-bottom: 0.5rem;

	&:not(:first-child) {
		margin-top: 3rem;
	}
}

code {
	@include font-regular;
	background-color: $grey-100;
	border-radius: 3px;
	padding: 0.2rem;
	margin: 1rem 0;
	word-wrap: break-word;
}

.cdk-virtual-scrollable {
	contain: layout !important;
}

.emp {
	@include font-black;
	color: $blue-250;
}

.info-box {
	display: flex;
	padding: 1rem;
	background-color: var(--secondary-bg);
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;

	i-feather {
		width: 1.5rem !important;
	}
}