@import 'themes/light/variables';;
@import 'mixins';

:host {
	display: block;
	width: 300px;
	padding: 0.5rem 0;
	bottom: 0;
	right: 50%;
	position: absolute;
	font-size: 1rem;
	z-index: 999;
	color: $white;
	cursor: pointer;
	border-radius: 0.25rem;
	background: var(--notification-bg);
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
	transform: translateX(50%) translateY(100vh) translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;

	.toast-body {
		display: flex;
		padding: 0.25rem 2rem;
		align-items: center;
		height: 100%;
		justify-content: center;

		&.countdown {
			justify-content: space-between;
		}

		.message {
			display: flex;
			align-items: center;
		}

		.pi {
			font-size: 1.25rem;
			margin-right: 1rem;
		}
	}

	&.success {
		color: $jungle-green;

		.seconds-left {
			background: $jungle-green;
		}
	}

	&.error {
		color: $bright-red;

		.seconds-left {
			background: $bright-red;
		}
	}

	.seconds-left {
		min-width: 2rem;
		text-align: center;
		color: $white;
		border-radius: 3px;
		padding: 0.2rem;
	}
}