<div class="filter" appMenu>
	<div
		#filterDropdown="appDropdown"
		(open)="onDropdownOpen($event)"
		appDropdown
		class="dropdown"
		style="margin-right: 0.5rem"
	>
		<button appDropdownToggle appMenuItem class="sort-btn">
			{{ selectedSortOption.name }}
			<i-feather
				[name]="
					selectedSortDirection.state === sort.Desc ? 'arrow-down' : 'arrow-up'
				"
			></i-feather>
		</button>
		<div
			*appDropdownMenu
			class="dropdown-content right filter-dropdown"
			@slideDown
		>
			<div class="filter-label">Sort by</div>
			<div
				#sort="appDropdown"
				(open)="onChildDropdownOpen($event)"
				appDropdown
				[select]="true"
				class="dropdown"
			>
				<div
					(click)="$event.stopPropagation()"
					style="position: relative; width: 100%"
				>
					<button
						id="sort-by"
						class="filter-option fit"
						appDropdownToggle
						appMenuItem
					>
						{{ selectedSortOption.name }}
						<i-feather name="chevron-down"></i-feather>
					</button>
					<div *appDropdownMenu class="dropdown-content select right">
						<li
							*ngFor="let option of sortOptions"
							[ngClass]="{ selected: selectedSortOption.prop === option.prop }"
							appMenuItem
							closeMode="subtree"
							class="option-item"
							(activate)="setSort(option)"
						>
							{{ option.name }}
						</li>
					</div>
				</div>
			</div>
			<div
				#sort="appDropdown"
				(open)="onChildDropdownOpen($event)"
				appDropdown
				#sortDropdown
				[select]="true"
				class="dropdown"
				style="margin-top: 0.5rem"
			>
				<div
					(click)="$event.stopPropagation()"
					style="position: relative; width: 100%"
				>
					<button
						id="sort-by-direction"
						class="filter-option fit"
						appDropdownToggle
						appMenuItem
					>
						{{ selectedSortDirection.name }}
						<i-feather name="chevron-down"></i-feather>
					</button>
					<div *appDropdownMenu class="dropdown-content select right">
						<li
							*ngFor="let option of sortDirectionOptions"
							[ngClass]="{
								selected: selectedSortDirection.state === option.state
							}"
							appMenuItem
							closeMode="subtree"
							class="option-item"
							(activate)="setSortDirection(option)"
						>
							{{ option.name }}
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
