@import 'themes/light/variables';
@import 'mixins';

:host {
	display: flex;
	position: relative;
	margin-left: auto;
	align-items: center;
}

.filter-dropdown {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	max-width: 200px;
	border-top: 1px solid rgba(0, 0, 0, 0.04);
	background-color: var(--modal-bg);
	border-top-left-radius: 0.25rem;

	> .dropdown {
		display: flex !important;
	}
}

.filter {
	display: flex;

	&:hover {
		.filters-btn,
		.sort-btn {
			&:focus {
				outline: none !important;
			}
		}
	}
}

.filters-btn,
.sort-btn {
	border-radius: 0.25rem;
	background-color: var(--primary-bg);
	padding: 0.25rem 0.5rem;
	color: var(--link-text);
	position: relative;
	z-index: 9999;

	&:hover {
		background-color: var(--list-item-bg--hover);
	}

	&:focus:not(:hover) {
		outline: 2px solid $barberry !important;
	}

	&:active {
		outline: none !important;
	}

	i-feather {
		margin-left: 0.25rem;
		margin-right: 0 !important;
		height: 1rem !important;
		width: 1rem !important;
	}
}

.filter-option {
	display: flex;
	width: 100%;
	background-color: var(--primary-bg);
	border: 1px solid var(--border-color);
	color: var(--primary-text);
	border-radius: 0.25rem !important;
	padding: 0.5rem;

	i-feather {
		margin: 0 0 0 auto !important;
	}

	&:focus:not(:hover) {
		outline: 2px solid $barberry !important;
	}

	&.expanded {
		background-color: var(--primary-bg) !important;
	}
}

.expanded {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;

	+ .dropdown-content {
		border-bottom-left-radius: 0.25rem !important;
		border-bottom-right-radius: 0.25rem !important;
	}
}

.option-item {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0.5rem;

	i {
		margin-left: 0.5rem;
	}

	&:hover,
	&:focus,
	&.selected {
		background-color: var(--tabset-btn-bg);
	}
}

#sort-by.focused:focus-visible:not(:hover) {
	outline: 2px solid #aedaff !important;
	outline-offset: 3px !important;
}

.filter-label {
	@include font-medium;
	width: 100%;
	margin-bottom: 0.5rem;
}

.checkbox {
	margin: 0.25rem 0;
	display: flex;
	align-items: center;

	label {
		margin-left: 0;

		&:first-child {
			flex: 1;
		}
	}
}
