<div class="password-table">
	<div id="table-header" data-prevent-entry-deselect>
		<div class="group-data">
			{{ passwordEntries.length }}
		</div>
		<app-table-filters></app-table-filters>
	</div>
	<div *ngIf="searchPhrase?.length && (!isSearching || wasSearched)" class="results-badge" @slideIn>
		<div *ngIf="entriesFound$ | async as entriesCount">
			Found {{ entriesCount }} {{ entriesCount === 1 ? 'entry' : 'entries' }}:				
		</div>
	</div>
	<ng-container *ngIf="passwordList$ | async as passwordList">
		<cdk-virtual-scroll-viewport
			*ngIf="passwordList.length > 0; else noPasswordsTemplate"
			data-prevent-entry-deselect
			itemSize="56"
			role="rowgroup"
			appFocusableList
			(focused)="selectEntry($event.originalEvent, $event.item)"
			[selected]="selectedEntries"
			class="table-viewport">
			<ng-container *cdkVirtualFor="let item of passwordList; let i = index; trackBy: trackingTag; templateCacheSize: 0">
				<div
					[appFocusableListItem]="item"
					[appContextMenuItem]="getContextMenu(item)"
					(click)="selectEntry($event, item)"
					(contextmenu)="showEntryContextMenu($event, item)"
					[attr.draggable]="entriesDragEnabled"
					role="row"
					tabindex="0"
					(dragstart)="startDrag($event, item)"
					(dragend)="endDrag()"
					[ngClass]="{'selected': isEntrySelected(item), 'is-dragging': isEntryDragged(item)}"
					class="row-entry">
					<div *ngIf="iconsEnabled" class="column-icon">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" [appEntryIcon]="item" width="28" height="28"/>
					</div>
					<div class="column long-text">
						<div class="row title" [appTextEmphasize]="searchPhrase$ | async">
							{{ item.title }}
						</div>
						<div class="row username" [appTextEmphasize]="searchPhrase$ | async" (dblclick)="copyToClipboard(item, 'username')">
							{{ item.username }}
						</div>
					</div>
					<div
						(dblclick)="copyToClipboard(item, 'password')"
						class="column password">••••••
					</div>
				</div>
			</ng-container>
		</cdk-virtual-scroll-viewport>
		<ng-template #noPasswordsTemplate>
			<div class="list-cta">
				<ng-container *ngIf="(searchPhrase$ | async)?.length || activeFilters?.length; else noEntriesTemplate">
					No matching entries found
				</ng-container>
				<ng-template #noEntriesTemplate>
					<p class="no-entries">There are no entries in this group</p>
					<a href="#" *ngIf="isAddPossible" id="add-entry-list" class="add-entry-list-button" (click)="addNewEntry(); false">Add entry</a>
				</ng-template>
			</div>
		</ng-template>
	</ng-container>
</div>
