
<app-modal>
  <div class="dialog-header">
    <h2>Recovered file</h2>
  </div>
  <div class="text">
    The following file has been recovered after unexpected app crash:
    <div class="file-path">{{ additionalData.payload.path }}</div>
  </div>
  <div class="footer-container">
    <button
      type="button"
      class="text-btn"
      (click)="doNotRecover()">
      Do not recover
    </button>
    <button
      type="button"
      class="primary-btn"
      (click)="recover()">
      Recover
    </button>
  </div>
</app-modal>