@import 'variables';
@import 'mixins';

.container {
  flex-direction: column;
  flex: 1;
  padding-right: 1.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
  background-color: $silver;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0.25rem;
}

input:checked + .slider {
  background-color: $curious-blue;
}

input:focus + .slider:before, input:focus:active + .slider:before {
  box-shadow: 0px 0px 0px 2px $picton-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.label {
  flex: 1;
}

.inputgroup .number {
  width: 2.5rem;
}

.validation-error {
  margin-left: 0;
}

.inputgroup {
  background: none;
  box-shadow: none;
  padding: 0;

  input {
    padding: 0.5rem;
    background-color: $porcelain;
  }
}

.description {
  margin-top: 0;
}