<div class="sidebar">
    <p-tree
        [value]="files"
        selectionMode="single"
        [(selection)]="selectedCategory"
        (onNodeSelect)="filterCategory($event)"
        (onNodeCollapse)="collapseCategory($event)"
        (onNodeContextMenuSelect)="setContextMenuCategory($event)"
        [draggableNodes]="true"
        [droppableNodes]="true"
        [contextMenu]="cm">
        <ng-template let-node pTemplate="default">
            <input
                *ngIf="isRenameModeOn && node === contextSelectedCategory; else readOnly"
                [(ngModel)]="node.label"
                (blur)="setRenameModeOff()"
                type="text"
                appBlurEnter
                class="group-name-input"
                maxlength="20">
            <ng-template #readOnly>
                <div appDroppable>
                    {{ node.label }}
                    <input type="hidden" class="node-id" [value]="node.key">
                </div>
            </ng-template>
        </ng-template>
    </p-tree>
    <button
        pButton
        type="button"
        class="ui-button-secondary"
        icon="pi pi-plus"
        iconPos="left"
        label="Add group"
        (click)="addGroup()"
        style="display: block; width: 8rem; margin: 0 auto">
    </button>
</div>
<div class="password-table">
    <div class="table-body">
        <p-table [value]="passwordList$ | async" [rowTrackBy]="trackByFn">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>URL</th>
                    <th>Notes</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"
                let-rowData
                let-rowIndex="rowIndex">
                <tr *ngIf="rowData.isCatalog; else regularTemplate"><td colspan="5">{{ rowData.name }}</td></tr>
                <ng-template #regularTemplate>
                    <tr
                        pDraggable
                        (onDragStart)="handleDragStart($event, rowData)"
                        (onDragEnd)="handleDragEnd($event)"
                        (click)="selectRow($event, rowData)"
                        class="row-entry"
                        [ngClass]="{'ui-state-highlight': isRowSelected(rowData), 'is-dragging': isRowDragged(rowData)}">
                        <td
                            [appTextEmphasize]="searchPhrase$ | async"
                            (dblclick)="copyToClipboard(rowData.title)"
                            class="long-text">
                            {{rowData.title}}
                        </td>
                        <td
                            [appTextEmphasize]="searchPhrase$ | async"
                            (dblclick)="copyToClipboard(rowData.username)"
                            class="long-text">
                            {{rowData.username}}
                        </td>
                        <td (dblclick)="copyToClipboard(rowData.value)">******</td>
                        <td
                            [appTextEmphasize]="searchPhrase$ | async"
                            (dblclick)="copyToClipboard(rowData.url)"
                            class="long-text">
                            {{rowData.url}}
                        </td>
                        <td (dblclick)="copyToClipboard(rowData.notes)" class="long-text">{{rowData.notes}}</td>
                    </tr>
                </ng-template>
            </ng-template>
        </p-table>
        <div *ngIf="!(passwordList$ | async)?.length" class="list-cta">
            Nothing in here, try to&nbsp;<strong>add</strong>&nbsp;a new entry
        </div>
    </div>
    <app-entry-details></app-entry-details>
</div>

<p-contextMenu
    #cm
    [model]="passwordStore.contextSelectedCategory?.label === 'Database' ? undefined : contextMenuItems">
</p-contextMenu>

