:host {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    flex-wrap: row;

    ::ng-deep {
        .ui-table-wrapper {
            table {
                thead {
                    tr th:first-child {
                        border-left: 0;
                    }
                }
                tbody tr td {
                    word-break: break-all;
                    user-select: none;
                    cursor: pointer;
                    &:first-child {
                        border-left: 0;
                    }
                } 
            }  
        }

        .ui-selectable-row {
            outline: none;
        }

        .is-dragging {
            opacity: 0.5;
        }

        .ui-tree {
            width: 100%;
            border: none;
            padding-top: 0.2rem;
            .ui-tree-container {
                padding-top: 0;
                .ui-treenode .ui-treenode-content {
                    outline: none;
                }

                > p-treenode > li:first-child,
                > p-treenode > li:last-child {
                    display: none;
                }
            }
        }
    }
}

.sidebar {
    width: 14em;
    border-right: 2px solid #ccc;
}

.password-table {
    flex: 1;
}

.list-cta {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    color: rgba(0,0,0,0.2);
    font-size: 1.5rem;
    user-select: none;
}