<div class="password-table">
    <p-table [value]="passwordList">
        <ng-template pTemplate="header">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>URL</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-password>
            <tr>
                <td (dblclick)="copyToClipboard(password.username)">{{password.username}}</td>
                <td (dblclick)="copyToClipboard(password.value)">******</td>
                <td (dblclick)="copyToClipboard(password.url)">{{password.url}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>