@import 'themes/light/variables';
@import 'mixins';

:host {
  display: flex;
}

.show-password {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: $grey-400;
  margin: 0.25rem 0.5rem 0 0 !important;

  &:focus-visible:not(:hover) {
    outline: 2px solid $barberry !important;
  }

  &:hover, &.active {
    color: $blue-300;
  }

  i-feather {
    margin: 0 !important;
  }

  i {
    padding-top: 0.25rem;
    font-size: 1.25rem;
  }
}