@import 'themes/light/variables';;

.inputgroup {
  background: none;
  box-shadow: none;
  padding: 0;

  input {
    padding: 0.5rem;
    background-color: $grey-100;
  }
}

.label {
  flex: 1;
}

.info-box {
  margin-top: 3rem;
}