@import 'variables';

.password-hint {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 0.8rem;

  i {
    color: $curious-blue;
    font-size: 1rem;
    margin-right: 0.4rem;
  }
}

input[type='password'] {
  padding-left: 0;
}

.validation-error {
  margin-left: 0;
}