<form [formGroup]="passwordForm">
	<div class="change-password">
		<div class="section-header">Workspace settings</div>
		<app-toggle-input
			formControlName="autosaveEnabled"
			label="Enable autosave"
		></app-toggle-input>
		<div class="section-header">Clipboard settings</div>
		<app-number-input
			formControlName="clipboardClearSeconds"
			label="Clipboard auto-clear time (seconds)"
			errors="Value must be at least 0"
			[maxLength]="4"
		>
		</app-number-input>
		<div class="section-header">Auto-type settings</div>
		<app-toggle-input
			formControlName="autoTypeEnabled"
			label="Enable auto-type"
		></app-toggle-input>
		<app-text-input
			formControlName="autocompleteShortcut"
			label="Autotype hotkey"
			type="hotkey"
		></app-text-input>
		<app-text-input
			formControlName="autocompleteUsernameOnlyShortcut"
			label="Autotype username only hotkey"
			type="hotkey"
		></app-text-input>
		<app-text-input
			formControlName="autocompletePasswordOnlyShortcut"
			label="Autotype password only hotkey"
			type="hotkey"
		></app-text-input>
		<div class="section-header">Links</div>
		<app-toggle-input
			formControlName="showInsecureUrlPrompt"
			label="Warn against opening unsecured websites"
		></app-toggle-input>
		<div class="section-header">Lock database after inactive time</div>
		<app-number-input
			formControlName="idleSeconds"
			label="Idle time lock (seconds)"
			[maxLength]="4"
			errors="Value must be at least 60"
		></app-number-input>
		<app-toggle-input
			formControlName="lockOnSystemLock"
			label="Lock database when locking the computer"
		></app-toggle-input>
		<app-toggle-input
			formControlName="saveOnLock"
			label="Save database before it gets locked due to inactivity"
		></app-toggle-input>
		<div class="section-header">Other</div>
		<app-toggle-input
			formControlName="protectWindowsFromCapture"
			label="Do not allow window screenshots"
		></app-toggle-input>
		@if (!isLocked) {
			<div class="section-header">Reports</div>
			<ng-container formGroupName="scheduledReports">
				<app-toggle-input
					formControlName="enabled"
					label="Enable scheduled reports"
				></app-toggle-input>

				@if (passwordForm.controls.scheduledReports.controls.time.enabled) {
					<app-text-input
						formControlName="time"
						label="Time"
						type="time"
					></app-text-input>
				}

				<ng-container formGroupName="frequency">
					@if (
						passwordForm.controls.scheduledReports.controls.frequency.controls
							.type.enabled
					) {
						<app-select-input
							formControlName="type"
							label="Frequency"
							[options]="{
								daily: 'Daily',
								weekly: 'Weekly',
								monthly: 'Monthly',
							}"
						></app-select-input>
					}

					@if (
						passwordForm.controls.scheduledReports.controls.frequency.controls
							.oneIn.enabled
					) {
						<app-number-input
							formControlName="oneIn"
							label="One in (days)"
							[maxLength]="3"
							errors="Value must be between 1 and 365"
						>
						</app-number-input>
					}

					@if (
						passwordForm.controls.scheduledReports.controls.frequency.controls
							.dayOfMonth.enabled
					) {
						<app-number-input
							formControlName="dayOfMonth"
							label="On day"
							[maxLength]="2"
							errors="Value must be between 1 and 31"
						>
						</app-number-input>
					}

					@if (
						passwordForm.controls.scheduledReports.controls.frequency.controls
							.weekDayIndex.enabled
					) {
						<app-number-input
							formControlName="weekDayIndex"
							label="On week day (0-Sunday)"
							[maxLength]="1"
							errors="Value must be between 0 and 6"
						>
						</app-number-input>
					}
				</ng-container>
			</ng-container>
		}
		<div class="section-header">Restore default settings</div>
		<div class="restore">
			<a href="#" (click)="restoreDefaults(); (false)"
				>Restore default settings</a
			>
		</div>
	</div>
</form>
