<div class="password-table">
	<div id="table-header" data-prevent-entry-deselect>
		<div tabindex="0" appSortBy="title">Title</div>
		<div tabindex="0" appSortBy="username">Username</div>
		<div>Password</div>
	</div>
	<div *ngIf="searchPhrase?.length && (!isSearching || wasSearched)" @slideIn>
		<div *ngIf="entriesFound$ | async as entriesCount" class="results-badge">
			Found {{ entriesCount }} {{ entriesCount === 1 ? 'entry' : 'entries' }}:				
		</div>
	</div>
	<ng-container *ngIf="passwordList$ | async as passwordList">
		<cdk-virtual-scroll-viewport
			*ngIf="passwordList.length > 0; else noPasswordsTemplate"
			itemSize="32"
			role="rowgroup"
			#tableViewport
			(focusout)="onFocusOut($event, tableViewport)"
			class="table-viewport">
			<ng-container *cdkVirtualFor="let item of passwordList; let i = index; trackBy: trackEntryById; templateCacheSize: 0">
				<!-- focus event handler is needed when user navigates between elements using keyboard -->
				<div
					#rowEntry
					data-prevent-entry-deselect
					[appContextMenuItem]="selectedEntries.length === 1 ? entryMenuItems : multiEntryMenuItems"
					(click)="selectEntry($event, item)"
					(focus)="focusFirstElement(i)"
					(mousedown)="onMouseDown(i)"
					(contextmenu)="showEntryContextMenu($event, item)"
					[attr.draggable]="entriesDragEnabled"
					role="row"
					[attr.data-id]="item.id"
					tabindex="0"
					(dragstart)="startDrag($event, item)"
					(dragend)="endDrag()"
					[ngClass]="{'selected': isEntrySelected(item), 'is-dragging': isEntryDragged(item)}"
					class="row-entry">
					<div *ngIf="iconsEnabled" class="column-icon">
						<img [appEntryIcon]="item" width="16" height="16"/>
					</div>
					<div
						[appTextEmphasize]="searchPhrase$ | async"
						(dblclick)="copyToClipboard(item, 'title')"
						class="column long-text">{{ item.title }}
					</div>
					<div
						[appTextEmphasize]="searchPhrase$ | async"
						(dblclick)="copyToClipboard(item, 'username')"
						class="column long-text">{{ item.username }}
					</div>
					<div
						(dblclick)="copyToClipboard(item, 'password')"
						class="column">******
					</div>
				</div>
			</ng-container>
		</cdk-virtual-scroll-viewport>
		<ng-template #noPasswordsTemplate>
			<div class="list-cta">
				<ng-container *ngIf="(searchPhrase$ | async)?.length; else noEntriesTemplate">
					No results found
				</ng-container>
				<ng-template #noEntriesTemplate>
					<p class="no-entries">There are no entries in this group</p>
					<button class="outline-btn" (click)="addNewEntry(); false">Add entry</button>
				</ng-template>
			</div>
		</ng-template>
	</ng-container>
</div>
