@import 'variables';
@import 'mixins';

$sidePanelInDuration: 300ms;
$sidePanelOutDuration: 250ms;

:host {
	flex: 1;
	display: flex;
	overflow: auto;
	overflow-y: hidden;
	position: relative;

	// horizontal scrollbar
	@include scrollbar;

	.table-viewport {
		height: calc(100vh - 5rem - 2rem - 2rem);
		// vertical scrollbar inside the table viewport
		@include scrollbar;
	}

	::ng-deep {
		.p-selectable-row {
			outline: none;
		}
	}
}

.password-table {
	min-width: 25rem;
	width: 100%;

	@include font-regular;

	.row-entry {
		font-size: 0.875rem;
		cursor: pointer;
		border: 1px solid transparent;
		@include default-table-row;

		&:focus,
		&:hover {
			@include default-table-row;
		}

		&.selected {
			background-color: darken($curious-blue-light, 2);
			&:hover {
				background-color: darken($curious-blue-light, 2);
			}
		}

		.column.password {
			display: flex;
			align-items: center;

			.pi {
				margin-left: 2rem;
			}
		}

		&.expired {
			.column.password {
				color: $red-orange;
			}
		}

		&.due-expiration {
			.column.password {
				color: $tulip-tree;
			}
		}

		&:focus {
			background-color: darken($curious-blue-light, 2);
			border: 1px solid $picton-blue;
		}

		&:hover:not(:focus) {
			background-color: $porcelain;
		}

		.column {
			width: calc((100% / 3) - 0.25rem);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding-left: 1rem;

			&-icon {
				min-width: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 3px;

				img {
					border-radius: 3px;
				}
			}
		}
	}

	#table-header {
		display: flex;
		background-color: $white;
		user-select: none;
		font-size: 0.875rem;
		border-bottom: 1px solid $silver;
		box-sizing: border-box;
		min-height: 2rem;
		position: relative;
		z-index: 1;

		&.icon-offset {
			padding-left: 2rem;
		}

		div {
			display: flex;
			color: $pickled-bluewood;
			width: calc((100% / 3) - 0.25rem);
			align-items: center;
			text-align: left;
			cursor: pointer;
			outline: none;
			padding-left: 1rem;

			i {
				display: none;
				margin-left: 0.5rem;
			}

			&:hover, &:focus, &.active {
				i {
					display: block;
				}
			}

			&:focus {
				background-color: $curious-blue-light;
			}

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				cursor: default;
			}
		}
	}

	@include scrollbar;
}

.list-cta {
	text-align: center;
	color: $grey-text;
	font-size: 1rem;
	user-select: none;
	margin-top: 2rem;

	p {
		margin: 2rem 0;
	}

	a {
		font-size: 1rem;
	}
}

.table-body {
	height: 100%;
}

.group-separator {
	display: flex;
	padding: 0.5rem 1rem;
	align-items: center;
	font-size: 0.875rem;
	color: $grey-text;

	span {
		margin-right: 0.6rem;
	}
}

.results-badge {
	background: $porcelain;
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
	z-index: 0;
}

.pi-sort-alpha-down-alt::before,
.pi-sort-alpha-up-alt::before {
	color: $curious-blue;
}