@import 'themes/light/variables';;
@import 'mixins';

:host {
  user-select: none;
}

.dialog-header {
  margin-bottom: 0.5rem;
}

.description {
  margin-top: 1rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  @include font-medium;

  &.row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .status {
    display: inline-flex;
  }

  &.warning {
    color: $red-orange;
  }

  &.success {
    color: $jungle-green;
  }
}

.last-report {
  padding-right: 1rem;
}

p {
  margin: 0.25rem 0;
}

.bold {
  @include font-medium;
  margin-top: 0;
}

.report-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

i {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.table {
  margin-bottom: 2rem;

  .table-header {
    @include font-medium;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2rem;
    column-gap: 1rem;

    > div {
      padding: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      align-items: center;

      i-feather {
        margin-right: 0 !important;
      }
    }
  }
}

.scan-btn {
  margin-left: 0.25rem;
}