@import 'themes/light/variables';
@import 'mixins';

:host {
	user-select: none;
}

.dialog-header {
	margin-bottom: 0.5rem;
}

.description {
	margin-top: 1rem;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2rem;
	font-size: 1.25rem;
	@include font-bold;

	&.row {
		flex-direction: row;
		align-items: baseline;
	}

	.status {
		display: inline-flex;
	}

	&.warning {
		color: hsl(0, 66%, 60%);
	}

	&.success {
		color: $jungle-green;
	}
}

.last-report {
	padding-right: 1rem;
}

p {
	margin: 0.25rem 0;
}

.bold {
	@include font-medium;
	margin-top: 0;
}

.report-container {
	display: flex;
}

.scan-btn {
	margin-left: 0.25rem;
}
