<app-modal *ngIf="lastReportLoaded">
  <div class="dialog-header">
    <h2>Leaked passwords report</h2>
    <a
      href="#"
      role="button"
      aria-label="Close"
      class="close-dialog"
      (click)="close(); false">&times;
    </a>
  </div>
  <div class="dialog-message">
    <div class="info-box"><i-feather name="info"></i-feather><div>Fortibit integrates with <a href="#" (click)="openUrl('http://haveibeenpwned.com'); false;">haveibeenpwned.com</a> to identify passwords that have been compromised in publicly available leaks.</div></div>
    <div style="display: flex; margin: 2rem 0;">
      <div style="margin-right: auto;">
        <button
          type="button"
          #autofocus
          class="scan-btn primary-btn"
          (click)="scan()"
          [disabled]="scanInProgress">Scan 
        </button>
      </div>
      <div *ngIf="lastReport" class="report-container">
        <div class="last-report">
          <p class="bold">Last scan:</p>
          <p>{{ lastReport.creationDate | date: "dd/MM/yy HH:mm" }}</p>
          <p>Exposed passwords: {{ exposedPasswordsFound.length }}</p>
          <a *ngIf="exposedPasswordsFound.length" href="#" (click)="showDetails = true; false">
            Show details
          </a>
        </div>
        <div style="display: flex; flex: 1; justify-content: flex-end; align-items: flex-start; margin-left: 2rem;">
          <button type="button" (click)="saveReport()" class="text-btn" [disabled]="!lastReportLoaded || scanInProgress">Export to file</button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="scanInProgress === false">
      <div *ngIf="exposedPasswordsFound.length; else notFound" class="result warning">
        <div class="status">
          {{ exposedPasswordsFound.length }} exposed <span [ngPlural]="exposedPasswordsFound.length">
            <ng-template ngPluralCase="=1">&nbsp;password</ng-template>
            <ng-template ngPluralCase="other">&nbsp;passwords</ng-template>
          </span>&nbsp;found
        </div>
      </div>
      <ng-template #notFound>
        <ng-container *ngIf="showError; else notFoundSuccess">
          <div class="result warning">
            There was an error scanning for leaks.
          </div>
        </ng-container>
        <ng-template #notFoundSuccess>
          <div class="result success">
            <div class="status">You're all good.</div>
            <p>No exposed passwords have been found.</p>
          </div>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="scanInProgress">
      <div class="result row">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>Scanning... Please wait.
      </div>
    </ng-container>
    <div *ngIf="showDetails && !scanInProgress">
      <div class="table">
        <div class="table-header">
          <div class="row">
            <div>Group</div>
            <div>Title</div>
            <div>Username</div>
            <div>Occurrences</div>
          </div>
        </div>
        <div class="table-body">
          <div *ngFor="let row of exposedPasswordsFound; trackBy: trackByFn" class="row">
            <div>{{ row.groupName }}</div>
            <div>{{ row.title }}</div>
            <div>{{ row.username }}</div>
            <div>{{ row.occurrences }}</div>
            <div><a href="#" (click)="editEntry(row.id); false"><i-feather name="edit"></i-feather></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <button
      type="button"
      class="secondary-btn"
      (click)="close()">
      Close
    </button>
  </div>
</app-modal>