<app-modal bodyClass="settings-modal">
  <div
    class="dialog-header">
    <h2>Database settings</h2>
    <a
      href="#"
      role="button"
      aria-label="Close"
      class="close-dialog"
      (click)="close()">&times;
    </a>
  </div>
  <div class="dialog-message">
    <app-tabset>
      <app-tab header="Encryption" icon="shield">
        <app-password-change-tab></app-password-change-tab>
      </app-tab>
      <app-tab header="Compression" icon="file-o" disabled>
        <app-compression-tab></app-compression-tab>
      </app-tab>
    </app-tabset>
  </div>
</app-modal>