@import 'variables';

.text-btn {
  margin: 4px 0;

  &.active {
    background-color: $curious-blue-light;
  }
}

ul li {
  display: block;

  button {
    width: 160px;
    text-align: left;
  }
}

.dialog-message {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 180px;
  }
}

.password-form, .compression-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.save {
  margin-top: 0.5rem;
  margin-left: auto;
}

.change-password {
  display: flex;
  align-items: flex-start;
  border-radius: 4px;

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .emp {
    color: $curious-blue;
  }

  .info-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: $curious-blue;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: $silver;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

input:checked + .slider {
  background-color: $curious-blue;
}

input:focus + .slider:before, input:focus:active + .slider:before {
  box-shadow: 0px 0px 0px 2px #56a2e0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.template-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}