<div class="container">
  <p class="description">
    Download icons for web login entries automatically from fortibit CDN server.
  <form [formGroup]="viewForm">
    <div class="inputgroup checkbox">
      <label class="label" for="displayIcons">Display entry icons:</label>
      <label class="switch">
        <input
          id="displayIcons"
          type="checkbox"
          formControlName="displayIcons">
          <span class="slider"></span>
      </label>    
    </div>
  </form>
</div>