<app-modal>
	<div class="dialog-header">
		<h2>Remove entry</h2>
		<a
			href="#"
			role="button"
			aria-label="Close"
			class="close-dialog"
			(click)="close(); (false)"
			>&times;
		</a>
	</div>
	<div class="dialog-message">
		@if (selectedRowsCount === 1) {
			Are you sure you want to
			@if (isInRecycleBin) {
				<strong>permanently</strong>
			}
			remove this entry?
		} @else {
			Are you sure you want to
			@if (isInRecycleBin) {
				<strong>permanently</strong>
			}
			remove <strong>{{ selectedRowsCount }}</strong> entries?
		}
	</div>
	<div class="footer-container">
		<button
			type="button"
			#autofocus
			class="text-btn"
			(click)="close()"
			(keyup.enter)="close()"
		>
			Cancel
		</button>
		<button
			type="button"
			id="entry-remove"
			class="primary-btn"
			(click)="deleteEntry()"
			(keyup.enter)="deleteEntry()"
		>
			Remove
		</button>
	</div>
</app-modal>
