<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="password-table">
	<div id="table-header" data-prevent-entry-deselect>
		<div class="group-data">
			@if (
				searchPhraseSnapshot?.length && (!isSearching || wasSearched) && entriesFound$
					| async;
				as entriesCount
			) {
				{{ entriesCount }} found
			} @else {
				{{ passwordEntries.length }}
			}
		</div>
		<app-table-filters></app-table-filters>
	</div>
	@if (passwordList$ | async; as passwordList) {
		@if (passwordList.length > 0) {
			<cdk-virtual-scroll-viewport
				data-prevent-entry-deselect
				itemSize="56"
				appFocusableList
				(focused)="selectEntry($event.originalEvent, $event.item)"
				[selected]="selectedEntries"
				class="table-viewport"
			>
				<ng-container
					*cdkVirtualFor="
						let item of passwordList;
						let i = index;
						trackBy: trackingTag;
						templateCacheSize: 0
					"
				>
					<div
						[appFocusableListItem]="item"
						[appContextMenuItem]="getContextMenu(item.type)"
						(click)="selectEntry($event, item)"
						(contextmenu)="showEntryContextMenu($event, item)"
						[attr.draggable]="entriesDragEnabled"
						[attr.aria-setsize]="passwordList.length"
						[attr.aria-posinset]="i + 1"
						tabindex="0"
						(dragstart)="startDrag($event, item)"
						(dragend)="endDrag()"
						[ngClass]="{
							selected: isEntrySelected(item),
							'is-dragging': isEntryDragged(item)
						}"
						class="row-entry"
						data-list-entry
					>
						<ng-container
							*ngComponentOutlet="
								getComponentType(item);
								inputs: {
									searchPhrase: searchPhrase$ | async,
									item,
									iconsEnabled
								}
							"
						/>
					</div>
				</ng-container>
			</cdk-virtual-scroll-viewport>
		} @else {
			<div class="list-cta">
				@if ((searchPhrase$ | async)?.length || activeFilters?.length) {
					No matching entries found
				} @else {
					There are no entries in this group
					@if (isAddPossible) {
						<a
							href="#"
							class="add-entry-list-button"
							(click)="addNewEntry(); (false)"
						>
							Add entry
						</a>
					}
				}
			</div>
		}
	}
</div>

<div id="mask">
	<div
		#dragImage
		id="drag-image"
		[ngClass]="{ multi: movedEntries.length > 1 }"
	>
		<div class="container">
			<div class="image"></div>
			<div class="content">
				<div class="text-line"></div>
				<div class="text-line"></div>
			</div>
		</div>
	</div>
</div>
