@import 'themes/light/variables';
@import 'mixins';

$sidePanelInDuration: 300ms;
$sidePanelOutDuration: 250ms;

:host {
	display: flex;
	flex: 1;
	overflow: auto;
	overflow-y: hidden;
	position: relative;

	// horizontal scrollbar
	@include scrollbar;

	.table-viewport {
		height: map-get($map: $layout, $key: "entry-table");
		// vertical scrollbar inside the table viewport
		@include scrollbar;

		&::-webkit-scrollbar-track {
			display: inline;
			background-color: var(--scrollbar-track);
		}
	}

	::ng-deep {
		.p-selectable-row {
			outline: none;
		}
	}
}

.password-table {
	width: 100%;
	@include font-regular;

	.row-entry {
		font-size: 0.875rem;
		cursor: pointer;
		border: 1px solid transparent;
		box-sizing: border-box;
		@include default-table-row;

		&:focus,
		&:hover {
			@include default-table-row;
		}

		&.selected {
			background-color: var(--list-item-bg--active);
			&:hover {
				background-color: var(--list-item-bg--active);
			}
		}

		.column.password {
			display: flex;
			align-items: center;

			.pi {
				margin-left: 2rem;
			}
		}

		&.selected:focus {
			background-color: var(--list-item-bg--active);
			border: 1px solid $blue-200;
		}

		&:hover:not(.selected) {
			background-color: var(--list-item-bg--hover);
		}

		.column {
			min-width: calc((100% / 2) - 0.25rem);
			white-space: nowrap;
			padding-left: 1rem;

			.row {
				text-overflow: ellipsis;
				overflow: hidden;

				&.title {
					@include font-medium;
				}

				&.username {
					color: var(--secondary-text);
				}

				&:first-child {
					margin-bottom: 0.25rem;
				}
			}

			&-icon {
				min-width: 28px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 3px;
				margin-left: 0.875rem;

				img {
					border-radius: 3px;
				}
			}
		}
	}

	#table-header {
		display: flex;
		background-color: var(--primary-bg);
		user-select: none;
		font-size: 0.875rem;
		border-bottom: 1px solid var(--border-color);
		box-sizing: border-box;
		height: $workspace-header-height;
		position: relative;
		z-index: 1;
		padding-left: 1rem;

		div {
			display: flex;
			color: var(--primary-text);
			align-items: center;
			text-align: left;
			cursor: pointer;
			outline: none;

			span {
				margin: 0 0.5rem;
			}

			&:hover, &:focus, &.active {
				i {
					display: block;
				}
			}

			&:focus {
				background-color: $blue-100;
			}

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				display: block;
			}
		}
	}

	@include scrollbar;
}

.list-cta {
	text-align: center;
	color: var(--primary-text);
	font-size: 1rem;
	user-select: none;
	padding-top: 2rem;

	p {
		margin: 2rem 0;
	}

	a {
		font-size: 1rem;
	}
}

.table-body {
	height: 100%;
}

.group-separator {
	display: flex;
	padding: 0.5rem 1rem;
	align-items: center;
	font-size: 0.875rem;
	color: var(--secondary-text);

	span {
		margin-right: 0.6rem;
	}
}

.results-badge {
	display: flex;
	align-items: center;
	background: var(--input-bg-secondary);
	font-size: 0.75rem;
	padding-left: 1rem;
	z-index: 0;

	> div {
		box-sizing: border-box;
		padding-top: 0.5625rem;
		height: 2rem;
	}

	+ .table-viewport {
		height: calc(map-get($map: $layout, $key: "entry-table") - 2rem);
	}
}

.pi-sort-alpha-down-alt::before,
.pi-sort-alpha-up-alt::before {
	color: $blue-300;
}

.selected-items {
	color: $grey-400;
}

.group-data {
	cursor: default !important;
	color: $grey-400 !important;
}

.add-entry-list-button {
	padding: 0.5rem;
	border-radius: 0.25rem;

	&:hover {
		background-color: var(--list-item-bg--hover);
	}

	&:focus:not(:hover) {
    outline: 2px solid $barberry !important;
  }
}

#mask {
	position: absolute;
	z-index: -999;
}

#drag-image {
	width: 100px;
	height: 50px;
	position: relative;
	z-index: 0;

	.container {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		background: var(--drag-image-bg);
		border-radius: 4px;
		z-index: 2;
		position: absolute;

		.image {
			width: 18px;
			height:18px;
			background: var(--drag-image-element-bg);
			border-radius: 2px;
			margin: 0 8px;
		}

		.content {
			flex: 1;

			.text-line {
				height: 7px;
				background: var(--drag-image-element-bg);
				margin-right: 1rem;

				&:first-child {
					margin-bottom: 4px;
				}
			}
		}
	}
}

.multi {
	&::before {
		content: '';
		position: absolute;
		top: -12px;
		left: 12px;
		display: block;
		width: 100px;
		height: 50px;
		z-index: 0;
		border-radius: 4px;
		background: var(--drag-image-back-bg);
		border: 1px solid var(--drag-image-bg);
	}

	&::after {
		content: '';
		position: absolute;
		top: -6px;
		left: 6px;
		display: block;
		width: 100px;
		height: 50px;
		z-index: 1;
		border-radius: 4px;
		background: var(--drag-image-back-bg);
		border: 1px solid var(--drag-image-bg);
	}
}