<div class="container">
	<div class="info-box">
		<i-feather name="info"></i-feather>
		<div>
			Master password will be stored in Windows Credential Manager.<br /><br />
			If you change this vault's location, biometric authentication option will
			have to be enabled for this vault again.
		</div>
	</div>
	<form [formGroup]="integrationForm">
		<div class="inputgroup checkbox">
			<label class="label" for="windowsHello">Windows Hello:</label>
			<label class="switch">
				<input
					id="windowsHello"
					type="checkbox"
					formControlName="biometricsAuthenticationEnabled"
				/>
				<span class="slider"></span>
			</label>
		</div>
		<div *ngIf="isUnlocked" style="margin-top: 2rem">
			<div style="display: flex">
				<label class="label">Credential name:</label> fbit:{{ filePath }}
			</div>
			<button
				type="button"
				class="primary-btn"
				[ngClass]="{ danger: isBiometricsEnabledForCurrentDatabase }"
				(click)="toggleBiometrics()"
				[disabled]="credentialButtonDisabled"
			>
				<ng-container
					*ngIf="
						isBiometricsEnabledForCurrentDatabase;
						else addDatabaseCredential
					"
				>
					Remove credential
				</ng-container>
				<ng-template #addDatabaseCredential> Add credential </ng-template>
			</button>
		</div>
	</form>
</div>
