/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mixins";
@import "buttons";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-color: $white;
	color: $pickled-bluewood;
	@include font-regular;
}

input,
textarea {
	@include font-regular;
	color: $pickled-bluewood;
}

a {
	text-decoration: none;
}

.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: $white;

	svg {
		display: block;
		position: relative;
		top: 40%;
		left: calc(50% - 3em);
	}
}

.header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	padding: 0 1rem;
	color: $pickled-bluewood;
	font-size: 0.875rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	min-height: 2rem;
	user-select: none;
	border-bottom: 1px solid $silver;
}

.validation-error {
	color: $bright-red;
	font-size: 0.8rem;
	margin-left: 1.5rem;
}

.footer-container {
	display: flex;
	justify-content: flex-end;
	margin: 1rem 0;
}

.dialog-message {
	padding: 1rem 0;
	font-size: 0.875rem;
}

.dialog-header {
	display: flex;
	margin: 0;
	padding: 0;
	user-select: none;
	margin-bottom: 1.5rem;

	h2 {
		@include font-regular;
		margin: 0;
		font-weight: normal;
		font-size: 1.625rem;
		color: $pickled-bluewood;
		flex: 1;
	}

	.close-dialog {
		color: $gumbo;
		font-size: 2rem;
		line-height: 1rem;
		font-weight: bold;
		cursor: pointer;
		transition: color 100ms;

		&:hover {
			color: $pickled-bluewood;
		}
	}
}

.d-none {
	display: none;
}

.entry-contextmenu {
	width: 10rem;
}

.label {
	user-select: none;
}

.dropdown {
  position: relative;
  display: block;

	a:focus {
		outline: none;
	}

	&.open {
		button, a {
			border-bottom-right-radius: 0;
		}
	}
}

.dropdown-content {
  position: relative;
	right: 0;
  background-color: $white;
  width: 5rem;
  z-index: 999;
	// Box shadow changes anchor color inside for some reason
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12));

	.divider {
		padding: 4px;

		hr {
			margin: 0;
			border: 0;
			border-top: 1px solid $silver;
		}
	}

	a {
		color: $pickled-bluewood;
		padding: 0.5rem;
		text-decoration: none;
		display: block;
		font-size: 0.875rem;

		&.focused {
			background: $porcelain;
		}
	}
}

.show {
	display:block;
}

.modal {
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

	.modal-body {
		background: $white;
		min-width: 600px;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		z-index: 991;
		border-radius: 0.5rem;
	}
}
	
.modal-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: url('#blur-shadow');
	z-index: 990;
}

.node-content-wrapper-active:not(.node-content-wrapper-focused):not(:hover) {
	background: $white !important;
}

.is-unknown-element-dragging {
	background: $white !important;
}

.dropdown-content {
	width: 200px;	
	padding-top: 4px;
	padding-bottom: 4px;
	position: absolute;

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	.disabled {
		color: $grey-80;
		cursor: default;

		&:hover {
			background-color: $white;
		}
	}
}

.inputgroup {
	margin: 0.5rem 0;
	display: flex;
	box-sizing: border-box;
	position: relative;

	&.checkbox {
		align-items: center;
	}

	input[type='text'], input[type='password'], textarea {
		border: 0;
		border-bottom: 1px solid $silver;
		width: 100%;
		background: transparent;
		padding: 0.5rem;
		padding-left: 1.5rem;
		z-index: 1;
		outline: none;
	}
}

.inputgroup-addon {
	position: absolute;
	border: 0;
	background-color: transparent;
	color: $pickled-bluewood;
	z-index: 0;
	margin-top: 0.5rem;
}

.handle {
  position: absolute;
  top: 0;
	right: 0;
  min-width: $sidebar-width;
  display: flex;
  height: 100%;
  z-index: 990;
	justify-content: flex-end;
	transition: background-color 50ms;
	cursor: w-resize;

	&::after {
		content: '';
		width: 0.75px;
		background-color: $silver;
		opacity: 1;
	}

	&:hover {
		animation-name: active-sidebar;
    animation-delay: 600ms;
    animation-timing-function: ease-in-out 100ms;
    animation-fill-mode: forwards; 

		&::after {
			opacity: 0;
			transition-delay: 600ms;
		}
	}

	&.active {
		background-color: $curious-blue;
    width: 4px;

		&::after {
			display: none;
		}
	}
}

.is-dragging {
	opacity: 0.5;
}

.settings-modal {
	height: 460px;
}

@keyframes active-sidebar {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $curious-blue;
    width: 4px;
  }
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.pi-star-fill {
	color: $picton-blue;
}

app-root, app-dashboard {
	display: flex;
	flex-direction: column;
	height: 100%;
}

form .primary-btn {
	margin-top: 1.625rem;
}

.is-dragging-over {
	background-color: $porcelain !important;
}