/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

input, textarea {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
  color: #fff;
  background-color: #47A69F;
  width: 13rem;
  border-radius: 4px;

  .ui-toast-close-icon {
    color: #fff;
  }

  .toast-outer {
    text-align: center;
    display: flex;
    align-items: center;

    .toast-inner {
      display: flex;
      align-items: center;
      padding: 0rem 0;
    
      .toast-text {
        margin-right: 0.5rem;
      }
    
      .seconds-left {
        color: #fff;
        font-size: 1rem;
      } 
    }
  }
}

.ui-toast-bottom-right {
  right: -3rem;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 999;

  svg {
    display: block;
    position: relative;
    top: 30%;
    left: calc(50% - 3em);
  }

  .lds-ring {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #1b81d7;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1b81d7 transparent transparent transparent;

  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

#drag-ghost {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 2px dotted black;
}

input, button, a {
  outline: none !important;
  box-shadow: none !important;
}

.ui-contextmenu {
  width: auto;
  .ui-submenu-list {
    width: 16em;
  }
}

body .ui-dialog .ui-dialog-titlebar {
  background-color: #fff;
}

.primary-btn {
  font-family: "Open Sans";
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #fff;
  background: #47A69F;
  width: auto;
  margin-right: 0.5rem;
  transition: all 150ms;
  cursor: pointer;
  &:hover {
      background-color: #409b95;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  }
  &:disabled {
    background-color: #ccc;
    &:hover {
      box-shadow: none !important;
    }
  }
}

.text-btn {
  font-family: "Open Sans";
  color: #47A69F;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 0;
  font-size: .9rem;
  border-radius: 4px;
  transition: background-color 150ms;
  letter-spacing: 1px;
  background-color: #fff;
  cursor: pointer;
  &:hover {
      background-color: rgb(245, 245, 245);
  }
}

.header {
  position: relative;
  z-index: 2;
  padding: 0.45rem 0 0 1rem;
  font-weight: 700;
  color: #444;
  font-size: 0.9rem;
}

.ui-inputgroup {
  border: 1px solid #a6a6a6;
  border-radius: 4px;

  input, textarea {
      width: 100%;
      font-size: 0.9rem;
      color: #444;
      border: 0;
      border-radius: 4px;
  }

  input {
      padding: 0 0.5rem;
  }

  textarea {
      padding: 0.5rem 0.5rem 0;
      resize: none;
      outline: none;
  }

  .ui-inputgroup-addon {
      border: 0 !important;
      background-color: unset !important;
  }

  &.ng-invalid {
      border: 1px solid #a80000;
  }
}

.validation-error {
  color: #a80000;
  margin: 0.5rem 0 0;
}