<ng-container [formGroup]="passwordForm">
	<div class="inputgroup required" [ngClass]="{ readonly: isReadOnly }">
		<span class="inputgroup-addon"><i-feather name="user"></i-feather></span>
		<input
			type="text"
			[readonly]="isReadOnly"
			id="entry-username"
			formControlName="username"
			placeholder="Username"
		/>
	</div>
	<div formGroupName="passwords" class="form-group">
		<div class="inputgroup required pw" [ngClass]="{ readonly: isReadOnly }">
			<span class="inputgroup-addon"><i-feather name="key"></i-feather></span>
			<input
				#passwordInput
				[type]="passwordVisible ? 'text' : 'password'"
				[attr.aria-invalid]="
					isControlInvalid(passwordForm.controls.passwords.controls.password)
				"
				aria-describedby="password-invalid"
				[readonly]="isReadOnly"
				id="entry-password"
				data-testid="entry-password"
				class="password"
				formControlName="password"
				placeholder="Password (required)"
				(input)="onPasswordChange($event)"
			/>
			@if (!isReadOnly) {
				<div class="password-tools">
					<div class="actions">
						<a
							href="#"
							appTooltip="Show password"
							container="body"
							aria-label="Show password"
							(click)="togglePasswordVisibility(); (false)"
						>
							<i-feather
								[name]="passwordVisible ? 'eye-off' : 'eye'"
								class="show-password-icon"
								[ngClass]="{ active: passwordVisible }"
							>
							</i-feather>
						</a>
						<a
							href="#"
							appTooltip="Generate password"
							aria-label="Generate password"
							container="body"
							(click)="regeneratePassword(); (false)"
						>
							<i-feather name="refresh-cw"></i-feather>
						</a>
					</div>
				</div>
			} @else {
				<a href="#" (click)="copyPassword(); (false)" class="copy-password"
					>Copy</a
				>
			}
			<ng-template #readonly>
				<a href="#" (click)="copyPassword(); (false)" class="copy-password"
					>Copy</a
				>
			</ng-template>
		</div>
		<app-password-strength-meter
			[score]="passwordScore"
		></app-password-strength-meter>
		<app-validation-error
			id="password-invalid"
			controlName="password"
			errors="Password is required"
		></app-validation-error>
		<div class="inputgroup required" [ngClass]="{ readonly: isReadOnly }">
			<span class="inputgroup-addon"><i-feather name="key"></i-feather></span>
			<input
				#passwordInput
				[readonly]="isReadOnly"
				[attr.aria-invalid]="isControlInvalid(passwordForm.controls.passwords)"
				aria-describedby="password-repeat-invalid"
				[type]="passwordVisible ? 'text' : 'password'"
				id="entry-password-r"
				formControlName="repeatPassword"
				placeholder="Repeat password (required)"
			/>
		</div>
		<app-validation-error
			id="password-repeat-invalid"
			[control]="passwordForm.controls.passwords"
			errors="Passwords must match"
		></app-validation-error>
	</div>
	<div class="inputgroup" [ngClass]="{ readonly: isReadOnly }">
		<div class="inputgroup-addon"><i-feather name="globe"></i-feather></div>
		<input
			type="text"
			[readonly]="isReadOnly"
			id="entry-website"
			formControlName="url"
			placeholder="Website"
		/>
	</div>
	<div class="inputgroup" [ngClass]="{ readonly: isReadOnly }">
		<div class="inputgroup-addon"><i-feather name="info"></i-feather></div>
		<textarea
			formControlName="notes"
			[readonly]="isReadOnly"
			id="entry-note"
			placeholder="Note"
			rows="5"
		>
		</textarea>
	</div>
	<div>
		<button
			type="button"
			class="expandable-section"
			(click)="isVisible = !isVisible"
		>
			<i-feather
				[name]="isVisible ? 'chevron-up' : 'chevron-right'"
			></i-feather>
			Advanced options
		</button>
		@if (isVisible) {
			<div class="section">
				<label class="label" for="entry-autotype-exp"
					>Autotype target window:</label
				>
				<div class="inputgroup" [ngClass]="{ readonly: isReadOnly }">
					<div class="inputgroup-addon">
						<i-feather name="code"></i-feather>
					</div>
					<input
						formControlName="autotypeExp"
						[readonly]="isReadOnly"
						type="text"
						id="entry-autotype-exp"
						placeholder="Regular expression"
					/>
				</div>
			</div>
			<div class="section">
				<label class="label" for="otpCode">TOTP secret:</label>
				<div class="inputgroup" [ngClass]="{ readonly: isReadOnly }">
					<div class="inputgroup-addon">
						<i-feather name="code"></i-feather>
					</div>
					<input
						formControlName="otpCode"
						[readonly]="isReadOnly"
						type="text"
						id="otpCode"
						placeholder="Base32 secret"
					/>
				</div>
				<app-validation-error
					controlName="otpCode"
					errors="Invalid base32 string"
				></app-validation-error>
			</div>
		}
	</div>
</ng-container>
