@import 'themes/light/variables';
@import 'mixins';

$password-padding-right: 50px;

.inputgroup {
	&.pw {
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.password {
		padding-right: $password-padding-right;
	}
}

.label {
	font-size: 0.875rem;
}

.section {
	margin-top: 1rem;
}

.password-tools {
	display: flex;
	width: $password-padding-right;
	text-align: center;
	height: 1rem;
	position: absolute;
	justify-content: flex-end;
	transition: color 50ms;
	right: 0.5rem;

	.actions {
		column-gap: 0.5rem;
		display: flex;
		padding-left: 1rem;
		border-left: 1px solid var(--border-color);
	}

	i-feather {
		margin-right: 0 !important;
		color: var(--icon-secondary);
		cursor: pointer;

		&:hover {
			color: $blue-300;
		}
	}

	.text {
		@include font-medium;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 0.875rem;
		color: $white;
		user-select: none;
		padding-right: 0.5rem;

		&.active {
			&.s-0 {
				color: #ee6e47;
			}

			&.s-1 {
				color: #fba949;
			}

			&.s-2 {
				color: #fba949;
			}

			&.s-3 {
				color: #8bd448;
			}

			&.s-4 {
				color: #8bd448;
			}
		}
	}
}

#entry-form {
	@include scrollbar;
	position: relative;
	max-height: 100%;
	overflow: auto;
	padding-right: 1rem;
}

a.copy-password {
	color: var(--primary-text);
	margin-right: 1rem;
}

.restore {
	margin-right: 1rem;
}

.pw-validation {
	margin-top: 0.5rem;
}

.active {
	color: $blue-300 !important;
}

.inputgroup {
	align-items: flex-start;
}
