<app-modal>
	<div class="dialog-header">
		<h2>
			{{ header }}
			@if (!isReadOnly) {
				<small>in {{ entryGroupName }}</small>
			}
		</h2>
		<a
			href="#"
			role="button"
			aria-label="Close"
			class="close-dialog"
			(click)="close(); (false)"
			>&times;
		</a>
	</div>
	<div #entryForm id="entry-form" [formGroup]="newEntryForm">
		<!-- <div>
			<select formControlName="type">
				<option *ngFor="let type of entryTypes" [value]="type">
					{{ type }}
				</option>
			</select>
		</div> -->
		<div class="inputgroup" [ngClass]="{ readonly: isReadOnly }">
			<span class="inputgroup-addon"
				><i-feather name="bookmark"></i-feather
			></span>
			<input
				[attr.aria-invalid]="isControlInvalid(title)"
				aria-describedby="title-invalid"
				type="text"
				[readonly]="isReadOnly"
				id="entry-title"
				#autofocus
				formControlName="title"
				placeholder="Title"
			/>
		</div>
		<app-validation-error
			id="title-invalid"
			formControlName="title"
			errors="Title is required"
		>
		</app-validation-error>
		<ng-container
			*ngComponentOutlet="
				formPartialComponent;
				inputs: { additionalData, isReadOnly }
			"
		/>
	</div>
	<div class="footer-container">
		@if (isReadOnly) {
			<button type="button" (click)="delete(); (false)" class="text-btn delete">
				<i-feather name="trash"></i-feather>
				Delete
			</button>
		}
		@if (isReadOnly) {
			<button
				type="button"
				(click)="restore(); (false)"
				class="text-btn restore"
			>
				<i-feather name="refresh-ccw"></i-feather>
				Restore
			</button>
		}
		@if (!isReadOnly) {
			<button
				[disabled]="saveLocked"
				(click)="addNewEntry()"
				id="entry-submit"
				class="primary-btn"
			>
				Confirm
			</button>
		} @else {
			<button
				type="button"
				(click)="closeReadOnly()"
				id="close"
				class="primary-btn"
			>
				Close
			</button>
		}
	</div>
</app-modal>
