<app-modal>
  <div
    class="dialog-header">
    <h2>{{ header }}</h2>
    <a
      href="#"
      role="button"
      aria-label="Close"
      class="close-dialog"
      (click)="close(); false">&times;
    </a>
  </div>
  <div
    #entryForm
    id="entry-form"
    style="position: relative; max-height: 100%; overflow: auto; padding-right: 1rem;"
    [formGroup]="newEntryForm">
    <div>
      <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
        <span class="inputgroup-addon"><i-feather name="bookmark"></i-feather></span>
        <input
          type="text"
          [readonly]="isReadOnly"
          id="entry-title"
          appAutofocus
          formControlName="title"
          placeholder="Title">   
      </div>
      <div
        *ngIf="isControlInvalid(title)"
        class="validation-error">
        Title is required
      </div>
      <div
        class="inputgroup required"
        [ngClass]="{'readonly': isReadOnly}">
        <span class="inputgroup-addon"><i-feather name="user"></i-feather></span>
        <input
          type="text"
          [readonly]="isReadOnly"
          id="entry-username"
          formControlName="username"
          placeholder="Username">         
      </div>
      <div formGroupName="passwords" class="form-group">
        <div
          class="inputgroup required"
          [ngClass]="{'readonly': isReadOnly}">
          <span class="inputgroup-addon"><i-feather name="key"></i-feather></span>
          <input
            #passwordInput
            type="password"
            [readonly]="isReadOnly"
            id="entry-password"
            class="password"
            formControlName="password"
            placeholder="Password (required)"
            (input)="onPasswordChange($event)">
            <div *ngIf="!isReadOnly; else readonly" class="password-strength">
              <div
                [ngClass]="{'active': passwordLength > 0}"
                [class]="passwordScore >= 0 ? 'text s-' + passwordScore : 'text'">
                {{ textDescription }}
              </div>
            </div>
            <ng-template #readonly>
              <a href="#" (click)="copyPassword(); false" class="copy-password">Copy</a>
            </ng-template>
        </div>
        <div
          *ngIf="isControlInvalid(passwordsGroup.get('password'))"
          class="validation-error">
          Password is required
        </div>
        <div
          class="inputgroup required" [ngClass]="{'readonly': isReadOnly}">
          <span class="inputgroup-addon"><i-feather name="key"></i-feather></span>
          <input
            #passwordInput
            [readonly]="isReadOnly"
            type="password"
            id="entry-password-r"
            formControlName="repeatPassword"
            placeholder="Repeat password (required)">
        </div>
        <div
          *ngIf="isControlInvalid(passwordsGroup)"
          class="validation-error">
          Passwords must match
        </div>
      </div>
      <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
        <div class="inputgroup-addon"><i-feather name="globe"></i-feather></div>
        <input
          type="text"
          [readonly]="isReadOnly"
          id="entry-website"
          formControlName="url"
          placeholder="Website">
      </div>
      <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
        <div class="inputgroup-addon"><i-feather name="info"></i-feather></div>
        <textarea
          formControlName="notes"
          [readonly]="isReadOnly"
          id="entry-note"
          placeholder="Note"
          rows="5">
        </textarea>     
      </div>
      <div>
        <button type="button" class="expandable-section" (click)="isVisible = !isVisible">
          <i-feather [name]="isVisible ? 'chevron-up' : 'chevron-right'"></i-feather>
          Advanced options
        </button>
        <ng-container *ngIf="isVisible">
          <div class="section">
            <label class="label" for="entry-autotype-exp">Autotype expression:</label>
            <div class="inputgroup" [ngClass]="{'readonly': isReadOnly}">
            <div class="inputgroup-addon"><i-feather name="code"></i-feather></div>
              <input
                formControlName="autotypeExp"
                [readonly]="isReadOnly"
                type="text"
                id="entry-autotype-exp"
                placeholder="Regular expression" />  
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <button
      *ngIf="isReadOnly"
      type="button"
      (click)="delete(); false"
      class="text-btn delete">
      <i-feather name="trash"></i-feather>
      Delete
    </button>
    <button
      *ngIf="isReadOnly"
      type="button"
      (click)="restore(); false"
      class="text-btn restore">
      <i-feather name="refresh-ccw"></i-feather>
      Restore
    </button>
    <button
      *ngIf="!isReadOnly; else closeBtn"
      [disabled]="saveLocked"
      (click)="addNewEntry()"
      id="entry-submit"
      class="primary-btn">
      Confirm
    </button>
    <ng-template #closeBtn>
      <button
        type="button"
        (click)="closeReadOnly()"
        id="close"
        class="primary-btn">
      Close
    </button>
    </ng-template>
  </div>
</app-modal>