@import 'themes/light/variables';;
@import 'mixins';

.inputgroup {
  .password {
    padding-right: 100px;
  }
}

.label {
  font-size: 0.875rem;
}

.section {
  margin-top: 1rem;
}

.password-strength {
  display: flex;
  width: 100px;
  text-align: center;
  height: 1rem;
  position: absolute;
  justify-content: flex-end;
  transition: color 50ms;
  right: 0;

  .text {
    @include font-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    color: $white;

    &.active {
      &.s-0 {
        color: #ee6e47;
      }
    
      &.s-1 {
        color: #FBA949;
      }
    
      &.s-2 {
        color: #FBA949;
      }
    
      &.s-3 {
        color: #8BD448;
      }
    
      &.s-4 {
        color: #8BD448;
      }
    }
  }
}

textarea {
  resize: none;
}

#entry-form {
  @include scrollbar;
}

a.copy-password {
  color: var(--primary-text);
  margin-right: 1rem;
}

.restore {
  margin-right: 1rem;
}