@if (entry?.isExposed) {
	<div class="alert warning">
		This password was detected in a data leak and may be compromised
	</div>
}

@if (entry?.url) {
	@if (isUnsecured && entry?.isSecureProtocolAvailable) {
		<div class="alert info">
			Secure https protocol is available for this entry
		</div>
	}

	<div class="section">
		<div class="subsection">
			<p class="label">URL</p>
			<p class="word-wrap">
				<span
					class="url-protocol"
					[ngClass]="{ 'unsecured': isUnsecured }"
					[appTooltip]="isUnsecured ? 'HTTP protocol is not secure' : ''"
					container="body"
					>{{ isUnsecured ? 'http://' : 'https://' }}</span
				><a (click)="openUrl(entry?.url); (false)" href="#">{{
					entry?.url | link
				}}</a>
			</p>
		</div>
	</div>
}

@if (entry?.username) {
	<div class="section">
		<div class="subsection">
			<p class="label">Username</p>
			<p>{{ entry?.username }}</p>
		</div>
		<div>
			<a
				href="#"
				class="copy"
				(click)="copyToClipboard(entry, 'username'); (false)"
				appTooltip="Copy"
				aria-label="Copy"
				container="body"
			>
				<i-feather name="copy"></i-feather>
			</a>
		</div>
	</div>
}

@if (entry?.password) {
	<div class="section">
		<div class="subsection">
			<p class="label">Password</p>
			<p>••••••</p>
		</div>
		<div>
			<a
				href="#"
				class="copy"
				(click)="copyToClipboard(entry, 'password'); (false)"
				appTooltip="Copy"
				aria-label="Copy"
				container="body"
			>
				<i-feather name="copy"></i-feather>
			</a>
		</div>
	</div>
}

@if (entry?.notes) {
	<div class="section column">
		<p class="label">Notes</p>
		<p class="pre-wrap">{{ entry?.notes }}</p>
	</div>
}
