@import 'themes/base-variables';
@import 'mixins';

p {
	margin: 0.25rem 0;
}

i-feather {
	color: var(--link-text);
	cursor: pointer;
	margin-left: 0.25rem;
}

.url-alert-icon {
	cursor: pointer;
	color: $red-orange !important;
}

.url-protocol {
	display: inline-block;
	color: $grey-500;

	&.secure-protocol-available {
		color: $tulip-tree !important;
	}

	&.unsecured {
		color: lighten($red-orange, 12);
		text-decoration: underline;
		text-decoration-style: dotted;
		text-underline-offset: 2px;
	}
}

.copy {
	display: inline-flex;
	align-items: center;

	&:focus-visible {
		outline: 2px solid $barberry !important;
	}

	i-feather {
		width: 1.25rem !important;
		height: 1.25rem !important;
		color: var(--icon-secondary);

		&:hover {
			color: $blue-300;
		}
	}
}

.section {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	word-break: break-all;
	color: var(--primary-text);

	.pre-wrap {
		white-space: pre-wrap;
	}

	&.column {
		flex-direction: column;
		align-items: flex-start;
	}

	.label {
		color: var(--label-text);
		display: flex;
	}

	a {
		color: var(--link-text);
	}

	.subtype {
		color: $grey-500;
	}
}

.subsection {
	flex: 1;
	margin: 0;
}

.alert {
	margin-top: 0.75rem;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
	border-radius: 0.25rem;

	&:not(:first-child) {
		margin-top: 0.25rem;
	}

	&.danger {
		background: var(--danger-box-bg);
		color: var(--danger-box-text);
	}
	
	&.warning {
		background: var(--warning-box-bg);
		color: var(--warning-box-text);
	}

	&.info {
		background: var(--info-box-bg);
		color: var(--info-box-text);
	}
}
