<div *ngIf="entry?.url" class="section">
	<div class="subsection">
		<p class="label">
			URL
			<i-feather
				appTooltip="http:// protocol is not secure Use https if possible"
				*ngIf="isUnsecured"
				name="alert-circle"
				class="url-alert-icon"
			></i-feather>
		</p>
		<p class="word-wrap">
			<span class="url-protocol">{{
				isUnsecured ? 'http://' : 'https://'
			}}</span
			><a (click)="openUrl(entry?.url); (false)" href="#">{{
				entry?.url | link
			}}</a>
		</p>
	</div>
</div>

<div *ngIf="entry?.username" class="section">
	<div class="subsection">
		<p class="label">Username</p>
		<p>{{ entry?.username }}</p>
	</div>
	<div>
		<a
			href="#"
			class="copy"
			(click)="copyToClipboard(entry, 'username'); (false)"
			appTooltip="Copy"
			aria-label="Copy"
			container="body"
		>
			<i-feather name="copy"></i-feather>
		</a>
	</div>
</div>

<div *ngIf="entry?.password" class="section">
	<div class="subsection">
		<p class="label">Password</p>
		<p>••••••</p>
	</div>
	<div>
		<a
			href="#"
			class="copy"
			(click)="copyToClipboard(entry, 'password'); (false)"
			appTooltip="Copy"
			aria-label="Copy"
			container="body"
		>
			<i-feather name="copy"></i-feather>
		</a>
	</div>
</div>

<div *ngIf="entry?.notes" class="section column">
	<p class="label">Notes</p>
	<p class="pre-wrap">{{ entry?.notes }}</p>
</div>
