@if (entry?.isExposed) {
	<div class="alert danger">
		This password was detected in a data leak and may be compromised
	</div>
}

@if (entry?.url) {
	@if (isUnsecured && entry?.isSecureProtocolAvailable) {
		<div class="alert warning">
			Secure https protocol is available for this entry
		</div>
	}

	@if (!entry?.otpAuth && entry?.isTfaAvailable) {
		<div class="alert info">2FA is available for this entry</div>
	}

	<div class="section">
		<div class="subsection">
			<p class="label">URL</p>
			<p class="word-wrap">
				<span
					class="url-protocol"
					[ngClass]="{ unsecured: isUnsecured }"
					[appTooltip]="isUnsecured ? 'HTTP protocol is not secure' : ''"
					container="body"
					>{{ isUnsecured ? 'http://' : 'https://' }}</span
				><a (click)="openUrl(entry?.url); (false)" href="#">{{
					entry?.url | link
				}}</a>
			</p>
		</div>
	</div>
}

@if (entry?.username) {
	<div class="section">
		<div class="subsection">
			<p class="label">Username</p>
			<p>{{ entry?.username }}</p>
		</div>
		<div>
			<a
				href="#"
				class="copy"
				(click)="copyToClipboard(entry, 'username'); (false)"
				appTooltip="Copy"
				aria-label="Copy"
				container="body"
			>
				<i-feather name="copy"></i-feather>
			</a>
		</div>
	</div>
}

@if (entry?.password) {
	<div class="section">
		<div class="subsection">
			<p class="label">Password</p>
			<p>••••••</p>
		</div>
		<div>
			<a
				href="#"
				class="copy"
				(click)="copyToClipboard(entry, 'password'); (false)"
				appTooltip="Copy"
				aria-label="Copy"
				container="body"
			>
				<i-feather name="copy"></i-feather>
			</a>
		</div>
	</div>
}

@if (otpCode) {
	<div class="section">
		<div class="subsection">
			<p class="label">One time password</p>

			<div style="display: flex; align-items: center; margin: 0.5rem 0">
				<svg
					data-testid="otp-s-left"
					width="30"
					height="30"
					viewBox="8 10 34 30"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					style="transform: rotate(-90deg)"
				>
					<circle
						r="15"
						cx="25"
						cy="25"
						fill="transparent"
						stroke="var(--countdown-primary)"
						stroke-width="2"
						stroke-dasharray="94.24px"
						stroke-dashoffset="0"
						shape-rendering="geometricPrecision"
					></circle>
					<circle
						r="15"
						cx="25"
						cy="25"
						stroke="var(--countdown-secondary)"
						stroke-width="2"
						stroke-linecap="butt"
						[attr.stroke-dashoffset]="(secondsLeft / 30) * 94.24 + 'px'"
						fill="transparent"
						stroke-dasharray="94.24px"
						shape-rendering="geometricPrecision"
					></circle>
					<text
						x="18px"
						y="29px"
						fill="#47779e"
						font-size="14px"
						style="transform: rotate(90deg) translate(7px, -52px)"
						text-anchor="middle"
						dominant-baseline="middle"
					>
						{{ secondsLeft }}
					</text></svg
				><span style="margin-left: 0.5rem">{{ otpCode }}</span>
			</div>
		</div>
		<div>
			<a
				href="#"
				class="copy"
				(click)="copyAuthCode(); (false)"
				appTooltip="Copy"
				aria-label="Copy"
				container="body"
			>
				<i-feather name="copy"></i-feather>
			</a>
		</div>
	</div>
}

@if (entry?.notes) {
	<div class="section column">
		<p class="label">Notes</p>
		<p class="pre-wrap">{{ entry?.notes }}</p>
	</div>
}
