<div class="sidebar">
	<div class="header blur-groups" tabindex="0">
		<div class="file">{{ fileName }}</div>
		<div class="quick-actions">
			<button (click)="addGroup(); false"><span class="pi pi-plus"></span></button>
			<button (click)="collapseAll(); false"><span class="pi pi-angle-double-up"></span></button>
		</div>
	</div>
	<tree-root
		role="tree"
		aria-label="Groups"
		tabindex="0"
		[nodes]="groups"
		[options]="treeOptions"
		(focus)="selectGroup($event)">
	  <ng-template #treeNodeTemplate let-node let-index="index">
			<ng-container *ngIf="(isGroupRenamed$ | async) && selectedGroup?.data.id === node.data.id; else groupName">
				<input
					type="text"
					appAutofocus
					appBlurEnter
					[(ngModel)]="node.data.name"
					[ngModelOptions]="{'updateOn': 'blur'}"
					(blur)="setGroupRenameModeOff(node)"
					maxlength="20"
					class="rename-group"/>
			</ng-container>
			<ng-template #groupName>
				<div
					#treeItem
					role="treeitem"
					tabindex="0"
					(focus)="focusTree()"
					[ngClass]="{'node-selected': selectedGroup?.data.id === node.data.id }"
					[attr.aria-level]="node.level"
					[appContextMenuItem]="getContextMenu(node)"
					class="node-group">
					<span *ngIf="node.data.isImported" class="pi pi-download"></span>
					<span *ngIf="node.data.id === groupIds.Starred" class="pi pi-star"></span>
					<span *ngIf="node.data.id === groupIds.RecycleBin" class="pi pi-trash"></span>
					{{ node.data.name }}
				</div>
			</ng-template>
		</ng-template>
	</tree-root>
	<div *ngIf="selectedGroup" class="blur-groups group-info">
		<div class="group-name">{{ selectedGroup.data.name }}</div>
		<div>S: {{ selectedEntries.length }}</div>
		<div>T: {{ passwordEntries.length }}</div>
	</div>
</div>

<div
	appSidebarHandle
	position="right">
</div>