@import 'variables';
@import 'mixins';

:host {
  display: flex;
  position: relative;
  width: 16rem;
  z-index: 0;

  ::ng-deep {
    tree-node-drop-slot {
      display: none;
    }

    .toggle-children {
      font-family: 'primeicons';
      background-image: none;
      backface-visibility: hidden;
      width: 0.875rem;
      height: 0.875rem;
      margin-top: 3px;

      &::before {
        display: flex;
        content: '\e901';
        margin-right: 0.5rem;
      }
    }

    .toggle-children-wrapper-expanded {
      .toggle-children {
        transform: none;
        &::before {
          content: '\e902';
        }
      }
    }
  
    tree-viewport {
      margin-top: 1rem;
      margin-left: 1rem;
      display: flex;
      height: 100%;
      @include scrollbar;
    }
  
    tree-root {
      flex: 1;

      &:focus {
        outline: none;
      }

      &.tree-focused .tree-node .node-content-wrapper-focused {
        border: 1px solid $picton-blue;
      }
  
      .tree-node {
        color: $pickled-bluewood;
        font-size: 0.875rem;

        .node-wrapper {
          align-items: center;
        }

        .node-content-wrapper {
          min-width: 10rem;
          padding: 2px 0;
          margin: 0;
          box-shadow: none;
          transition: background-color 50ms;
          border: 1px solid $white;
          border-radius: 0.25rem;
          
          &:hover:not(.node-content-wrapper-focused) {
            background-color: $porcelain;
          }

          &-active, &-focused {
            box-shadow: none;
            background-color: $curious-blue-light;
          }

          .node-group {
            padding: 0.25rem;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  &:hover {
    .handle {
      background: $porcelain;
    }
  }
}

.sidebar {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .header {
    &:focus-within {
      outline: none;
      background-color: $curious-blue-light;

      .quick-actions {
        display: block;

        button {
          background-color: $curious-blue-light;
        }
      }
    }

    .file {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      height: inherit;
    }

    .quick-actions {
      display: none;

      button {
        background-color: $white;
        border: 0;
        width: 1.5rem;
        color: $curious-blue;
        cursor: pointer;
        transition: 50ms color;

        &:hover, &:focus {
          color: $pickled-bluewood;
        }

        &:last-child {
          margin-right: 0;
        }

        .pi {
          font-size: 0.875rem;
        }
      }
    }
  }

  &:hover {
    .header .quick-actions {
      margin-top: 0.25rem;
      display: flex;
    }
  }

  .group-info {
    font-size: 0.75rem;
    padding: 0 1rem;
    background-color: $white;
    border-top: 1px solid $silver;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    user-select: none;
    min-height: 2rem;

    div {
      border-right: 1px solid $silver;
      margin: 0 4px;
      padding: 0 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 20%;

      &:first-child {
        justify-content: flex-start;
        flex: 1;
      }

      &:last-child {
        border: 0;
      }
    }
  }

  .rename-group {
    @include font-regular;
    background: $curious-blue-light;
    width: 9.5rem;
    border: none;
    padding: 0.25rem;
    font-size: 0.875rem;
    color: $pickled-bluewood;
  }
}

.pi-download {
  margin-right: 0.5rem;
}

.pi-star-fill {
  color: $picton-blue;
}