<div
	#sidebar
	class="sidebar">
	<div class="header">
		<div class="file">{{ fileName }}</div>
		<div class="add-group">
			<button (click)="addGroup(); false"><span class="pi pi-plus"></span></button>
			<button (click)="collapseAll(); false"><span class="pi pi-angle-double-up"></span></button>
		</div>
	</div>
	<tree-root
		[nodes]="groups"
		[options]="treeOptions">
	  <ng-template #treeNodeTemplate let-node let-index="index">
			<ng-container *ngIf="(isGroupRenamed$ | async) && selectedGroup?.data.id === node.data.id; else groupName">
				<input
					type="text"
					appBlurEnter
					appAutofocus
					[(ngModel)]="node.data.name"
					[ngModelOptions]="{'updateOn': 'blur'}"
					(blur)="setGroupRenameModeOff(node)"
					spellcheck="false"
					maxlength="20"
					class="rename-group"/>
			</ng-container>
			<ng-template #groupName>
				<div class="node-group-name">{{ node.data.name }}</div>
			</ng-template>
		</ng-template>
	</tree-root>
	<div *ngIf="selectedGroup" class="selected-entries">
		<div class="group-name">{{ selectedGroup.data.name }}</div>
		<div>S: {{ selectedEntries.length }}</div>
		<div>T: {{ passwordEntries.length }}</div>
	</div>
</div>

<p-contextMenu
	#groupContextMenu
	data-prevent-entry-deselect
	[model]="groupContextMenuItems"
	[target]="sidebar"
	(onShow)="onGroupContextMenuShow()"
	styleClass="group-contextmenu">
</p-contextMenu>