@import 'themes/light/variables';

.dialog-message {
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: var(--primary-font);
  font-size: 0.875rem;

  li {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}