<div class="brand">
  <h1 class="title">
    <img [src]="logoURL" class="brand-logo"> {{ 'PRODUCT-NAME' | translate }}
  </h1>
</div>
<div class="container">
  <form #ngForm (ngSubmit)="onLoginSubmit($event)" [formGroup]="loginForm">
  <p-card class="sign-in">
    <app-loading-overlay *ngIf="isOverlayActive"></app-loading-overlay>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
              <input type="password" formControlName="password" pInputText placeholder="Password">   
          </div>
          <p-message
            *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty"
            severity="error"
            text="Password is required">
          </p-message>
          <p-message
            *ngIf="isInvalid"
            severity="error"
            text="Password is invalid">
          </p-message>
      </div>
  </div>
    <p-footer>
      <a [routerLink]="['/dashboard']" class="navigate-dashboard">Go to Dashboard</a>
      <button pButton type="submit" label="OK" class="ui-button-success"></button>
    </p-footer>
  </p-card>
  </form>
</div>