button {
	user-select: none;
}

input,
button {
	outline: none !important;
	box-shadow: none !important;
}

.primary-btn {
	@include font-regular;
	border: 0;
	line-height: 1;
	padding: 0.875rem 1.625rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	color: var(--primary-btn-text);
	background-color: var(--primary-btn-bg);
	width: auto;
	min-width: 100px;
	position: relative;
	z-index: 100;
	transition: all 150ms;
	cursor: pointer;
	text-transform: uppercase;

	&:hover {
		background-color: var(--primary-btn-bg--hover);
	}

	&:focus-visible {
		background-color: var(--primary-btn-bg--hover);
		outline: 2px solid #aedaff !important;
		outline-offset: 3px !important;
	}

	&:disabled {
		cursor: default;
		background-color: var(--border-color);

		&:hover {
			box-shadow: none !important;
		}
	}
}

.secondary-btn {
	@include toolbar-btn;
	background-color: var(--secondary-btn-bg);
	color: var(--secondary-btn-text);

	&:disabled {
		background-color: var(--secondary-btn-bg--disabled);
		color: var(--secondary-btn-text--disabled);
		cursor: default;

		&:hover::after {
			display: none;
		}

		&:active {
			transform: translateY(0);
		}
	}
}

.text-btn {
	@include font-regular;
	display: flex;
	color: var(--text-btn-text);
	background-color: var(--text-btn-bg);
	line-height: 1;
	padding: 0.875rem 1.625rem;
	border: 1px solid transparent;
	font-size: 0.875rem;
	border-radius: 0.25rem;
	transition: background-color 50ms;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;

	&:hover {
		color: var(--primary-text);
		background-color: var(--tabset-btn-bg--hover);
	}

	&:focus, &.active {
		color: var(--primary-text);
		outline: 2px solid #aedaff !important;
		outline-offset: 3px !important;
	}

	&:disabled {
		color: $grey-300;
    cursor: default;

    &:hover {
      background-color: transparent;
    }
	}

	.pi {
		margin-right: 0.5rem;
	}
}

.action-btn {
	@include font-regular;
	cursor: pointer;
	border: 0;
	outline: 0;
	color: var(--action-btn-text);
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--action-btn-bg);
	border-radius: 0.25rem;
	position: relative;

	i-feather {
		color: var(--primary-text) !important;
		width: 1.25rem !important;
		height: 1.25rem !important;
		margin: 0 !important;
	}

	&.active {
		background: $blue-200;

		&:hover,&:focus {
			i-feather {
				color: var(--primary-btn-text) !important;
			}
		}

		i-feather {
			color: var(--primary-btn-text) !important;
		}
	}

	&:first-child {
		padding-top: 0;
	}

	&:hover {
		color: $blue-300;

		i-feather {
			color: $blue-300 !important;
		}
	}

	&:focus-visible:not(:hover) {
		outline: 2px solid $barberry !important;
	}
}

.dropdown-btn {
	@include font-regular;
	display: flex;
	align-items: center;
	line-height: 1;
  font-size: 0.875rem;
	color: var(--primary-text);
	background-color: var(--primary-bg);
  border: none;
  cursor: pointer;
	transition: color 100ms;
	width: auto;
	padding: 0 0.5rem 0;
	justify-content: flex-start;
	-webkit-font-smoothing: antialiased;

	&:hover {
		background: $grey-100;
	}

	&:hover, &:visited, &.active {
		color: var(--primary-text);
	}

	&.active {
		border-bottom-right-radius: 0;
		color: var(--primary-text);
	}

	&:focus-visible {
		color: var(--primary-text);
	
		&.icon-btn {
			&:focus:not(:hover) {
				outline: 2px solid $barberry !important;
			}
		}
	
		&.icon-btn .pi {
			color: var(--primary-text);
		}
	}
}