@mixin font-regular {
  font-family: 'roboto-regular', sans-serif;
}

@mixin font-medium {
  font-family: 'roboto-medium', sans-serif;
}

@mixin font-bold {
  font-family: 'roboto-bold', sans-serif;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  &::-webkit-scrollbar{
    position: relative;
    height: 8px;
    width: 8px;
    z-index: 999;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
  }

  &::-webkit-scrollbar-track {
    display: none;
  }
}

@mixin scrollbar-hover {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  &::-webkit-scrollbar{
    position: relative;
    height: 8px;
    width: 8px;
    z-index: 999;
  }

  &::-webkit-scrollbar-thumb {
    /* add border to act as background-color */
    border-right-style: inset;
    /* sum viewport dimensions to guarantee border will fill scrollbar */
    border-right-width: calc(100vw + 100vh);
    /* inherit border-color to inherit transitions */
    border-color: inherit;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }
}

@mixin default-table-row {
  display: flex;
  align-items: center;
  box-shadow: none;
  outline: none;
  transition: all 50ms;
  user-select: none;
  height: 54px;
  
  > div {
    box-shadow: none !important;
    outline: none !important;
    user-select: none;
  }
}

@mixin toolbar-btn {
  @include font-medium;
  position: relative;
  border: 0;
  outline: 0;
  font-size: 0.875rem;
  line-height: 0.875rem;
	padding: 1rem 1.625rem;
	display: flex;
	align-items: center;
	background: $white;
	color: $curious-blue;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: transform 100ms;
  text-transform: uppercase;

	&:hover:not(:disabled) {
    background: $curious-blue-light;
    color: $pickled-bluewood;
  }

  &:focus {
    background: $curious-blue-light;
    outline: 3px solid $barberry !important;
  }
}