@import '../base-variables';

@mixin light-theme {
	// TYPOGRAHPY
	--primary-text: #{$blue-400};
	--secondary-text: #{$grey-500};

	// BACKGROUNDS
	--primary-bg: #{$white};
	--secondary-bg: #{$blue-100};
	--input-bg: #{$white};
	--input-bg-secondary: #{$grey-100};
	--modal-bg: #{$white};
	--input-modal-bg: #{$grey-100};
	--tooltip-bg: #{#000000b3};
	--context-menu-bg: #{$white};

	// BRAND
	--brand-color: #{#1b81d7};

	// LIST ITEM
	--list-item-bg--hover: #{$grey-100};
	--list-item-bg--active: #{lighten($blue-100, 7)};

	// SCROLLBAR
	--scrollbar-thumb: #{#00000033};
	--scrollbar-track: #{$grey-100};

	// CHECKBOX
	--checkbox-bg: #{$grey-200};
	--checkbox-bg--checked: #{$blue-300};

	// ADD ENTRY CTA BUTTON
	--add-entry-cta-text: #{$white};
	--add-entry-cta-bg: #{$blue-300};
	--add-entry-text--disabled: #{$blue-300};
	--add-entry-bg--disabled: #{rgba(255, 255, 255, 0.6)};
	--add-entry-cta-bg--hover: #{darken($blue-300, 7)};

	// PRIMARY BUTTTON
	--primary-btn-text: #{$white};
	--primary-btn-text--hover: #{$blue-250};
	--primary-btn-bg: #{$blue-250};
	--primary-btn-bg--hover: #{darken($blue-300, 7)};

	// SECONDARY BUTTON
	--secondary-btn-text: #{$black-900};
	--secondary-btn-bg: #{#dddddd};
	--secondary-btn-text--disabled: rgba(25, 29, 30, 0.3);
	--secondary-btn-bg--disabled: #{#f0f0f0};

	// ACTION ICON BUTTON
	--action-btn-text: #{$blue-400};
	--action-btn-bg: #{lighten($blue-100, 7)};

	// TEXT BUTTON
	--text-btn-text: #{$blue-300};
	--text-btn-bg: #{$grey-100};

	// TABSET BUTTON
	--tabset-btn-bg: #{$grey-100};
	--tabset-btn-text--hover: #{$blue-300};
	--tabset-btn-bg--hover: #{darken($grey-100, 7)};

	// TOOLBAR BUTTON
	--toolbar-dropdown-bg: #{#dddddd};
	--toolbar-dropdown-item--hover: #{$grey-100};

	// SETTINGS BUTTON
	--settings-btn-bg: #{$blue-250};
	--settings-btn-bg--hover: #{$blue-400};

	--toolbar-btn-bg--hover: #{rgba($blue-100, 40%)};

	// DROPDOWN
	--dropdown-shadow: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
	--dropdown-bg: #{$white};
	--dropdown-text--disabled: #{$grey-300};
	--dropdown-list-item-bg--hover: #{$grey-100};

	// NOTIFICATION
	--notification-bg: #{$white};
	--notification-bg--success: #{#e6faf3};
	--notification-bg--error: #{#ff9898};

	// EXPANDABLE SECTION
	--expandable-bg: #{$grey-100};
	--expandable-bg--hover: #{darken($grey-100, 5)};

	// DRAG IMAGE
	--drag-image-bg: #{$grey-200};
	--drag-image-back-bg: #{darken($grey-200, 5)};
	--drag-image-element-bg: #{$white};

	// PASSWORD METER
	--password-meter-bg: #{$grey-300};
	--password-meter-border-color: #{darken($grey-300, 5)};

	// MISC
	--link-text: #{$blue-300};
	--label-text: #{#47639e};
	--error-text: #{$bright-red};
	--border-color: #{$grey-200};
	--input-inset-shadow: #{darken($grey-100, 1)};
	--icon-secondary: #{$grey-400};

	--base-animation-duration: #{$base-animation-duration};
}
