@import "../scss-variables";

@mixin light-theme {
  --primary-font: #{$blue-400};

  --primary-bg: #{$white};
  --secondary-bg: #{$blue-100};

  --input-bg: #{$white};
  --input-bg-secondary: #{$grey-100};

  --input-inset-shadow: #{darken($grey-100, 1)};

  --list-item-hover: #{$grey-100};
  --list-item-active: #{lighten($blue-100, 7)};

  --border-color: #{$grey-200};

  --modal-bg: #{$white};
  --modal-input-bg: #{$grey-100};

  --tooltip-bg: #{#000000b3};

  --scrollbar-thumb: #{#00000033};
  --scrollbar-track: #{$grey-100};

  --checkbox-checked-bg: #{$blue-300};
  --checkbox-bg: #{$grey-200};

  --add-entry-cta-text: #{$white};
  --add-entry-cta-bg: #{$blue-300};
  --add-entry-disabled-text: #{$blue-300};
  --add-entry-disabled-bg: #{rgba(255, 255, 255, 0.6)};
  --add-entry-cta-bg-hover: #{darken($blue-300, 7)};

  --primary-cta-text: #{$white};
  --primary-cta-text-hover: #{$blue-250};
  --primary-cta-bg: #{$blue-250};

  --toolbar-dropdown-bg: #{$white};
  --toolbar-dropdown-item-hover: #{$grey-100};

  --toolbar-btn-text: #{$blue-300};
  --toolbar-btn-bg: #{$white};

  --context-menu-bg: #{$white};

  --error-font: #{$bright-red};

  --tabset-bg: #{$grey-100};
  --tabset-bg-hover: #{darken($grey-100, 7)};
  --tabset-font-hover: #{$blue-300};

  --icon-secondary-color: #{$grey-400};

  --toolbar-disabled-bg: rgba(255, 255, 255, 0.6);
  --toolbar-disabled-font: #{$blue-300};

  --dropdown-shadow: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
  --dropdown-primary-bg: #{$white};
  --dropdown-disabled-font: #{$grey-300};
  --dropdown-list-item-hover: #{$grey-100};

  --menu-item-hover-bg: #{$grey-100};

  --settings-button-bg: #{$blue-250};
  --settings-button-bg-hover: #{$blue-400};

  --link-font: #{$blue-300};

  --notification-bg: #{$white};
  --notification-success-bg: #{#e6faf3};
  --notification-error-bg: #{#ff9898};
}
