<div class="table">
	<div class="table-header">
		<div class="row">
			<div class="col">Title</div>
			<div class="col">Username</div>
			<div style="text-align: center">Severity</div>
		</div>
	</div>
	<div class="table-body">
		@for (entry of entries; track entry.id) {
			<div class="row">
				<div class="col">{{ entry.title }}</div>
				<div class="col">{{ entry.username }}</div>
				<div>
					<div class="score level-{{ entry.score }}" [ngSwitch]="entry.score">
						<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
							<circle cx="8" cy="8" r="8" />
						</svg>
					</div>
				</div>
				<div>
					<a href="#" aria-label="Edit" (click)="editEntry(entry.id); (false)"
						><i-feather name="edit"></i-feather
					></a>
				</div>
			</div>
		}
	</div>
</div>
