@import 'variables';
@import 'mixins';

:host {
	display: flex;
	position: relative;
	width: 24rem;
	z-index: 0;
	font-size: 0.875rem;
}

.section.quick-actions {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	margin-top: 0.75rem;
}

.details-container {
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	transition: background-color 50ms;

	i {
		color: $curious-blue;
		cursor: pointer;
		margin-left: 0.25rem;
	}

	.content {
		height: 100%;
		border-color: rgba(0,0,0,0);
		transition: border-color 150ms;
		padding: 0 1rem;
		overflow: auto;
		@include scrollbar-hover;
	
		&:hover {
			border-color: rgba(0,0,0,0.2);
		}

		p {
			margin: 0.25rem 0;
		}
	}
}

.new-update {
	font-size: 0.875rem;
}

.active .pi {
	color: $white;
}

.pi-exclamation-circle {
	cursor: pointer;
	color: $red-orange;
}

.url-protocol {
	color: $grey-text;
}

.expired {
	color: $red-orange;
}

.due-expiration {
	color: $tulip-tree;
}

.copy {
	display: inline-flex;
	align-items: center;

	.pi {
		font-size: 1.25rem;
		color: $gumbo;

		&:hover {
			color: $curious-blue;
		}

		&:focus:not(:hover) {
			outline: 3px solid $barberry !important;
		}
	}
}

.section {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	word-break: break-all;
	color: $pickled-bluewood;
	margin-right: 0.75rem;

	&.column {
		flex-direction: column;
		align-items: flex-start;
	}

	.label {
		@include font-medium;
	}

	a {
		color: $curious-blue;
	}
}

.subsection {
	flex: 1;
	margin: 0;
}

.small {
	margin: 2rem 0 1rem;
	text-align: center;

	.section {
		font-size: 0.75rem;
		color: $grey-text;
		margin: 0.25rem 0;

		p {
			margin: 0;
		}
	}
}

.group {
	.section {
		display: block;
		flex: 1;
	}

	p:last-child {
		margin-bottom: 0 !important;
	}
}

.header .pi {
	color: $gumbo;
	margin: 0 0.25rem;
}