<div
	data-prevent-entry-deselect
	class="details-container"
	[ngClass]="{ 'database-summary': !isEntrySelected }">
	<ng-container *ngIf="isEntrySelected; else databaseDetails">
		<div class="header">{{ group?.name }} <ng-container *ngIf="entry?.title"><i class="pi pi-angle-right"></i> {{ entry.title }}</ng-container></div>
		<div class="content">
			<div *ngIf="shouldDisplayToolbar" class="section quick-actions">
				<button
					#toggleStarBtn
					[attr.aria-label]="entry?.isStarred ? 'Remove from favorites' : 'Add to favorites'"
					appTooltip="Favorite"
					class="action-btn"
					[ngClass]="{ 'active': entry?.isStarred }"
					(click)="toggleStarred(entry)">
					<span [@star]="isFavoriteAnimationInProgress" (@star.done)="isFavoriteAnimationInProgress = false" class="pi pi-star"></span>
				</button>
				<button aria-label="Entry history" appTooltip="History" (click)="openEntryHistory()" class="action-btn">
					<span class="pi pi-book"></span>
				</button>
				<button
					*ngIf="entry.url"
					attr.aria-label="'Open {{ isUnsecured ? 'unsecured' : '' }} link"
					appTooltip="Open {{ isUnsecured ? 'unsecured' : '' }} link"
					(click)="openUrl(entry.url)"
					class="action-btn">
					<span class="pi pi-external-link"></span>
				</button>
			</div>

			<div *ngIf="entry?.expirationStatus === 'expired' || entry?.expirationStatus === 'due-expiration'" class="section">
				<p [ngClass]="entry.expirationStatus ?? ''">
					<ng-container *ngIf="entry.expirationStatus === 'due-expiration'">Password will expire {{ entry.expirationDate | timeRemaining: 'day' }}</ng-container>
					<ng-container *ngIf="entry.expirationStatus === 'expired'">Password has expired</ng-container>
				</p>
			</div>

			<div *ngIf="entry?.url" class="section">
				<div class="subsection">
					<p class="label">URL <span appTooltip="http:// protocol is not secure. Use https if possible" *ngIf="isUnsecured" class="pi pi-exclamation-circle"></span></p>
					<p class="word-wrap"><span class="url-protocol">{{ isUnsecured ? 'http://' : 'https://' }}</span><a (click)="openUrl(entry?.url)" href="#">{{ entry?.url | link }}</a></p>
				</div>
			</div>

			<div *ngIf="entry?.username" class="section">
				<div class="subsection">
					<p class="label">Username</p>
					<p>{{ entry?.username }}</p>
				</div>
				<div>
					<a href="#" class="copy" (click)="copyToClipboard(entry, 'username'); false"><i class="pi pi-copy" appTooltip="Copy"></i></a>
				</div>
			</div>

			<div *ngIf="entry?.password" class="section">
				<div class="subsection">
					<p class="label">Password</p>
					<p>••••••</p>
				</div>
				<div>
					<a href="#" class="copy" (click)="copyToClipboard(entry, 'password'); false"><i class="pi pi-copy" appTooltip="Copy"></i></a>
				</div>
			</div>

			<div *ngIf="entry?.notes" class="section column">
				<p class="label">Notes</p>
				<p>{{ entry?.notes }}</p>
			</div>

			<div *ngIf="entry?.expirationDate" class="section">
				<div class="subsection">
					<p class="label">Expiration date</p>
					<p>{{ entry?.expirationDate | date: "dd/MM/yyyy" }}</p>
				</div>
			</div>

			<div class="small">
				<div *ngIf="entry?.creationDate" class="section">
					<p>Creation date: {{ entry?.creationDate | date: "dd/MM/yyyy HH:mm" }}</p>
				</div>
				<div *ngIf="entry?.lastModificationDate" class="section">
					<p>Modification date: {{ entry?.lastModificationDate | date: "dd/MM/yyyy HH:mm" }}</p>
				</div>
			</div>
		</div>
	</ng-container>
</div>

<ng-template #databaseDetails>
	<div class="header">Database details</div>
	<div class="content" *ngIf="config">
		<div class="section">
			<div class="subsection">
				<p class="label">File name</p>
				<p>{{ databaseInformation.name }}</p>
			</div>
		</div>
		<div class="section">
			<div class="subsection">
				<p class="label">Encryption algorithm</p>
				<p>AES-256</p>
			</div>
		</div>
		<div class="section">
			<div class="subsection">
				<p class="label">Autotype shortcut</p>
				<p>
				 {{ config.autocompleteShortcut }}
				 <span *ngIf="!config.autoTypeEnabled" class="validation-error">(disabled)</span>
				 <i class="pi pi-info-circle" (click)="openAutotypeInformation()"></i>
			 </p>
			</div>
		</div>
		<div class="section">
			<div class="subsection">
				<p class="label">Autotype password only shortcut</p>
				<p>
				 {{ config.autocompletePasswordOnlyShortcut }}
				 <span *ngIf="!config.autoTypeEnabled" class="validation-error">(disabled)</span>
				 <i class="pi pi-info-circle" (click)="openAutotypeInformation()"></i>
			 </p>
			</div>
		</div>
	</div>
</ng-template>

<div
	appSidebarHandle
	position="left">
</div>
