<div
	data-prevent-entry-deselect
	class="details-container"
	[ngClass]="{ 'database-summary': !isEntrySelected }">
	<ng-container *ngIf="isEntrySelected; else databaseDetails">
		<div class="header">{{ group?.name }} <ng-container *ngIf="entry?.title"><i-feather name="chevron-right"></i-feather> {{ entry.title }}</ng-container></div>
		<div class="content">
			<div *ngIf="shouldDisplayToolbar" class="section quick-actions">
				<button
					#toggleStarBtn
					[attr.aria-label]="entry?.isStarred ? 'Remove from favorites' : 'Add to favorites'"
					appTooltip="Favorite"
					class="action-btn"
					[ngClass]="{ 'active': entry?.isStarred }"
					(click)="toggleStarred(entry)">
					<i-feather [@star]="isFavoriteAnimationInProgress" (@star.done)="isFavoriteAnimationInProgress = false" name="star"></i-feather>
				</button>
				<button aria-label="Entry history" appTooltip="History" (click)="openEntryHistory()" class="action-btn">
					<i-feather name="book"></i-feather>
				</button>
				<button
					*ngIf="entry.url"
					attr.aria-label="'Open {{ isUnsecured ? 'insecure' : '' }} link"
					appTooltip="Open {{ isUnsecured ? 'insecure' : '' }} link"
					(click)="openUrl(entry.url)"
					class="action-btn">
					<i-feather name="external-link"></i-feather>
				</button>
			</div>

			<div *ngIf="entry?.url" class="section">
				<div class="subsection">
					<p class="label">URL <i-feather appTooltip="http:// protocol is not secure. Use https if possible" *ngIf="isUnsecured" name="alert-circle" class="url-alert-icon"></i-feather></p>
					<p class="word-wrap"><span class="url-protocol">{{ isUnsecured ? 'http://' : 'https://' }}</span><a (click)="openUrl(entry?.url)" href="#">{{ entry?.url | link }}</a></p>
				</div>
			</div>

			<div *ngIf="entry?.username" class="section">
				<div class="subsection">
					<p class="label">Username</p>
					<p>{{ entry?.username }}</p>
				</div>
				<div>
					<a href="#" class="copy" (click)="copyToClipboard(entry, 'username'); false"><i-feather name="copy" appTooltip="Copy"></i-feather></a>
				</div>
			</div>

			<div *ngIf="entry?.password" class="section">
				<div class="subsection">
					<p class="label">Password</p>
					<p>••••••</p>
				</div>
				<div>
					<a href="#" class="copy" (click)="copyToClipboard(entry, 'password'); false"><i-feather name="copy" appTooltip="Copy"></i-feather></a>
				</div>
			</div>

			<div *ngIf="entry?.notes" class="section column">
				<p class="label">Notes</p>
				<p class="pre-wrap">{{ entry?.notes }}</p>
			</div>

			<div class="small">
				<div *ngIf="entry?.creationDate" class="section">
					<p>Creation date: {{ entry?.creationDate | date: "dd/MM/yyyy HH:mm" }}</p>
				</div>
				<div *ngIf="entry?.lastModificationDate" class="section">
					<p>Modification date: {{ entry?.lastModificationDate | date: "dd/MM/yyyy HH:mm" }}</p>
				</div>
			</div>
		</div>
	</ng-container>
</div>

<ng-template #databaseDetails>
	<div class="header">Database details</div>
	<div class="content" *ngIf="config">
		<div class="section">
			<div class="subsection">
				<p class="label">File name</p>
				<p>{{ databaseInformation.name }}</p>
			</div>
		</div>
		<div class="section">
			<div class="subsection">
				<p class="label">Encryption algorithm</p>
				<p>AES-256</p>
			</div>
		</div>
		<div class="section">
			<div class="subsection">
				<p class="label">Autotype shortcut</p>
				<p>
				 {{ config.autocompleteShortcut }}
				 <span *ngIf="!config.autoTypeEnabled" class="validation-error">(disabled)</span>
				 <i-feather name="info" (click)="openAutotypeInformation()"></i-feather>
			 </p>
			</div>
		</div>
		<div class="section">
			<div class="subsection">
				<p class="label">Password only autotype shortcut</p>
				<p>
				 {{ config.autocompletePasswordOnlyShortcut }}
				 <span *ngIf="!config.autoTypeEnabled" class="validation-error">(disabled)</span>
				 <i-feather name="info" (click)="openAutotypeInformation()"></i-feather>
			 </p>
			</div>
		</div>
	</div>
</ng-template>

<div
	appSidebarHandle
	position="left">
</div>
